[2018-01-02 02:04] aspnet-hello commented on #363
This issue was moved to aspnet/Home#2669

[2018-01-02 02:04] #363 closed

[2018-01-02 02:05] aspnet-hello commented on #348
This issue was moved to aspnet/Home#2670

[2018-01-02 02:05] #348 closed

[2018-01-02 02:05] aspnet-hello commented on #330
This issue was moved to aspnet/Home#2671

[2018-01-02 02:05] #330 closed

[2018-01-02 02:05] aspnet-hello commented on #325
This issue was moved to aspnet/Home#2672

[2018-01-02 02:05] #325 closed

[2018-01-02 02:06] aspnet-hello commented on #242
This issue was moved to aspnet/Home#2673

[2018-01-02 02:06] #242 closed

[2018-01-02 02:06] aspnet-hello commented on #236
This issue was moved to aspnet/Home#2674

[2018-01-02 02:06] #236 closed

[2018-01-02 21:56] Eilon opened #505 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-01-10 18:50] jbagga commented on #441
This issue was moved to aspnet/Home#2765

[2018-01-10 18:50] #441 closed

[2018-03-03 16:29] mohsenwolf commented on #324
how can we write somthing like this
[Route("api/test/{number=12:regex(\\d{2})}")]

[2018-03-04 01:12] rynowak commented on #324
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-03-27 09:31] ststeiger opened #512 "Shouldn't a routing constraint constructor use DI ?"
I have a routing constraint that limites entity names to db tables (mapped in EF-Core).

To do this, I have this:

[code]

[code]

Now, the problem is, I can't get the EntityContext via DI in the constructor of the constraint.
Therefore, I need to get it via httpContext.RequestServices, which I find a bit odd, as this doesn't need to be done on a per-request basis.

So I have to always check on ev

[2018-03-27 17:00] mkArtakMSFT commented on #512
@pranavkm can you please look into this, thanks!

[2018-03-27 17:14] pranavkm commented on #512
@rynowak is more familiar with this area, in particular if adding this feature would affect the dispatcher changes.

[2018-03-28 01:11] rynowak commented on #512
DbContext is scoped, route constraints have application lifetime.

I would suggest resolving the DbContext per-request. When you constraint gets invoked you are provided the current `HttpContext`, which should allow you to resolve per-request services like the `DbContext`.

You can find an example of a contraint that resolves services here:
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspN

[2018-03-28 13:22] ststeiger commented on #512
Per request ?
Why I would want to resolve the db-context on a per-request basis ?
What for ? Multi-tenant application with single-tenant database based on the host-header ?
Makes no sense IMHO, and introduces way to much latency, plus needlessly puts mindless load on the database.

When I fetch the tables in the application, I do this only once, and then it's read-only during application-lifetime.

[2018-04-03 18:54] dougbu opened #513 "RedirectToAction with Non-English Characters in Parameters and Authentication Causes Error"
_From @busyscout on March 22, 2018 15:50_

By default Asp.Net Core encodes non-english characters in view.
Let's create a very simple controller:
[code]
and a very simple View, which greets a user:
[code]
If `Name` contains non-english characters (e.g. Jörn) it gets encoded:
[code]
If we don't want this kind of encoding there is a way to turn it off. We need to add this line of code to `Startup.cs

[2018-04-03 18:54] dougbu commented on #513
_From @mkArtakMSFT on March 28, 2018 21:34_

Thanks for contacting us, @busyscout. Can you please share a sample repro project with us to investigate?

[2018-04-03 18:54] dougbu commented on #513
_From @mkArtakMSFT on March 28, 2018 21:34_

@dougbu, can you please investigate this? Thanks

[2018-04-03 18:54] dougbu commented on #513
What's changing here is actually at a lower level: If `services.AddWebEncoders(...)` is called before Routing's configuration calls `services.TryAddSingleton(UrlEncoder.Default)` then changes to `WebEncoderOptions` matter w.r.t. the `UrlEncoder` Routing uses. Otherwise, changes to `WebEncoderOptions` are ignored. That's a configuration issue in the Routing repo.

I'll move this issue to that repo.

[2018-04-03 22:37] mkArtakMSFT commented on #513
@kichalla, can you please look into this? Thanks!

[2018-04-09 23:46] dougbu commented on #513
To clarify my [earlier comment](https://github.com/aspnet/Routing/issues/513#issuecomment-378366862):

My crossed-out suggestion is a terribly bad idea for Routing. Routing _might_ need to call `AddWebEncoders()` for back-compatibility reasons. But, it should otherwise ignore whatever `UrlEncoder` may or may not be found in DI. Routing must use a `UrlEncoder` that unconditionally encodes all non-A

[2018-06-04 20:52] mkArtakMSFT commented on #505
@Eilon, I'm closing this issue as we're reopening this repo for the Dispatcher work.

[2018-06-04 20:52] #505 closed

[2018-06-04 22:12] JamesNK opened #523 "Dispatching - BIG ROCKS"
## Routing feature parity
- [x] Identify routing features wanted but missing in dispatching prototype
- [x] Identify routing features that are low-value and cause performance problems
- [x] URL generation (not part of prototype) - https://github.com/aspnet/Routing/issues/531

## Addressing Gaps
- [x] Add support for HTTP method filtering/disambiguation - https://github.com/aspnet/Routing/issues/53

[2018-06-05 09:57] JamesNK opened #524 "Move Routing build for Windows from AppVeyor to Jenkins"
Routing is currently using AppVeyor. Lets:

- [ ] Enable build on Jenkins
- [ ] Disable AppVeyor

As far as I know routing uses nothing beyond .NET on build.

[2018-06-05 11:55] leastprivilege commented on #523
being able to attach authorization policies to routes would be a nice addition.

[2018-06-06 02:11] JamesNK opened #527 "MVC integration - endpoint matching"
- [x] Update abstractions
- [x] Invoke MVC action via conventional route
- [x] Invoke MVC action via attribute route

[2018-06-06 02:43] JamesNK opened #530 "MVC Integration - IUrlHelper implementation"
## Requirements
- Works with both conventional and attribute routing
- Can generate links based on 'route name'
- Can generate links just based on route values.
- Attribute routing's link generation should match what conventional routing is doing

[2018-06-06 02:49] JamesNK opened #531 "Dispatching URL generation"
# Overview
Dispatcher is a system which has deep knowledge of a set of endpoints and routes that make up an application. We need to provide a URL generation system that reflects the richness of this data but can be used by existing customers of Routing URL generation (MVC).

## Risks/Challenges
- We want existing users to migrate to Dispatcher work and since this is a point release, we do not want

[2018-06-06 02:57] JamesNK commented on #530
@rynowak So MVC provides a data source for endpoints, and MVC also needs to consume the data source for generating URLs. I'm guessing when generating URLs that should MVC care about more than just its own data source?

[2018-06-06 09:20] JamesNK commented on #524
Apparently VSTS build is the new hotness and it is close to being ready. This is not at all urgent so will wait to see where buildworld goes.

[2018-06-06 15:21] rynowak commented on #524
OK cool. I know @ryanbrandenburg has been looking into that. @ryanbrandenburg if you need a guinea pig, you can use us!

[2018-06-06 16:57] ryanbrandenburg commented on #524
I've got a couple repos that are being done first because they're likely to work out the kinks in our setup, but it'll be on the way soon. One thing though is that at least for now we'll only be running PR checks for PR's originating from the main fork, so external contributors wouldn't get anything if we turn off AppVeyor.

[2018-06-06 22:17] JamesNK opened #533 "Route matching benchmarks"

[2018-06-06 22:21] JamesNK opened #534 "MVC IActionConstraint like functionality"
Current routing supports selecting the correct action via `IActionSelector` and `IActionConstraint`. Implement similar (or same) ability in dispatching. Design required.

[2018-06-06 22:23] JamesNK opened #535 "Support for HTTP method filtering/disambiguation"
Current routing does not support HTTP method. Close this gap in dispatching.

[2018-06-06 22:32] JamesNK opened #537 "Update AuthZ middleware to use dispatcher"

[2018-06-06 22:34] JamesNK opened #538 "Public API review"
Review public API prior to RC.

[2018-06-06 22:35] rynowak commented on #538
Can't review the public API if you want have one...

[2018-06-06 22:41] JamesNK opened #539 "Consider adding a feature for catchall that roundtrips / characters"
Tracking issue for https://github.com/aspnet/Home/issues/2669#issuecomment-395226030

Questions: Will new segment type be dispatching only or will it also be added to OG routing?

[2018-06-06 22:50] JamesNK commented on #538
Pardon? By review I mean just going through all the new public types, e.g. IEndpointFeature, Endpoint, etc, and make sure we are happy with the names, namespaces, etc.

[2018-06-06 22:57] kichalla commented on #530
Could you elaborate more on that? Not clear on what you meant here.

At this point I am thinking of the following about this: You can @rynowak can correct me if I am missing something:
**Scenario**:  We should be able to generate links outside the context of a request
My thoughts:
In general, we should be able to go through a route table and find a matching route which satisfies the segments (and

[2018-06-06 23:05] JamesNK commented on #530
Endpoints are generated from MVC route constraints. In the same app endpoints can also be defined outside MVC, either manually or other frameworks supplying a data source.

I'm guessing that when we generate URLs inside MVC the URLs should consider all data sources, not just MVCs.

[2018-06-07 04:07] rynowak commented on #538
It was a joke, I suppose we'll have to review those too

[2018-06-07 04:39] rynowak commented on #530
Yes I agree.

One thing that I think it central to the value proposition is that we want to separate the lookup of the addresses, from the processing of the templates. I think a good URL generation system will be two-phase.

I think what exactly I mean by this will become a little more clear.

-----

In general the existing code operates at two different layers, and also in two ways (just providin

[2018-06-07 16:59] kichalla commented on #530
Thanks for the write up!, @rynowak. I am digesting this information now and will let you know if I have any questions.

[2018-06-07 17:15] kichalla commented on #531
Usage of ambient values in link generation has surprised users for a while now. At this point I think we could probably provide options globally or at call site to disable using ambient values.
Related issue: https://github.com/aspnet/Mvc/issues/7857

[2018-06-07 17:47] rynowak commented on #530
# SO

So, I slept on this discussion, and I concerned that we're getting ahead of ourselves. Do think it would be productive to use the top post, to track what the requirements are in this area. I'm worried that @JamesNK and @kichalla are still missing some context on what we're building in this area. It wouldn't be fun or fair to send you off to invent something without discussion what problems w

[2018-06-07 18:00] kichalla commented on #530
Sure @rynowak I am working on that actually. I will share the requirements in this thread asap.

[2018-06-07 19:37] rynowak commented on #530
Related to this, here's the brain dump I promised on route value invalidation: https://gist.github.com/rynowak/174c46b31f52d9674b55bf27dbf8b19d

[2018-06-08 03:46] JamesNK commented on #535
How baked into dispatching and endpoints do we want HTTP method matching?

Current routing doesn't care and relies on `IActionSelector`. Do we want to continue to have the filter on HTTP happen in a later selector method (still inside routing) or have it filtered along with the template.

Will there be performance benefits by not having to rely on a selector method to filter a list of candidates d

[2018-06-08 04:04] rynowak commented on #535
These sound like great questions to answer 😆

I think we have the freedom to bake it in. I think if we keep it separate (inside MVC) then we'll need to solve the problem again and again.

[2018-06-08 21:10] kichalla opened #544 "Link generation: Discard ambient values unless routing to the same address"
Today ambient values are handled inconsistently across Conventional and Attribute routing.
**Conventional Routing**: Ambient values are ignored when trying to link to a different action
**Attribute Routing**: Ambient values are honored in this case.

We want ambient values to be removed when generating links to addresses other than own.

[2018-06-08 21:10] kichalla commented on #544
More detail: https://gist.github.com/rynowak/174c46b31f52d9674b55bf27dbf8b19d

[2018-06-09 00:56] JamesNK opened #545 "Routing IRouteConstraint like functionality"
Routes today support `IRouteConstraint` (note that this is different from MVC's `IActionConstraint`) for ensuring checking that a route parameter is value for that constraint, e.g. the `id` parameter on a route is an integer.

[2018-06-09 01:10] JamesNK commented on #534
@rynowak What on your thoughts on where `IActionConstraint` (`IEndpointConstraint`?) like functionality would live?

Will it be embedded inside the `Matcher` and the matcher is responsible for returning a final endpoint?

Alternatively would the matcher return a list of possible endpoints to something like `IEndpointSelector` and it would then select the best match using configured constraints?

[2018-06-09 04:00] JamesNK commented on #535
I didn't mean leaving it to MVC, I meant whether the filtering to happen as part of the matcher or have a post matcher filtering. See https://github.com/aspnet/Routing/issues/534

[2018-06-09 17:19] kichalla opened #547 "Link generation: Expose options to configure link generation at the call site and globally"
- fully qualified URLs
- Casing
- trailing slashes

[2018-06-09 22:27] rynowak commented on #534
I think these are implementation details, so we have the flexibility to do whatever works best for us. If that's inside the matcher, then sure. Remember, it's a explicitly a non-goal to make part of the **dispatcher system** replaceable - so if we do factor it into two concerns then it should be internal 😆

What I mean by this is that we want users to do things like implement a versioning policy,

[2018-06-10 01:49] JamesNK commented on #534
Thanks for the detail! I started going down the path of having `IActionSelector` and it felt a little wrong. I'll roll that back and place constaining endpoints inside the matcher.

I'd like to pick your brain a bit more on the design but what I'm going to do short term is copy `IActionConstraint` across largely unchanged, get the same unit tests from MVC setup and running, and then we refactor th

[2018-06-11 17:53] rynowak commented on #534
Sounds great!

[2018-06-12 00:50] JamesNK opened #550 "Allow for route initialization before the first request"
Tracking https://github.com/aspnet/Mvc/issues/6867

[2018-06-12 16:23] kichalla commented on #547
Related to https://github.com/aspnet/Routing/issues/531

[2018-06-12 22:19] kichalla opened #553 "Dispatcher link generation: Improve diagnostics"
- log when no endpoint was found.
- log when we have an endpoint but parameters and constraints are not satisfied.
- Maybe throw an exception when link generation fails as an option?

[2018-06-12 22:22] kichalla opened #554 "Dipatcher link generation should be 2-phase"
## URL generation should be 2-phase.
 Phase 1: Bind an address to a set of endpoints
 Phase 2: Expand a template associated with one of those endpoints

Address finders (phase 1) should be extensible.

**Phase 1:**
Find endpoint(s) by name (string) - we need to ship
Implement a finder that is compatible with MVC.

**Phase 2:**
Route templates and URL link generation should support current primitiv

[2018-06-12 22:52] JamesNK commented on #538
Prior to preview1 I'll review the public API myself.
Prior to RC I'll organize a meeting to review everything together.

[2018-06-13 01:36] JamesNK opened #556 "Swaggather build fails after clearing package cache"
1. Clear NuGet package cache
2. Run routing .\build.cmd
3. Build fails

[code]

@rynowak

[2018-06-13 01:38] JamesNK commented on #556
Something about the build is not restoring Newtonsoft.Json. Build succeeds otherwise when Newtonsoft.Json is already in package cache, which is pretty much always unless you've just cleared the cache.

[2018-06-13 03:48] rynowak commented on #556
Popular misconception, but the ASP.NET team doesn't own JSON.NET. I suggest logging an issue at https://github.com/JamesNK/Newtonsoft.Json - the guy that works on it is super helpful.

[2018-06-13 03:50] rynowak commented on #556
Is it possible that the swaggatherer isn't in the solution? I wonder if some targets are using the solution, but others aren't.

[2018-06-13 04:48] JamesNK commented on #527
@rynowak How do you imagine conventional routing will work?

Off the top of my head it would be a helper method inside MVC, called at startup like `MapRoute`/`MapAreaRoute`, that a dispatcher data source then uses to resolve the matched template's route values to an action using the equivilent of `ActionSelector.SelectCandidates`, and then filter to a final result using `SelectBestCandidate`.

War

[2018-06-13 05:44] rynowak commented on #527
Yes, that sounds about right. You might be able to reuse a lot of that code. Feel free to setup a call if there's more you want to discuss or confirm, but that's what I had in mind.

[2018-06-13 08:15] JamesNK opened #557 "Support 'defaults' with [action] syntax for attribute routes"
Tracking https://github.com/aspnet/Mvc/issues/3286

[2018-06-13 09:17] JamesNK commented on #527
It's almost like what I know what I'm doing 🍰

[2018-06-13 16:36] kichalla commented on #554
The linked issue a meta issue, IMO it should stray until all sub-items have been fixed?

[2018-06-13 20:56] JamesNK commented on #539
Issue is related to generating URLs with a catchAll.

[2018-06-14 03:05] JamesNK commented on #556
I'm not able to replicate this 🤷‍♂️

[2018-06-14 03:05] #556 closed

[2018-06-14 10:54] kichalla commented on #545
This needs to be addressed sooner than I imagined, so raising priority. cc @rynowak

[2018-06-14 11:21] kichalla opened #562 "MVC: Plan for a strategy to test functional tests against routing vs. dispatcher"
Ideally I would like to see how all the functional tests do when all their test websites run on Dispatcher too. But running both regular and dispatcher matrix leads to longer test time execution.

IMO, since we are in early stages of development of Dispatcher, it would really help us to get the feedback from these tests asap, even if it means longer test time execution. As a long term strategy onc

[2018-06-14 16:55] kichalla commented on #562
Requirements:
- Run all functional testing websites using routing & dispatcher
- Able to skip test for routing & dispatcher separately
- Reuse as much configuration as possible (ex: other middleware in between, like Cors, Authentication etc.) between a website's routing & dispatcher configuration

[2018-06-14 20:58] JamesNK commented on #562
Is the goal that you want to reuse the MVC routing website and functional tests for testing routing and dispatching?

[2018-06-14 22:38] kichalla opened #563 "Dispatcher link generation: Remove the tight coupling between address and endpoint"
Tracking feedback from here: https://github.com/aspnet/Routing/pull/546#discussion_r195511889

Currently Address is tightly coupled with a MatcherEndpoint and also an Address needs to be provided at the time of creation of an endpoint.
Provide a pluggable way to create addresses dynamically from endpoints.

[2018-06-14 22:40] kichalla opened #564 "Dispatcher link generation: Make address polymorphic"
From here: https://github.com/aspnet/Routing/pull/546/files#r195513644

[code]

[2018-06-14 22:44] kichalla opened #565 "Dispatcher link generation: Change ILinkGenerator interface to an abstract type to allow future expansion"
From here: https://github.com/aspnet/Routing/pull/546/files#r195514062

[code]

[2018-06-14 22:45] kichalla opened #566 "Dispatcher link generation: Remove usage of RouteTemplate from MatcherEndpoint"
From here: https://github.com/aspnet/Routing/pull/546/files#r195517026
[code]

[2018-06-14 22:50] JamesNK opened #567 "Conventional routing: Configuration"
Will look something like...

[code]

[2018-06-14 22:50] JamesNK opened #568 "Conventional routing: Endpoint matching"

[2018-06-15 00:29] rynowak commented on #562
I think it would be useful to try once and then add better tests if we find legit bugs. This approach in general doesn't scale well - it duplicates like 1000 tests (seriously). At some point we have to trust that we can do a good job identifying a set of meaningful tests for MVC's needs.

[2018-06-20 00:49] JamesNK opened #570 "Handle optional extension in conventional route via dispatching"
Imagine this conventional route: `"{controller}/{action}.{ext?}"`
When calculating endpoints it is updated to: `"TestController/TestAction.{ext?}"`

The updated template is a problem because the optional extension is following more than just a `.` literal.

[2018-06-20 02:16] JamesNK commented on #527
Finished with https://github.com/aspnet/Mvc/pull/7928

Will open individual issues for additional fixes/features/work

[2018-06-20 02:16] #527 closed

[2018-06-20 02:16] JamesNK commented on #567
Finished with https://github.com/aspnet/Mvc/pull/7928

Will open individual issues for additional fixes/features/work

[2018-06-20 02:16] #567 closed

[2018-06-20 02:16] JamesNK commented on #568
Finished with https://github.com/aspnet/Mvc/pull/7928

Will open individual issues for additional fixes/features/work

[2018-06-20 02:16] #568 closed

[2018-06-20 02:17] JamesNK opened #571 "Micro-benchmark MvcEndpointDataSource initialization"

[2018-06-20 02:18] JamesNK opened #572 "Micro-benchmark link generation"
- [x] Micro-benchmark link generation
- [x] Micro-benchmark comparison between old UrlHelper and dispatching UrlHelper

[2018-06-20 04:43] rynowak commented on #570
I'm glad that we found a reason to fix this bug, but I super agree with the priority. I haven't seen anyone say that they are using this feature.

[2018-06-20 16:17] kichalla commented on #530
https://github.com/aspnet/Mvc/commit/a0a9c2c58555264491860f06d4e75e215d821738

[2018-06-20 16:17] #530 closed

[2018-06-21 18:21] kichalla opened #575 "[Feature request] Make routes configurable through DI"
_From @bjorn-ali-goransson on June 21, 2018 15:41_

When plugging in external class libraries to Mvc, it would be nice to call their `serviceCollection.AddPluggableStuff()` and have them add routes.

To require library consumers to use the callback syntax of `AddMvc()`, and then call something like `routes.AddPluggableStuffRoutes()` feels very redundant.

So, in my `AddPluggableStuff` (I'm the one

[2018-06-21 18:21] kichalla commented on #575
_From @mkArtakMSFT on June 21, 2018 16:51_

Thanks for contacting us, @bjorn-ali-goransson.
@kichalla, @JamesNK - is this something Dispatcher work will cover? If so, please either close as a dupe or move this to the `aspnet/routing` repo.

[2018-06-21 18:21] kichalla commented on #575
At the moment these routes cannot be configured through DI in MVC part of Dispatcher work. I will move this issue to Routing repo.

[2018-06-21 18:25] bjorn-ali-goransson commented on #575
I can't seem to find any information about the Dispatcher? Do you have any comprehensive document describing the functionality?

[2018-06-26 16:01] Eilon commented on #505
Well the idea was to reduce how many issue trackers we use and to use aspnet/Home instead. But, if we want to use this issue tracker, I went ahead and deleted https://github.com/aspnet/Routing/commit/60ad99037eb16120feb9b177cea225d2427253a1 as well.

[2018-06-26 22:43] JamesNK opened #579 "Dispatcher MVC integration - Matching Razor pages support"
Controllers + actions are successfully matched via attribute and conventional routing. Razor pages still needs to be done.

See https://github.com/aspnet/Mvc/pull/7958 for examples of failing functional tests that use Razor pages.

- [ ] - Support Razor pages with dispatching
- [ ] - Add functional tests to MVC's RoutingWebsite

[2018-07-03 16:10] kichalla opened #583 "Handle change events in RouteValueBaseEndpointFinder"
Currently it does not handle change events https://github.com/aspnet/Routing/blob/master/src/Microsoft.AspNetCore.Routing/RouteValuesBasedEndpointFinder.cs#L17

If there is a change the link generation trees should be regenerated.

[2018-07-09 03:56] JamesNK commented on #579
Can MVC pages be accessed using conventional routing?

[2018-07-09 07:03] JamesNK opened #586 "Consumes Action Contraint"
- [x] Add dispatching implementation of `IConsumesActionConstraint`
- [x] Integrate with `MvcEndpointDataSource`
- [x] Unit tests
- [x] MVC functional tests

[2018-07-09 07:34] JamesNK opened #587 "Initializing MiddlewareFilterBuilder.ApplicationBuilder"
`MiddlewareFilterBuilder.ApplicationBuilder` is set in `UseMvc()` today.

https://github.com/aspnet/Mvc/blob/3547341762b34f272af7da6cb22e09c450c79bf6/src/Microsoft.AspNetCore.Mvc.Core/Builder/MvcApplicationBuilderExtensions.cs#L83

It either needs to be somewhere else or we set it in something like `UseMvcWithEndpoint` and prevent MVC controllers/pages being successfully called when only `UseEndpo

[2018-07-09 07:38] JamesNK commented on #587
Alternatively give a user the prompt in the error message here https://github.com/aspnet/Mvc/blob/5778f44bf75dfa3e88db7440cb10508653fbff07/src/Microsoft.AspNetCore.Mvc.Core/Internal/MiddlewareFilterBuilder.cs#L44

[2018-07-09 07:57] JamesNK opened #588 "UseEndpoint without UseDispatcher"
Today `UseDispatcher` without `UseEndpoint` results in an NRE in `EndpointMiddleware.Invoke`. Not ideal.

What should happen? Throw an error message saying that the user must call `UseDispatcher` on start up or exit the middleware without error?

I think a friendly error message is probably best.

[2018-07-09 16:47] rynowak commented on #579
No

[2018-07-09 23:40] JamesNK commented on #586
Note: Implement in MVC. Routing package does not know about content negotiation.

[2018-07-09 23:41] JamesNK commented on #588
Look into registering a marker and throwing, similar to what MVC does.

[2018-07-09 23:42] JamesNK commented on #587
Might be to have MiddlewareFilterBuilder create the application builder itself via DI injected factory.

[2018-07-11 13:13] kichalla opened #589 "Add unit tests for RouteValueBasedEndpointFinder"

[2018-07-12 02:15] JamesNK opened #590 "Fix link generation test failures in MVC functional tests"
Most remaining MVC functional test failures are related to link generation.

For functional tests failing in the non-routing website please recreate the failure in the routing website, which is test with both routing and dispatching, to avoid future regressions.

[2018-07-12 02:58] #586 closed

[2018-07-12 05:37] JamesNK commented on #590
https://github.com/aspnet/Mvc/pull/8052/files#diff-b8a165fe2c792eb01e25812ea0636613

[2018-07-12 05:54] JamesNK commented on #590
A lot of the test failures here are generation related - https://github.com/aspnet/Mvc/pull/7958

[2018-07-12 23:33] kichalla commented on #590
Following PR fixes the tests `ConventionalRoutedAction_InArea_ExplicitLeaveArea` and `AttributeRoutedAction_InArea_ExplicitLeaveArea`
https://github.com/aspnet/Routing/pull/602

The tests `AttributeRoutedAction_InArea_StaysInArea_ActionDoesntExist` and `ConventionalRoutedAction_InArea_StaysInArea` tests still fail.
**AttributeRoutedAction_InArea_StaysInArea_ActionDoesntExist**: In non-Dispatcher w

[2018-07-13 00:23] #587 closed

[2018-07-13 01:38] JamesNK commented on #579
Razor Pages were support, failures were from a different issues that was fixed with https://github.com/aspnet/Mvc/pull/8047

[2018-07-13 01:38] #579 closed

[2018-07-13 05:23] JamesNK opened #603 "MVC versioning with dispatching"
There is a Versioning website in the MVC functional tests
- [x] Get tests passing via an `EndpointConstraint`
- [x] Run functional tests with both routing and dispatching over website

[2018-07-13 11:17] JamesNK commented on #588
Added runtime check. Investigate adding startup check as well.

[2018-07-13 22:54] rynowak commented on #566
Taking this over as part of the `RoutePattern` work.

[2018-07-13 22:55] rynowak commented on #535
@JamesNK - done?

[2018-07-13 23:01] rynowak opened #607 "Move fundamental types to HttpAbstractions"
- RouteValueDictionary
- IEndpointFeature
- Endpoint
- Metadata collection

[2018-07-13 23:01] rynowak commented on #607
Prerequisite of middleware work.

[2018-07-13 23:02] rynowak opened #608 "Polish startup experience for Routing vNext"
We need to do here:
- [x] Update names for middleware and related concepts (`UseGlobalRouting`, `UseEndpoint`)
- [x] Update experience for MVC - "how can MVC users get Routing vNext without making code changes"
- [ ] Template updates (if necessary)

[2018-07-14 00:11] #535 closed

[2018-07-14 00:12] #534 closed

[2018-07-14 06:59] JamesNK commented on #603
So, MVC today provides `ActionDescriptor.ActionConstraints`. Should a `ActionDescriptor` also have metadata about `IEndpointConstraints`?

Endpoint constraints either needs to be metadata on `ActionDescriptor` and consumed by `MvcEndpointDataSource` or `MvcEndpointDataSource` calculates the constraints itself via reflection on attributes.

I'm guessing we want it as metadata on `ActionDescriptor`.

[2018-07-14 23:50] #588 closed

[2018-07-15 01:37] JamesNK opened #616 "UseDispatcher multiple times"
What should happen if `DispatcherMiddleware` is registered multiple times? Error? No op on second run for a request?

[2018-07-15 03:10] rynowak commented on #616
I don't feel like we need to take any action here unless we get feedback that:
A. there's a useful scenario that doesn't work
B. people get confused

Using the middleware without the services seems like a common mistake, as does using one middleware without the other. I feel like we're in the sweet spot.

Besides you can do tricky things with Map if you want which should be valid..

[2018-07-16 04:06] rynowak commented on #616
Why though?

[2018-07-16 06:11] rynowak commented on #616
Now we're into the meat of it 😆

I started to think about this and had a thought - folks liked **the idea that they would get clever with routing** - that they would use routing to fork a middleware pipeline and then do different stuff on the branches. Multitenant systems immediately come to mind.

I'm not aware of anyone actually doing anything like this successfully - because routing was bad at

[2018-07-16 06:14] davidfowl commented on #616
I think we shouldn't no-op. We still haven't figured out if this is going to require a template change or not. Last we discussed it would and in that case, trying to detect double initialization seems like overkill since you can just move that line of code to the appropriate spot.

[2018-07-17 04:37] #603 closed

[2018-07-17 12:57] #583 closed

[2018-07-17 17:16] kichalla commented on #565
https://github.com/aspnet/Routing/commit/aed2e244831f4aeb3ef5b3b5c33f4a053f70a9a2

[2018-07-17 17:16] #565 closed

[2018-07-17 17:17] kichalla commented on #589
https://github.com/aspnet/Routing/commit/1196349bf497516c330aad2cb9ca2eb2935bb287

[2018-07-17 17:17] #589 closed

[2018-07-17 18:46] Eilon opened #623 "Problem with building URLs with Areas in .NET Core 2.1"
_From @piecho1991 on July 17, 2018 13:48_

I have problem with URL-s in ASP.NET Core 2.1 Web Application.

I have used code like below:
[code]

and Razor is generating wrong URL not like `http://example.com/Area/Controller/List` but `http://example.com/Controller/List?area=Area`.

My routes configuration:
[code]

_Copied from original issue: dotnet/core#1796_

[2018-07-17 21:32] kichalla commented on #623
@piecho1991 You need to reorder the routes in your configuration. In general, routes with more number of segments (in your case 4 vs. 3) should be before the one with less number of segments

[2018-07-17 22:14] JamesNK opened #625 "Back-compat support for IRoutingFeature on IEndpointFeature"
`RouteDataRequestCultureProvider` is unsurprisingly tied to routing. Do we want to create a version for dispatching?

[2018-07-17 22:17] rynowak commented on #625
I think what we might want to do instead is to implement `IRoutingFeature` on the dispatcher feature (lazily). There's a **LOT** of code out there that uses `IRoutingFeature`, or `RouteData`, etc. We can do a pretty reasonable job implementing the route value part of this.

We might also need to do something to support data tokens

[2018-07-17 22:29] JamesNK commented on #625
Sounds reasonable

[2018-07-18 03:48] #571 closed

[2018-07-18 04:27] rynowak opened #628 "Add microbenchmark for Matcher initialization"
I'd suggest adding a benchmark that uses the Github or Azure route table to initialize the DFA Matcher. We want to measure the startup cost.

[2018-07-18 04:28] rynowak opened #629 "Add logging to new features"
- [x] Middleware
- [x] Link Generation Features
- [ ] DFA Matcher
- [ ] Others???

[2018-07-18 04:29] rynowak commented on #533
This is done. I don't anticipate us adding any more benchmarks in the near future. We can always create more if we find the need for it, but I've accomplished what I planned.

[2018-07-18 04:29] #533 closed

[2018-07-18 04:32] rynowak commented on #523
@JamesNK @kichalla - I checked some checkboxes to give us credit what we've done. Feel free to correct anything you think I got wrong

[2018-07-18 04:38] rynowak opened #630 "Redesign EndpointConstraints"
This is a new extensibility feature that's a replacement for `IActionConstraint` in the dispatcher world.

There are two parts to it:
- EndpointSelectorPolicy: allows you to say "yes" or "no" for a given endpoint. This generally maps to concerns that apply branching or priority like HTTP methods, `[Consumes]` or CORS
- EndpointSelector: replaceable piece of infrastructure that get to see all match

[2018-07-18 11:57] kichalla opened #631 "MVC Functional Tests: HttpMethodEndpointConstraint restricts OPTIONS request"
Following tests fail because OPTIONS request is rejected by the `HttpMethodEndpointConstraint`

![image](https://user-images.githubusercontent.com/6559784/42879863-004612d2-8a47-11e8-9cb0-32880b28535f.png)

cc @JamesNK

[2018-07-18 14:41] rynowak commented on #631
See: https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Cors/Internal/CorsHttpMethodActionConstraint.cs

Action constraints have to be aware of CORS for something like this to work.

[2018-07-18 23:13] kichalla opened #633 "Show list of registered endpoints as debugger display string"
While debugging through MVC's functional test failures, it helped me to look at how MVC's data source registered endpoints. I used following blob of code to look at them. Would be helpful if we can show this via `DebuggerDisplayString` mechanism

[code]

[2018-07-19 02:41] JamesNK opened #634 "Change EndpointDataSource.ChangeToken to GetChangeToken method"

[2018-07-19 03:31] rynowak commented on #633
Sure, feel free. This will take like 5 mins and make us much more productive.

[2018-07-19 17:31] kichalla opened #635 "DefaultLinkGenerator unable to generate links when using route name"
For a endpoint like the following:
template: `api/orders/{id?}`,
routeName: "OrdersApi"
defaultValues: new { controller = "Orders", action = "GetAll" }

Calling `Url.RouteUrl("OrdersApi", new { id  = 10 })` (with let's say ambient values `new { controller = "Home", action = "Index" }`) should generate a url like `api/orders/10`, but currently we get a `null`

**Background:**
1.  `TemplateBinder` d

[2018-07-19 17:32] kichalla opened #636 "Flatten the LinkGenerationDecisionTree to show as debugger display string"
Similar in the lines of https://github.com/aspnet/Routing/issues/633, it would be useful to flatten the `LinkGenerationDecisionTree` for easy diagnosis.

[2018-07-19 20:39] rynowak commented on #636
If you want to do this kind of thing feel free. It's going to have a lot of impact if you do it now while we're still doing work in this area. If we wait it won't be worth doing 😆

[2018-07-20 15:06] rynowak commented on #545
@kichalla done?

[2018-07-20 16:08] kichalla commented on #545
I kept this PR open to react to Routing's constraint functionality. I had a PR out for it but closed it as your PR addresses this already https://github.com/aspnet/Mvc/pull/8120

[2018-07-20 20:33] mkArtakMSFT commented on #623
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-20 20:33] #623 closed

[2018-07-20 22:48] #545 closed

[2018-07-21 11:51] kichalla commented on #590
Out of the 4 failing tests, I enabled 2 of them now and the remaining ones are invalid really as the setup is incorrect for Dispatching tests.

[2018-07-23 00:02] rynowak commented on #590
I think we'll want a feature to unblock those tests post-preview1. Can you log an issue that clearly describes the problem (examples) and close this one?

[2018-07-23 00:53] JamesNK opened #648 "Tests with non-MatcherEndpoint"
See https://github.com/aspnet/Routing/pull/646#discussion_r204257353

Make sure that new functionality works with non-MatcherEndpoints as expected.

[2018-07-23 02:17] JamesNK commented on #625
`MiddlewareFilter_LocalizationMiddlewareRegistration_UsesRouteDataToFindCulture` is passing in MVC

[2018-07-23 02:17] #625 closed

[2018-07-23 11:42] JamesNK commented on #523
New routing is still being worked on and we are not sure what it will look like yet. Right now we are working to get a first cut ready for 2.2 preview 1. After preview 1 documentation and blog posts will become more of a priority to gather feedback.

Routing is focused on HTTP requests. I'm not sure what plans there are for other protocols. @davidfowl?

[2018-07-23 12:13] shaggygi commented on #523
@JamesNK  Thx for the reply.  I look forward to the preview and blog on coming details.

To provide a little more... I interpreted (and could be very wrong) that Bedrock and related is to provide a way to process bytes from different transports (e.g. ethernet, usb, serial, bluetooth, etc.), parse raw bytes to meaningful objects (based on various protocols) and allow routes/dispatches to certain pa

[2018-07-23 13:57] davidfowl commented on #523
This is correct.

The name dispatcher is overly generic for what this is. This is specifically about routing so it'll apply to anything HTTP related but nothing more. I don't know how you'd generically apply routes to arbitrary protocols without inventing your own protocol that supported routes.

[2018-07-23 15:10] rynowak commented on #523
I think we'd try to reuse some of the infrastructure and learnings for other systems that are based on a hierarchical address space.

However, I think developers generally want to system that exposes the details of the underlying protocol - in this case HTTP with notions like URL paths and HTTP verbs. Trying to make something totally generic might end up being un-useful.

[2018-07-23 16:39] Eilon commented on #524
VSTS for everything. We probably don't need anything specific in this repo, though, because we'll be updating the builds in *all* the repos over the coming weeks/months.

[2018-07-24 11:38] JamesNK commented on #524
ok! Nothing to do here then

[2018-07-24 11:38] #524 closed

[2018-07-24 17:54] kichalla commented on #635
https://github.com/aspnet/Routing/commit/7da1baf9d844472a421133e18a7b0ee03cadefed

[2018-07-24 17:54] #635 closed

[2018-07-24 17:54] kichalla commented on #547
https://github.com/aspnet/Routing/commit/5f1631ab46e415cadf3a12ceef6c6164a06ac275

[2018-07-24 17:54] #547 closed

[2018-07-24 18:13] kichalla opened #656 "Failing MVC functional tests: Handle link generation failures related to RazorPages reserved pages like 'Index'"
Currently following tests fail when used with GlobalRouting

[code]

[2018-07-25 00:14] #636 closed

[2018-07-25 19:20] kichalla commented on #656
https://github.com/aspnet/Routing/commit/34499dbe24034e402a483a9dd70722edab3a615f

[2018-07-25 19:20] #656 closed

[2018-07-25 20:53] #554 closed

[2018-07-25 23:06] #634 closed

[2018-07-27 05:48] rynowak commented on #608
What's the template update? just the compat switch?

[2018-07-27 05:58] JamesNK commented on #608
Yeah. Will the 2.2 switch will be done as part of the regular release process and we don't need to worry about?

[2018-07-27 09:35] JamesNK opened #667 "Tests for UseMvc with EnableGlobalRouting"
Tests for https://github.com/aspnet/Mvc/pull/8131/files

[2018-07-28 01:08] JamesNK opened #670 "Consumes matcher policy"
Should MVC have a consumes matcher policy?

[2018-07-28 01:09] rynowak commented on #670
Already tracked as part of #630 - I updated the notes to be explicit about it.

[2018-07-28 01:09] #670 closed

[2018-07-28 01:19] rynowak opened #671 "Consider turning MatcherPolicy into an interface"
We have a bunch of things that inherit from `MatcherPolicy` but expose a more specialised interface. Consider turning `MatcherPolicy` into an interface to simplify this.

Note, you still need to register policies as the marker type in DI. This is really the only way we have in our DI to have a single instance that is multiple types of services.

[2018-07-28 01:36] rynowak commented on #538
Let's also discuss whether `IEndpointSelectorPolicy` should be async.

[2018-07-28 08:19] JamesNK commented on #631
Fixed https://github.com/aspnet/Mvc/pull/8158

[2018-07-28 08:19] #631 closed

[2018-07-29 04:58] #667 closed

[2018-07-31 20:16] rynowak commented on #671
Closing this. We decided during API Review not to change it.

[2018-07-31 20:16] #671 closed

[2018-07-31 21:54] #544 closed

[2018-08-01 01:58] JamesNK opened #676 "API review mega-issue"
### Routing
- [x] Remove EndpointRoutingApplicationBuilderExtensions
- [x] Make middleware pub internal
- [x] seal CompositeEndpointDataSource
- [x] seal DefaultEndpointDataSource
- [x] review whether EndpointFeature.Invoker should be Func<RequestDelegate, RequestDelegate> or RequestDelegate
- [x] review whether EndpointOptions should be pub internal or internal?
- [x] make RoutePatternMatcher int

[2018-08-01 02:56] JamesNK opened #677 "EndpointFeature.Invoker - RequestDelegate or Func<RequestDelegate, RequestDelegate>?"
Investigate whether Invoker should be `RequestDelegate` or `Func<RequestDelegate, RequestDelegate>`

[2018-08-01 03:00] JamesNK opened #678 "Evaluate MatchProcessor design"
Review MatchProcessor design. MatchProcessor vs MatchProcessorBase.

[2018-08-01 04:37] JamesNK opened #680 "EndpointMetadataCollection performance"
Ensure that `EndpointMetadataCollection` performance can be all it can be.

[2018-08-01 14:37] kichalla commented on #590
https://github.com/aspnet/Mvc/commit/ab84d17bb3c455639dd9615f9d0a71b7df65a44f

[2018-08-01 14:37] #590 closed

[2018-08-01 16:05] rynowak commented on #523
Updated this again based on the adjusted scope. The other real remaining thing here is xml docs for 2.2

[2018-08-01 16:06] rynowak commented on #607
Moving this to 3.0 with the change to scope.

[2018-08-01 16:06] rynowak commented on #616
Moving this to 3.0

[2018-08-01 16:07] rynowak commented on #537
Moving to 3.0

[2018-08-01 16:48] mkArtakMSFT commented on #676
@JamesNK, thanks for filing this.
I'm moving this to preview2 for the sake of assigning a milestone. I believe the desire here is to have this meeting right after preview1 is shippeed. I'll leave it up to you to drive.

[2018-08-01 18:28] kichalla opened #681 "Redesign LinkGenerator API: Expose methods which make link generation easy from middleware"
**For reference:** This issue was created as part of https://github.com/aspnet/Routing/issues/531#issuecomment-409031317

In MVC, EndpointRoutingUrlHelper does things in 2-phases
1. Find endpoints
2. Generate link out of those enpoints

We want to provide a universal approach for this through LinkGenerator interface itself. i.e LinkGenerator would act as a facade where it will both find and genera

[2018-08-01 18:38] kichalla opened #682 "Design api for generating link templates"
**For reference:** This issue was created as part of https://github.com/aspnet/Routing/issues/531#issuecomment-409031317

Requirement: Provide an api so that a user could generate a partial template and reuse the template to fill in additional details. This is a perf scenario where user need not do the lookup for an endpoint again and again as it could be expensive.

**Example usage:**
[code]

cc

[2018-08-01 20:50] JamesNK commented on #676
We had the API review meeting yesterday. We're aiming to have these changes done this week for preview1.

Will have another in preview2.

[2018-08-01 20:54] JamesNK commented on #607
Are you sure this should be 3.0? We will need to make the types public in routing and if we wait until 3.0 then we'll have to obsolete the 2.2 versions.

[2018-08-02 00:52] rynowak commented on #607
Typeforwards mang

[2018-08-02 01:42] JamesNK commented on #538
Reviewed API prior to preview1 - https://github.com/aspnet/Routing/issues/676

Will have another API review in preview2 milestone.

[2018-08-02 02:09] rynowak commented on #608
@JamesNK close? Is this still tracking anything?

[2018-08-02 02:10] #608 closed

[2018-08-02 02:24] rynowak commented on #435
I'm reopening this for consideration as part of the current routing work. Options that we provide today to process the generated URLs don't always behave predictably

[2018-08-02 02:26] rynowak commented on #380
I'm reopening this for consideration as part of the current routing work.

[2018-08-02 02:30] rynowak commented on #186
Reopening this for consideration based on the current routing work. It would be great to have an extensibility point that lets you transform incoming and outgoing parameter values.

[2018-08-02 02:31] rynowak commented on #523
FYI I went through the list of closed issues and identified 3 that seem relevant but were closed long ago. This isn't a promise to do them, just to rethink them.

[2018-08-02 02:51] rynowak opened #686 "XML docs for 2.2.0 additions"
# List of new things to add docs:

## P0
#### Routing
- [x] Endpoint
- [x] IEndpointFeature
- [x] EndpointFeature
- [x] EndpointMetadataCollection
- [x] LinkGenerator
- [x] LinkGeneratorContext
- [x] RouteData.RouteData(RouteValueDictionary values)
#### MVC
- [x] MvcOptions.EnableEndpointRouting

## P1
#### Routing
- [x] Everything new in `.Patterns`
- [x] EndpointDataSource
- [x] CompositeEndpoin

[2018-08-02 02:52] rynowak commented on #686
@JamesNK - if you have the list from our API review could you help fill this out?

[2018-08-02 03:30] rynowak commented on #686
Some additions here: https://github.com/aspnet/Routing/pull/687

[2018-08-02 06:17] JamesNK commented on #686
I have thrown a whole bunch in. Some may have already been documented.

[2018-08-02 14:18] rynowak commented on #676
I think that `IRouteNameMetadata` needs to be renamed, and also to include required values from the endpoint - then we should have an implementation.

[2018-08-03 02:01] #630 closed

[2018-08-03 16:50] rynowak commented on #686
I'm working through a set of docs improvements for the candateset matcherpolicy and related types.

[2018-08-03 23:36] JamesNK commented on #676
DONE 🎉

[2018-08-03 23:36] #676 closed

[2018-08-04 14:48] #681 closed

[2018-08-04 14:49] kichalla commented on #681
c8946a40e4311b535d50a79c35279f1a4ca27255

[2018-08-04 14:50] kichalla commented on #682
c8946a40e4311b535d50a79c35279f1a4ca27255

[2018-08-04 15:05] #682 closed

[2018-08-06 20:32] mkArtakMSFT commented on #186
@glennc, thoughts?

[2018-08-06 20:38] mkArtakMSFT commented on #380
@JamesNK, please reassign as necessary.

[2018-08-06 20:39] mkArtakMSFT commented on #435
@rynowak, is this something you plan to get fixed as part of 2.2 work?

[2018-08-06 22:08] javiercn commented on #320
Hi.

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2018-08-07 01:15] JamesNK commented on #686
All main APIs documented. Will document remaining items if there is a demand for it.

[2018-08-07 01:15] #686 closed

[2018-08-07 13:21] Aveline67 opened #700 "List mapped routes"
It would be very helpfull to list in log all mapped route.

I am actually figuring out why every possible URL returns 404. I do perfectly understand it matches no routes, no actions, but what are actually registered routes in my projet ? Sometimes it like lousing a day for nothing. So much painfull erverything works, than 404 every where, I dont now what is registered or not

[2018-08-07 16:33] #531 closed

[2018-08-07 16:40] mkArtakMSFT commented on #700
Thanks for contacting us, @Aveline67.
This is something we have already implemented in the Endpoint Routing, which we hope to ship in the upcoming release (2.2). Here is the issue tracking that work: https://github.com/aspnet/Routing/issues/633
Closing this one as a dupe.

[2018-08-07 16:40] #700 closed

[2018-08-07 20:05] rynowak commented on #523
Closing this as all of the individual items have been addressed in some form.

[2018-08-07 20:05] #523 closed

[2018-08-09 02:53] JamesNK commented on #607
These types are already in abstractions.

[2018-08-09 02:53] rynowak commented on #607
HttpAbstractions

[2018-08-09 02:54] rynowak commented on #607
https://github.com/aspnet/HttpAbstractions/tree/master/src/Microsoft.AspNetCore.Http.Abstractions

[2018-08-09 02:57] JamesNK commented on #607
Does the `Microsoft.AspNetCore.Routing` namespace stay the same after the move?

[2018-08-09 02:58] rynowak commented on #607
yes

[2018-08-09 03:40] JamesNK commented on #607
I put IEndpointFeature in a Microsoft.AspNetCore.Routing.Features namespace. That seems to be the standard for features.

[2018-08-09 21:26] JamesNK opened #704 "Update MvcEndpointDataSource to use RoutePattern"
When resolving conventional routes `MvcEndpointDataSource` uses `RouteTemplate` and is quite inefficient.

Update to use `RoutePattern` and reduce allocations.

[2018-08-13 03:04] JamesNK commented on #570
FYI https://github.com/aspnet/Mvc/pull/8249 fixes this issue. A hardcoded route `TestController/TestAction.{ext?}` would still error but flattening a conventional route won't. Could probably close.

[2018-08-13 19:55] rynowak opened #710 "Add support for MVC + Endpoint Routing + DataTokens"
We need to have some path to support data tokens.

[2018-08-13 21:04] rynowak commented on #570
Note that this is still broken in the parser but it will work correctly in MVC with conventional routing. Backlog yo.

[2018-08-14 04:18] davidfowl opened #711 "Rename MatcherEndPoint to RouteEndPoint"
Because it's a route 😄

[2018-08-14 04:26] rynowak commented on #550
Closing is as done because it turns out I thought about this a very long time ago. https://github.com/aspnet/Routing/blob/release/2.2/src/Microsoft.AspNetCore.Routing/EndpointRoutingMiddleware.cs#L85

This is better than adding an option IMO because this addresses the underlying problem (blocking initialization).

[2018-08-14 04:26] #550 closed

[2018-08-14 04:27] JamesNK commented on #711
`Microsoft.AspNetCore.Routing.RouteEndpoint` 👍

[2018-08-14 04:28] davidfowl commented on #711
ENDPoint

[2018-08-14 04:53] rynowak commented on #711
`Microsoft.AspNetCore.Routing.XxXRo|_|teEnDp01ntXxX

[2018-08-14 22:40] JamesNK opened #715 "Link generator performance"
Link generator should be at least as fast as existing functionality.

[2018-08-14 23:19] JamesNK commented on #186
Some thoughts on this:
1. This will need to be able to round-trip. The link generator will need to encode the value with dashes and the matcher will then need to make that back up on route match. A simple lowercase doesn't have this problem because matching is not case sensitive.
2. For good performance this will need to be baked into the matcher. When we get an incoming URL we don't want to conve

[2018-08-14 23:56] rynowak commented on #186
I don't think we'd want to implement something regarding snake-case specifically.

more like: we'd want to allow user code to plug in at the right places to take control.

We've gotten several requests like this (all different), and I'm not interested in us actually implementing different strategies ourselves. The 'official' MVC style looks like `/Home/Index/15` and we're not trying to recommend s

[2018-08-15 00:26] JamesNK commented on #186
Yea, I was using them as the main example.

👍

👍 This is what Json.NET does as well

Sure. I think area/controller/action is a good default though. Do those values have a name that could be applied to them for an option? `TransformMvcParameters { get; set; }`?

What about a ParameterTransformer(tm) being in Endpoint metadata. EndpointBuilder could then have some method to set it if you desire. And

[2018-08-15 01:00] rynowak commented on #186
Hold on to your hats. We're about to go #MaximumRyan

I suggest we do the following.

Repurpose `Contraints` as `Policies` - what is a constraint really, but a specific type of policy. This means that you can specify policies inline in the template or out-of-line in the object literal when building a route pattern.

Example:
`/{controller=Home:snakecase}/{action=Index:snakecase}/{id?}`

OR

`/{con

[2018-08-15 01:38] JamesNK commented on #186
Yeah sounds ok to me. Specifying an inline transformer is cute. I think a global setting on MVC that automatically adds a transformer to area/controller/action is what people will use most.

[2018-08-15 02:48] rynowak commented on #680
Self-assigning this

[2018-08-15 06:26] JamesNK commented on #186
I looked into this some more -
* The resolving of parameters happens almost entirely in MVC. Tokens are replaced in `AttributeRouteInfo`, e.g. `Blog/[action]/{postId?}` becomes `Blog/Edit/{postId?}`, in `ControllerActionDescriptorBuilder`
    Likewise the flattening of conventional routes happens in `MvcEndpointDataSource`, e.g. `{controller}\{action}\{id?}` becomes `Account\View\{id?}`
    If we

[2018-08-15 21:07] JamesNK opened #720 "Update routing docs"
Update https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing with documentation of new features.

- [ ] **catchAll

[2018-08-15 22:04] rynowak commented on #720
Love it

[2018-08-15 22:09] pranavkm opened #721 "Add support for SuppressPathMatching (suppress inbound routes)"
There's a feature in MVC that allows routes to participate in link generation (outbound routing), but not during ingress : https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/ApplicationModels/AttributeRouteModel.cs#L65. This is currently not implemented and blocks https://github.com/aspnet/Mvc/issues/8274

[2018-08-16 00:44] pranavkm opened #722 "EndpointDataSource.IChangeToken needs to support passive change token change events"
The way `IActionDescriptorChangeProvider` change events are wired on `MvcEndpointDataSource` and `ActionDescriptorChangeProvider` results in a race - sometimes the event for the former gets fired before the latter and consequently the data source is recreated using the current stale model before the `ActionDescriptor`s get rebuilt. If `MvcEndpointDataSource` were updating the endpoints the same wa

[2018-08-16 03:50] rynowak commented on #722
We're also reconsidering whether we want to use change token at all.

[2018-08-16 04:02] rynowak commented on #648
Note that how this is shaping up, we'll have `Endpoint` and `RouteEndpoint`. We ascribe 'routing' semantics to `RouteEndpoint` and 'execution' semantics to `Endpoint`.

I think it would be enough for this work item to change `HttpMethodMatcherPolicy` to use `Endpoint` instead of `RouteEndpoint`. We already have tests that we don't inject non-RouteEndpoint types into the routing system, and this is

[2018-08-16 04:36] rynowak commented on #721
Done.

[2018-08-16 04:36] #721 closed

[2018-08-16 04:43] #710 closed

[2018-08-16 04:45] JamesNK commented on #648
I recall my main concern was non-MatcherEndpoints being passed to the matcher. The casting going on inside matching made me nervious. I want to ensure that the DFA matcher doesn't let non-MatcherEndpoints slip through and throw InvalidCastExceptions.

[2018-08-16 04:49] rynowak commented on #648
Ah yes, I found it. https://github.com/aspnet/Routing/blob/release/2.2/src/Microsoft.AspNetCore.Routing/Matching/DfaMatcherBuilder.cs#L550 This is the one.

[2018-08-16 05:09] #680 closed

[2018-08-16 05:09] rynowak commented on #680
Donezo!

[2018-08-16 20:30] rynowak commented on #715
I should hope we can do a lot better 👍

[2018-08-16 21:47] rynowak opened #727 "DfaMatcher performance 2.2.0-preview2"
# Plaintext
- [x] Investigate `string.CompareOrdinal` - can we do better when we know it's ASCII?

- [x] Can we make `HttpContext.Request.Path.Value` faster?
![image](https://user-images.githubusercontent.com/1430011/44236613-7bc25380-a162-11e8-9bd9-d4357a3301ee.png)

- [x] Why is `new CandidateSet` so expensive?
![image](https://user-images.githubusercontent.com/1430011/44236711-c6dc6680-a162-11e

[2018-08-17 00:14] pranavkm opened #728 "EndPointDispatcher LinkGeneration produces empty strings when a route cannot be found"
See https://github.com/aspnet/Mvc/pull/8275/files#r210713067

[2018-08-17 00:36] dougbu commented on #728
Why is this "100%" intended? The 404s mean something while silently going back to the original URL is a major problem in many cases.

[2018-08-17 00:49] rynowak commented on #728
New routing is like attribute routing, which doesn't like to actions that don't exist.  We could do additional work to try and simulate what old routing does, and we're planning to do that based on user feedback.

Neither old nor new behavior does a good job alerting you that you have a problem, do you have suggestions about that?

[2018-08-17 05:01] dougbu commented on #728
My suggestion is _not_ to hide developer typos and the like in an apparently-successful round trip. The previous behaviour at least resulted in an obvious failure albeit only when the broken link was used.

Moving the failure earlier e.g. resulting in a useful error page would be great. Even `throw`ing from the tag or HTML helpers may be fine now that the developer exception page displays the offe

[2018-08-17 16:40] pranavkm opened #731 "EndPointRouting LinkGeneration does not preserve passed in case of route values"
With 2.1 link generation, `<a asp-action="test">`, the generated link preserves the specified case e.g. `<a href="Home/test">`

With 2.2 link generation, the generated link is `<a href="Home/Test">`

[2018-08-17 17:46] #539 closed

[2018-08-19 17:15] Apower952 commented on #623
Hi, I believe I am experiencing the same issue.

My routes:
[code]

From what I can tell this issue is related to having Identity being implemented within the project. To test this I created a new application with no authentication and areas/routes work great no problems.

Creating a new project with individual user accounts being added as the authentication results in the routes no longer operati

[2018-08-20 16:42] mkArtakMSFT commented on #728
Closing this bug per @rynowak's point. Let's ship as is and react to feedback later.

[2018-08-20 16:42] #728 closed

[2018-08-20 20:18] mkArtakMSFT opened #733 "Route pattern matching issue on route '/r{token}' or simillar"
_From @pikax on August 2, 2018 14:55_

#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
create a new dotnet project
`dotnet new webapi`

go to the Controller/ValuesController and add the action

[code]
debug and go to:
`https://localhost:44325/rRR`

The action is not executed, but it works with /r**test**
It seems if yo

[2018-08-20 20:18] mkArtakMSFT commented on #733
Thanks for contacting us, @pikax.
@kichalla, can you please look into this? Thanks!
/cc @rynowak, @JamesNK

[2018-08-21 01:33] JamesNK commented on #572
@kichalla Is this complete with https://github.com/aspnet/Routing/commit/0986f74264d0e17f82b4548ed63c38f12969e9c9?

[2018-08-21 03:31] rynowak commented on #733
Hi @pikax

This behavior is by design. I've logged an issue on the aspnet/Docs repo to improve the documentation on this topic https://github.com/aspnet/Docs/issues/8197

Routing matches complex segments in chunks from right to left by performing a non-greedy match. By that I mean that it tries to capture the smallest possible chunk of text in the parameter.  Unfortunately this only works well if

[2018-08-21 03:36] rynowak commented on #572
I'm closing this, I think what we have is good enough to say that we've done all planned work.

[2018-08-21 03:36] #572 closed

[2018-08-22 04:33] JamesNK commented on #648
Ka-boom
[code]

[2018-08-22 04:37] JamesNK commented on #648
To repo change the endpoint returned from `ConsumesMatcherPolicy.CreateRejectionEndpoint` from `RouteEndpoint` to `Endpoint`.
[code]

[2018-08-22 06:13] JamesNK opened #740 "Check MVC can read data tokens"
re: https://github.com/aspnet/Mvc/pull/8303#discussion_r211831974

[2018-08-22 15:01] rynowak commented on #740
🐑-ishly... yeah It's possible we don't have any functional tests for this in MVC. Which is a little embarassing.

[2018-08-22 21:22] MaherJendoubi opened #743 "System.InvalidOperationException: 'Cannot use 'UrlSlugRoute' with Global Routing.'"
Hello,

I am trying to migrate a solution from ASP.NET Core 2.1.1 to ASP.NET Core 2.2 Preview 1.
After setting CompatibilityVersion to (CompatibilityVersion.Version_2_2), I got the following isssue:
![image](https://user-images.githubusercontent.com/1798510/44491629-2efae300-a662-11e8-9882-d2e486ef406b.png)

[2018-08-22 21:55] JamesNK commented on #711
Done https://github.com/aspnet/Routing/pull/712

[2018-08-22 21:55] #711 closed

[2018-08-22 21:55] JamesNK commented on #677
Done https://github.com/aspnet/Routing/pull/712

[2018-08-22 21:55] #677 closed

[2018-08-22 22:36] rynowak commented on #743
Would it be possible for you to tell us more about `UrlSlugRoute`? If this is something you wrote could you show the code? I'm curious to see if this is something we can make work with the new system

[2018-08-23 00:16] MaherJendoubi commented on #743
Sure @rynowak :
https://github.com/simplcommerce/SimplCommerce/blob/master/src/Modules/SimplCommerce.Module.Core/Extensions/UrlSlugRoute.cs

[2018-08-23 01:10] JamesNK commented on #743
They are the same thing. Global routing was renamed to endpoint routing. The text in your exception message was missed during the rename.

[2018-08-23 01:32] JamesNK commented on #678
@rynowak Are you happy with this area now?

[2018-08-23 02:25] #678 closed

[2018-08-23 02:52] rynowak opened #745 "Don't check for null httpcontext in our route constraints"
In Endpoint Routing, it will be possible for url generation to happen with a null HttpContext. We should remove null checks where possible.

[2018-08-23 10:09] JamesNK commented on #745
Also fix MVC exists constraint without HttpContext.

[2018-08-23 21:11] #648 closed

[2018-08-26 02:00] JamesNK commented on #745
@rynowak I can pick the one up if you'd like

[2018-08-26 21:35] JamesNK opened #751 "DefaultParameterPolicyFactory not using inline arguments"
`IRouteConstraints` are creating using a ctor, and inline arguments are passed via the ctor, e.g. `range(1,20)` will resolve to `RangeRouteConstraint` ctor that takes two doubles.

Non-IRouteConstraints are resolved from DI, but nothing is done with inline arguments. There should be a way for the policy to use these args.

[2018-08-26 21:53] JamesNK commented on #751
Need to figure this out for https://github.com/aspnet/Routing/issues/745

Need a mechanism for supporting arguments and resolving services from DI. Maybe always use a ctor, and if there is an `IServiceProvider` argument then special case it.

[2018-08-27 16:46] mkArtakMSFT commented on #743
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-08-27 16:46] #743 closed

[2018-08-27 21:14] rynowak commented on #740
The test you linked uses a filter to modify the data tokens inside a controller, https://github.com/aspnet/Mvc/blob/release/2.2/test/WebSites/RoutingWebSite/Controllers/RouteDataController.cs#L29 - however it doesn't have any data tokens defined in the route.

It would be enough to add an additional data token in the route definition (startup.cs) and verify that's passed through unmodified from ro

[2018-08-29 02:51] JamesNK commented on #751
Fixed https://github.com/aspnet/Routing/pull/753

[2018-08-29 02:51] #751 closed

[2018-08-29 06:04] #607 closed

[2018-08-29 17:12] rynowak commented on #722
The conclusion here is that we won't support passive change tokens in routing, we just won't do polling, and thus won't honor passive changes.

[2018-08-29 21:45] #745 closed

[2018-08-29 23:26] JamesNK commented on #740
Yup, test fails in endpoints. Will investigate a fix.

[2018-08-30 00:38] JamesNK commented on #740
@rynowak I've got a question for you about require values, default values and route values.

So anything that is a required value is added to default values, including null.
e.g.
requiredValues: area=null
defaultValues: area=null

https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Core/Internal/MvcEndpointDataSource.cs#L491-L511

Now anything in defaultValues is included i

[2018-08-30 03:14] #740 closed

[2018-08-30 11:26] ststeiger commented on #512
Factory would do the job, too.
But that would make the first request slow.
Is that really necessary ?
Can't it just read/cache all it needs on application startup, and then use that information already at the first request ? So the first request will be fast, too ?

Say, I update an application at 2 o'clock in the morning, when nobody is using it.
At 5 o'clock the first users will start using it.

[2018-08-31 05:42] ststeiger commented on #512
Then it's fine ;)

[2018-08-31 06:30] JamesNK commented on #512
I'm going to close this as done.

2.2 Preview 2 will be out next month and will support injected services on constraints. It would be great if you could try the preview and test whether it does what you want. If it doesn't we can reopen this issue.

[2018-08-31 06:30] #512 closed

[2018-08-31 07:45] SIkebe opened #762 "build.cmd fails because of locale-sensitive unit tests"
#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce
Run `build.cmd` in non-English locale.

#### Description of the problem:
build.cmd fails because of locale-sensitive unit tests.

[code]

[2018-08-31 16:00] mkArtakMSFT commented on #762
Thanks for reporting the issue and also for the PR. We'll look into it soon.

[2018-09-04 11:49] Yves57 commented on #727
@rynowak I hope that replacing the `string` by a `StringSegment` in the `DictionaryJumpTable._dictionary` could allow to remove the substring creation in `DictionaryJumpTable.GetDestination`. Are you already working on optimizations of `DictionaryJumpTable`? Otherwise I propose you to explore this idea.

[2018-09-04 12:15] akshaybheda opened #773 "Question. How can i get RouteData without hitting MVC"
I want to use route data before hitting mvc, in the first middleware

[2018-09-04 16:36] mkArtakMSFT commented on #773
@rynowak, can you please answer this question?
Seems like the Endpoint Routing would be of help here.

[2018-09-04 19:40] rynowak commented on #773
Sorry this isn't something we have support for - routing runs as the last middleware and then calls into MVC. We have a feature in MVC that allows you wire up a middleware as a resource filter, if that helps.
https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef63a1a62539991e1da3a6e30e/test/WebSites/BasicWebSite/Controllers/FiltersController.cs#L27
https://github.com/aspnet/Mvc/blob/a67d9363e22be8ef

[2018-09-04 20:10] #628 closed

[2018-09-05 06:32] akshaybheda commented on #773
The Issue is, i want to create a GUID at the very beginning of the request, and pass it through other middlewares. Using it on Controller or in MVC is too late

[2018-09-05 18:16] rynowak commented on #773
Are you using this as a correlation ID? We already generate one (https://github.com/aspnet/HttpAbstractions/blob/master/src/Microsoft.AspNetCore.Http.Abstractions/HttpContext.cs#L75).

If this doesn't meet your needs I'd suggest writing your own feature and middleware for this. At the beginning the pipeline write something like:
[code]

[code]

This feature will be accessible from the `HttpContext

[2018-09-05 21:41] tillig opened #776 "Enable easier access to the matched route pattern"
The short version: In trying to gather statistics for an API, having access to the _route pattern_ that was matched is important but is very hard to access. Endpoint routing makes it easier, but it'd be nice to have even easier access.

**It very well could be I'm missing something obvious, and if so, please let me know.**

Longer: An API (or web site) may have a route like `/api/products/{id}`. W

[2018-09-05 21:57] JamesNK commented on #776
Not every endpoint will have a `RoutePattern` on it. For example if you're using CORS and an invalid HTTP method is received then the endpointFeature.Endpoint will be an `Endpoint` that returns a 405 response.

What you are doing, casting an Endpoint to a MatcherEndpoint (and testing that it is not null) is perfectly fine. Usually the endpoint will come from a route, but not always.

You could als

[2018-09-05 22:30] tillig commented on #776
I guess I'm just hoping there's an opportunity to improve over what I see are the options today, which seem to be:

- Use `AttributeRouteInfo` where possible and, if not, make a guess assuming it's a convention-based route.
- Know about every endpoint type like `MatcherEndpoint` and try to cast. Adjust any time any change happens to routing that might add different endpoint types or extensions.
-

[2018-09-05 22:56] JamesNK commented on #776
DisplayName is only for display. We don't want to make it parse-able.

Are you worried that there are going to be multiple endpoint types that have `RoutePattern` on them? In the next preview of ASP.NET Core 2.2 the MatcherEndpoint is being renamed to RouteEndpoint. It is the only implementation of Endpoint.

[2018-09-06 03:13] #762 closed

[2018-09-06 20:55] rynowak commented on #557
If we wanted to do this. We would do it by allowing attribute routes to specify tokens/parameters with the same syntax that is allowed for conventional routes. We basically have the infrastructure to do this already since it do it with Endpoint Routing for conventional routes.

We've had a few asks for this but it doesn't seem high priority, so moving to backlog.

[2018-09-06 20:56] rynowak commented on #731
This is an intended change in behaviour. We're doing a feature in preview3 that will let application developers canonicalize the the casing and formatting of things like action and controller names. This is a much better way of satisfying this user desired than putting canonicalization at the every call site to link generation.

[2018-09-06 20:56] #731 closed

[2018-09-06 21:00] rynowak commented on #380
This is a large and complex issue for what are today niche scenarios. If we see growth in the use routing in 3.0 for non-MVC scenarios we should reconsider. These kinds of behaviours would be quite valuable for doing something like implementing an API gateway.

[2018-09-06 21:04] rynowak opened #782 "MVC is using both IActionConstraint and MatcherPolicy for HTTP methods / Consumes"
This is costing us some performance in our benchmarks. Both the MatcherPolicy graph nodes are created and the IActionConstraints are running.

[2018-09-06 21:34] JamesNK commented on #776
I discussed this with the team and we have no plans to change routing to use other kinds of endpoints for MVC actions. You will be safe testing the type and getting RoutePattern from RouteEndpoint (aka MatcherEndpoint)

While we could add the RoutePattern to the endpoint's metadata, it would wasteful to do it now just for a what-if scenario. And it is something we could do in the future if this ev

[2018-09-06 21:36] tillig commented on #776
If it's reasonably safe, casting will work. I appreciate the help and follow-up on this. Thanks!

[2018-09-06 21:36] #776 closed

[2018-09-06 23:58] rynowak commented on #435
This has been fixed for the new Endpoint Routing feature set in 2.2. Old `IRouter` still behaves as is.

[2018-09-06 23:58] #435 closed

[2018-09-09 22:17] #782 closed

[2018-09-10 23:11] #553 closed

[2018-09-12 23:03] JamesNK commented on #557
So with this fix - https://github.com/aspnet/Mvc/pull/8447 - we now support normal parameters in route attributes which can have defaults, e.g. `[Route("{controller=Home}/{action=Index}")]`.

I think we can close this // @rynowak

[2018-09-12 23:06] rynowak commented on #557
Lovely. Let's close this then.

[2018-09-12 23:06] #557 closed

[2018-09-14 02:12] rynowak commented on #715
Note, we ended up making the existing functionality a lot faster as part of this work. LinkGeneration is slightly faster than the 2.1.0 experience with routing.

[2018-09-14 02:12] #715 closed

[2018-09-14 21:48] JamesNK commented on #186
Hi everyone

We have finished adding parameter transformers to routing and MVC. It will be available in 2.2 preview 3. A custom parameter transformer is used to change how parameters are match and generated.

Create a custom transformer:
[code]
Configure services:
[code]
Configure route:
[code]
Matched and generated URL changes from: `http://localhost/ConventionalTransformerRoute/ConventionalTrans

[2018-09-14 21:53] JamesNK commented on #186
I'm going to close this as done. If you have feedback you can leave it here or create a new issue. If we identify changes we want to make before 2.2 goes live then we can reopen the issue.

[2018-09-14 21:53] #186 closed

[2018-09-17 18:00] JamesNK opened #797 "Clean up tasks"
Misc small tasks that need doing:

- [x] xmldocs on IRouteValuesAddressMetadata and RouteValuesAddressMetadata
- [x] null checks on RouteValuesAddressMetadata ctor

[2018-09-17 19:19] rynowak opened #798 "Make AmbientValues explicit in GetPathByAddress"
We want to make it possible for some address schemes to use ambient values, and other to ignore them. The best way that I can think of is to make the ambient values an explicit argument to GetPathByAddress, so that the scheme-specific extension methods can pass them in if they want them.

[2018-09-18 21:39] JamesNK opened #800 "Inbound route transformer"
As discussed at EndpointCon 2018

[2018-09-19 03:41] rynowak opened #802 "Values passed to UrlBuildingContext.Buffer don't get pre-processed"
https://github.com/aspnet/Routing/blob/release/2.2/src/Microsoft.AspNetCore.Routing/Internal/UriBuildingContext.cs#L97

We put a bunch of logic in `Accept` to pre-process values before they get written to the URL. Unfortunately we missed updating `Buffer` - they probably need to flow through some shared code path.

here's an example that would break.

`Foo/{bar=BAR}/{id?}`

If you had lowercase ur

[2018-09-19 17:56] JamesNK commented on #802
Does parameter transforming have this issue?

[2018-09-20 02:35] rynowak commented on #802
Yes, and that's also fixed in my PR

[2018-09-20 18:01] #802 closed

[2018-09-20 19:51] JamesNK opened #805 "Replat slim framework on endpoint routing"
https://github.com/davidfowl/Web.Framework/tree/master/Web.Framework

[2018-09-20 20:44] GranDanois opened #807 "Scaffold Identity"
Scaffold Identity does not support areas.

If you create other areas link to identity pages no longer works.
<a asp-area="Identity" asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
gives the route /Account/Login and not /identity/Account/login

[2018-09-20 21:29] javiercn commented on #807
@GranDanois Can you point us to the specific links that don't work?

[2018-09-20 21:41] javiercn commented on #807
@GranDanois I tried to repro this and I wasn't able to. Could you please provide a minimalistic repro project that illustrates the problem?

[2018-09-20 21:43] GranDanois commented on #807
No longe sure what the problem is; the notation
<a asp-area="Identity" asp-controller="Account" asp-action="Login">
no longer works after having created other areas now I have to use
<a asp-area="Identity" asp-page="/Account/Login">
for routing to work?

[2018-09-20 21:57] #807 closed

[2018-09-20 23:55] JamesNK commented on #805
FYI @davidfowl

[2018-09-22 23:42] rynowak commented on #798
Done

[2018-09-22 23:42] #798 closed

[2018-09-25 02:51] rynowak opened #810 "Decision Tree can throw when ambient values = null"
You get a call stack like:

[code]

The world is already a pretty harsh place, we should try to be more accepting of others, regardless of whether they have ambient values.

[2018-09-25 02:52] rynowak commented on #810
There will be a workaround to remove from MVC - search for this issue #

[2018-09-25 04:52] rynowak opened #814 "Add LinkGenerator functional tests in MVC"

[2018-09-25 04:56] rynowak commented on #810
Leaving this open until the workaround is removed everywhere as a reminder.

[2018-09-26 02:15] rynowak commented on #810
Closing this since the packages were already updated in MVC, there's nothing to remove 😁

[2018-09-26 02:15] #810 closed

[2018-09-26 19:42] JamesNK opened #815 "Update ASP.NET template Startup.cs with new routing API"
Templates's Startup.cs needs to use UseEndpointRouting and UseEndpoint instead of UseMvc.

[2018-09-28 16:26] Eilon opened #823 "Retrieving Route Data from Virtual Path in MVC Router"
_From @knyzorg on Monday, 13 August 2018 20:01:26_

I am working on an .NET Core MVC application which requires alternative controller/action names to be allowed. To accomplish this, I am using my own Router on a MapRoute:

[code]
My custom router observes the requested controller and action, and based on it places a new value into the RouteData in the request:

[code]
However, to determine the va

[2018-09-28 16:51] mkArtakMSFT commented on #823
Thanks for contacting us, @knyzorg.
@rynowak, what are your thoughts regarding this?

[2018-09-29 06:33] JamesNK opened #825 "Domains with EP routing"
I came across this question while waiting for a flight - https://www.reddit.com/r/dotnet/comments/9jn69g/question_not_having_much_luck_on_stack_overflow/

What can we do to make multiple domains with asp.net core easy? Am I right that a policy could work? Should come up with a sample.

[2018-09-29 06:42] JamesNK commented on #814
I could do this if you're busy. I haven't touched the link generation much

[2018-09-29 17:44] rynowak commented on #825
It depends what you want. This is a really open ended question. I think the start for this would be to define what the scenarios and requirements are.

[2018-09-29 17:45] rynowak commented on #814
I was actually going to do it now 😆

[2018-09-29 18:52] knyzorg commented on #823
Really I just want to be able to have synonyms for controller and action names. I want `/foo/bar` to trigger the same code paths as `/oof/rab` if I so desire.

The reason for this is URL internationalization, I want to have urls look like `en/hello/world` and `fr/salut/monde` which map to the same page. I would leave MVC behind completely in favor of writing my own convention, but the convenience

[2018-09-29 19:31] JamesNK commented on #825
I can think of three scenarios:
1. One endpoint but the domain is a route value.
[code]
Probably not valuable because you can get the host off the HttpRequest in the controller anyway.

2. Different controllers (maybe grouped into an area) depending on the domain
[code]
3. Different razor pages (with the domain in the path) depending on the domain
[code]

[2018-09-29 19:52] rynowak commented on #823
Thanks, that's what I thought you might be asking 😀

Should this include views? If you have views, will this include different `.cshtml` files for each locale?

How do you want/expect link generation to work? Do you want something like:
[code]
OR

[code]

I'm asking for clarification because there are a few difference schemes for how to implement something like this. The major pivot is whether you

[2018-09-29 19:55] knyzorg commented on #823
If the link generation could work by allowing me to specify the local myself, that would really be ideal if possible. So the first variant please.

`Url.Action` is basically the same thing as the `<a>` helper tag, right?

[2018-09-29 19:56] rynowak commented on #823
Yes, exactly.

[2018-09-29 19:56] rynowak commented on #823
Give me a bit, I'll whip up a sample of this.

[2018-09-29 20:17] rynowak opened #826 "Plan to migrate IRouter based implementations onto Endpoint Routing"
# Summary

I'm developing a plan to make it possible for folks implementing `IRouter` based functionality to migrate endpoint routing. This is our future direction for MVC and the stack in general, and we don't want to leave users/frameworks behind.

I'm also lumping in this category custom `IActionSelector` implementations. `IActionSelector` is not used in endpoint routing so it's just as relevan

[2018-09-29 21:29] #797 closed

[2018-09-30 00:51] rynowak opened #828 "nullref when using 'page' as a route parameter with Razor Pages in application"
The parameter replacement we do when building endpoints can result in a nullref when you define an attribute route like `foo/bar/{page}` **and** have Razor Pages in the app. This causes `page` to show up in the required keys, which leads to the nullref.

We have a fundamental conflict about what to do in this case, because using a 'reserved' parameter means that certain features just won't work we

[2018-09-30 00:51] rynowak commented on #828
/cc @pranavkm thoughts?

[2018-09-30 02:12] JamesNK opened #829 "Razor pages + parameter transformers"
Haven't tested how parameter transformers interact with Razor pages.

- [x] Ensure two features work together
- [x] Functional tests

[2018-09-30 03:35] rynowak commented on #814
Done

[2018-09-30 03:35] #814 closed

[2018-09-30 03:54] rynowak commented on #825
What would you use that route value for? I'm not sure this is a thing, because *route values -> selecting an endpoint* OR *route values -> URL generation* - if you're not using it to change how either of these behave, then it's not really a routing feature.

If the whole ask is just to be able to tokenize a hostname with routing, that's kinda weak. I've seen people ask for `{sub}.mydomain/com/....

[2018-09-30 03:57] rynowak commented on #616
I've been thinking about this in the context of things like files, and potentially more middleware implementing `IEndpointFeature`. Does it now make more sense for the middleware to no op when the feature is already present and has an endpoint?

[2018-09-30 04:03] rynowak commented on #727
Closing this. I've investigated or fixed all of these things as much as I think is reasonable.

[2018-09-30 04:03] #727 closed

[2018-09-30 05:27] rynowak commented on #823
@knyzorg - reading through your question again, I'm wondering if I forgot to point out something obvious.

You can change `routes.DefaultHandler` so that it points to your custom route. Then you'll be called with the route values on the way in, and when links are being generated.

Inside `RouteAsync` translate the values from the locale to whatever language you're writing code in, and then do the

[2018-09-30 22:28] JamesNK commented on #538
Do we need another review session for 2.2?

[2018-09-30 22:59] #629 closed

[2018-09-30 23:00] rynowak commented on #538
I don't think so. The only we didn't get through was the https://github.com/aspnet/Routing/blob/release/2.2/src/Microsoft.AspNetCore.Routing/Matching/INodeBuilderPolicy.cs and it's pretty esoteric.

[2018-09-30 23:10] #538 closed

[2018-10-01 01:58] knyzorg commented on #823
How would `TranslationRoute` be implemented?

[2018-10-03 19:00] knyzorg commented on #823
It's really going over my head. I don't know to implement a route by myself. I thought of extending the Route class to make a TranslationRoute but Route wants a third parameter in the constructor involving inline constraints which I never even heard of before.

This is my first project in .NET and I may need some hand holding.

[2018-10-03 19:04] rynowak commented on #823
OK thanks for the feedback, I'll get back to you in a bit with a more fleshed out sample.

[2018-10-04 01:39] #828 closed

[2018-10-04 04:34] #829 closed

[2018-10-04 07:34] ststeiger commented on #512
Just tested.
Works as expected - all good in my 10 minutes test, as far as I am concerned.
How does it determine which constructor to use ?
e.g.

[code]

[2018-10-04 07:37] JamesNK commented on #512
https://github.com/aspnet/Routing/blob/release/2.2/src/Microsoft.AspNetCore.Routing/Internal/ParameterPolicyActivator.cs#L103-L139

Matches on inline args and then most number of arguments to get from DI.

[2018-10-04 16:14] rynowak commented on #512
Note that constraints have an **UNBOUNDED** lifetime. So if you try to access things like transient disposable services or a scoped service, expect some explosions.

[2018-10-04 17:12] ststeiger commented on #512
Nice warning/catch - but that much should be obvious.
But then again, who knows what all those services really do.

[2018-10-04 18:10] rynowak commented on #512
Lots of folks expect that everything works everywhere 😁 I do my best now to make it clear what's supported, because if it accidentally works, then someone will use it.

[2018-10-05 04:58] rynowak commented on #823
Here's a sample: https://github.com/aspnet/Mvc/compare/rynowak/localization-routing?expand=1

There's a few things that are slightly non-obvious and clunky.

Creating the routes themselves is kinda gross because there are so many parameters that are rarely used https://github.com/aspnet/Mvc/compare/rynowak/localization-routing?expand=1#diff-cd035ee26336357cbade86282aad4a22R73

If you're using defa

[2018-10-05 13:13] hewenyang commented on #826
Is it possible that Endpoint Routing be implemented as a `IRouter` itself?
I personally believe that the original `IRouter` approach is the only approach that covers all cases. Or at least, a linear-time search through a list of routers, where each router is a blackbox that rewrites or accepts a route, is inevitable.
The 'slug' route, or generally any URL-rewriting mechanism, apparently does not f

[2018-10-05 14:42] davidfowl commented on #826
URL rewriting isn't routing though, why would use use routing to rewrite the URL? We have a URLRewrite middleware specifically for that purpose. You run that before routing makes the decision on what end point gets selected.

[2018-10-05 15:01] hewenyang commented on #826
I mean the routers that want to supply route values and choose actions, and these may want to do link generation too

[2018-10-05 18:15] knyzorg commented on #823
It seems to be essentially what I was looking for. Thanks. I will try it out as soon as I can and will get back to you.

[2018-10-06 01:33] rynowak commented on #823
Great, I'm going to close this. Feel free to open another issue if you need something else.

[2018-10-06 01:33] #823 closed

[2018-10-06 01:59] rynowak commented on #826
The contract of 'endpoint routing' in 3.0 is to produce an instance of `IEndpointFeature` and attach it to the http context. https://github.com/aspnet/HttpAbstractions/blob/master/src/Microsoft.AspNetCore.Http.Abstractions/Routing/IEndpointFeature.cs

There can be any number of middleware that participate in this cooperatively. There's no reason why you couldn't write an `IRouter`-based implementa

[2018-10-06 03:35] rynowak opened #837 "Failed routing initialization can cause subsequent requests to go into the aether"

[2018-10-06 04:04] rynowak commented on #826
Done for 2.2

[2018-10-06 11:23] drieseng opened #842 "Unable to find package when attempting to run benchmarks"
When I attempt to run the benchmarks in **master** I get the following errors:

[code]

I followed the [Building from source](https://github.com/aspnet/Home/wiki/Building-from-source) instructions. Building the sources works just fine (using both VS and `dotnet build`).

What am I missing?

[2018-10-06 16:49] drieseng commented on #842
@JamesNK Any idea?

[2018-10-06 22:55] rynowak commented on #842
Did you run `build.cmd` first? Those scripts acquire the required version of the runtime - which include `Microsoft.NETCore.App`

[2018-10-06 23:14] rynowak commented on #837
Done. https://github.com/aspnet/Routing/pull/839

[2018-10-06 23:14] #837 closed

[2018-10-06 23:59] rynowak opened #843 "Don't use marker types as metadata"
/cc @JamesNK

So something I realised, we can't really use marker types like `ISuppressMatchingMetadata` as metadata types. We want metadata to be overridable, and you can't override the presence of something.

I have a PR in the works to address this issue for suppress matching and suppress link generation. Are there others?

[2018-10-07 00:15] JamesNK commented on #843
I didn't add any. Is the plan to add a boolean flag to the metadata?

[2018-10-07 00:43] rynowak commented on #843
Yeah that's what I did in the PR. It's just future proofing really.

We have things like this in MVC that are policies that can't be overridden (like `IAllowAnonymous`) I didn't want to bake this problem into the design of a new system.

[2018-10-07 00:43] rynowak commented on #843
I'll resolve this once my cleanup PR is merged then. I don't think we have another others.

[2018-10-07 06:08] drieseng commented on #842
Yes, I ran `build.cmd /t:restore` as mentioned on [Building from source](https://github.com/aspnet/Home/wiki/Building-from-source).

It works just fine on the **release/2.2**. This may be because that one uses the **.NET Core 2.2** toolchain, while **master** uses **.NET Core 3.0**.

[2018-10-07 06:37] JamesNK commented on #842
I encountered the [same error](https://github.com/aspnet/Routing/pull/799#issuecomment-423825576) on the 3.0 branch a few weeks ago. I _think_ I resolved it by changing the environment path to dotnet install folders. I'm not completely sure because I was trying to fix another problem and it suddenly resolved itself.

[2018-10-07 08:05] JamesNK opened #845 "Parameter name and parameter transformer"
re: https://twitter.com/seangwright/status/1048086101833998336

I noticed the functionality in [his convention](https://t.co/gvEITvRLCS) has different rules for controller and action.

Should parameter transformer have the name of the parameter in the signature?

[code]

That would enable him to apply his additional rule to strip Get/Post/Delete from the action route value.

[2018-10-07 17:13] rynowak commented on #845
My original design intent was no, because when you use it with the inline syntax you're binding it to a parameter directly in the template. Route constraints need it because they need to access the route value dictionary.

However maybe this does make sense given how we've exposed it from MVC.

[2018-10-09 00:00] rynowak commented on #843
Done.

[2018-10-09 00:00] #843 closed

[2018-10-09 17:13] mkArtakMSFT commented on #845
@JamesNK, @rynowak is there any action we should take here?

[2018-10-10 17:19] mkArtakMSFT commented on #842
@drieseng, did you try this?

[2018-10-10 19:35] rynowak commented on #823
This would also work fine. My example (multiple routes) limits the number of languages that can match. In your example it would match any string with that first segment: `/foobar/Home/Index` and bind it to the language route value.

[2018-10-11 03:49] JamesNK commented on #845
We're not going to change this.

[2018-10-11 03:49] #845 closed

[2018-10-11 18:52] neesinch commented on #623
Even i am f

Even i am facing exactly same issue, on a sample application url works fine, but as son as I add authentication its breaking, unable to figure out whats going wrong. Just stuck up in our migration to .net core process.

[2018-10-11 19:00] neesinch commented on #623
Cshtml code
<a href="@Url.Action("Index", "Story", new { area = "Bio" })" ></a>

html rendered code
<a  href="/Bio?area=Bio"> </a>

Routes:
			app.UseMvc(routes =>
			{
				routes.MapRoute(
					"Bio_default",
					"Bio/{controller}/{action}/{id?}",
					new { controller = "Story", action = "Index" }
			       );
				routes.MapRoute(
					"default_route",
					"{controller}/{action}/{id?}",
					n

[2018-10-12 07:37] Apower952 commented on #623
Hi @neesinch,

I had given up on looking for a fix for this. I had a quick look there there this morning and found some documention for core 2.1 - https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.1

It looks like you're meant to mark the areas controllers with an area attribte and provide the area name. See my example below. "Admin" is the name of my area. So I

[2018-10-13 20:32] JamesNK opened #857 "Split samples website into sandbox and function websites"
Split samples website into sandbox and function websites.

Discussion:
I found developing the host matcher policy without unit tests in samples a real pain. What do you think of a test project for sandbox? Alternatively dev for things like it could be something that happens in the AspLabs repo, but that would entail a new solution, web site, etc.

[2018-10-15 15:13] rynowak commented on #857
I think its fine as long as we're willing to throw stuff away when it's no longer relevant.

[2018-10-15 19:34] Eilon opened #861 "Lower kebab case routing url"
_From @TanvirArjel on Monday, 15 October 2018 12:10:11_

In the `ConfigureServices` method of the `startup` class I am configuring as follows:

`services.AddRouting(option => option.LowercaseUrls = true);`

And it making my routing url `http://localhost:13921/Exception/ExceptionList` as follows:

`http://localhost:13921/exception/exceptionlist`

Actually it should have been:

`http://localhost:139

[2018-10-15 21:27] khellang commented on #861
This is coming as an extensibility point in 2.2, called "parameter transformers". See https://github.com/aspnet/Routing/blob/a657c3bdf2a37b07327229b89940502f058ebc95/test/Microsoft.AspNetCore.Routing.Tests/TestObjects/SlugifyParameterTransformer.cs for an example.

[2018-10-15 21:42] JamesNK commented on #861
Yup, parameter transformers let you do this. Note that this feature is not in 2.2 preview 2. Preview 3 will have parameter transformers.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2#parameter-transformer-reference

Is this what you are looking for?

[2018-10-16 13:54] TanvirArjel commented on #861
@JamesNK  Thanks! I have few questions as follows:

1. Document says that Parameter transformers are needed to be configured using `ConstraintMap`. So in this case what will be the `ConstraintMap` value in the following code.

[code]

2. Document also says:
[code]
With the preceding route, the action `SubscriptionManagementController.GetAll()` is matched with the URI `/subscription-management/get-

[2018-10-16 17:27] pranavkm opened #862 "Difference in rejected outbound route constraint behavior compared to 2.1 and endpoint routing"
I have an `IRouteConstraint` like so:

[code]

The action:
[code]

and the view:

[code]

With 2.1 routing, the output is so:

With 2.2 routing, the output is so:

Might be the same thing as https://github.com/aspnet/Routing/issues/728. Filing this so we're aware of the difference in behavior.

[2018-10-16 20:18] rynowak commented on #862
Does you application also have a conventional route? I don't understand how you're setting that result in 2.1

[2018-10-16 20:31] rynowak opened #864 "Review metadata types and consider changing to attributes"

[2018-10-16 20:32] rynowak opened #865 "Remove LinkGenerationTemplate from 2.2"
After some discussion, I'm not thrilled with the state of this feature. I talked through it with @glennc - and I'm not sure that there's any real scenario we'd tell customers to use it for.

I'm going to mark this as internal in 2.2, and we can come up with a plan to design it harder for 3.0

[2018-10-16 20:33] pranavkm commented on #862
Yup, there's a conventional route with the default template. Removing it makes the two versions behave identically.

[2018-10-16 20:33] rynowak commented on #862
hmm that's interesting, I would expect the link generator to see both templates.

[2018-10-16 20:35] rynowak opened #866 "Redesign LinkGenerationTemplate"

[2018-10-16 20:45] JamesNK commented on #861
While setting an IsSlugify boolean value would be simpler in your case, it doesn't help developers support other scenarios. By supporting a developer to plug in a transformer into routing they can make routes that use camelCasing, snake_casing, slugify-casing, etc.

[code]

[code]

[2018-10-16 20:51] shawnwildermuth opened #867 "Endpointing Routing in 2.2 going to be default?"
I'm trying to get my head around the Endpoint routing. I understand why you're introducing it, but it looks like it's going to break some major things (for me, it's **/Microsoft/aspnet-api-versioning**). I can turn off Endpoint routing, but I am hoping to get some opinions about how we should teach it to new students.

The preview1 announcement makes this interesting pronoucement (emphasis mine):

[2018-10-16 21:08] JamesNK commented on #867
If the MVC compatibility version is set to 2.1 or lower then it is not on by default. This is what the default MVC template includes when an MVC project is created. By choosing to set the compatibility flag to 2.2 (or latest) you're opting into the latest features, and that means accepting that when you upgrade you may need to change your application to work with the latest MVC features.

If you u

[2018-10-16 21:19] shawnwildermuth commented on #867
This isn't what I'm getting in Preview2.  A new mvc project (dotnet new mvc) has:

[code]

[2018-10-16 22:07] shawnwildermuth commented on #867
We're on the same page then.

[2018-10-17 00:51] rynowak commented on #867
We've had a few discussions with @commonsensesoftware about this already. Many of the details of the new system works are based on his feedback.. I'm sure we'll work with him to get a release of API versioning that supports the new stuff.

[2018-10-17 03:17] shawnwildermuth commented on #867
Cool, I'm going to see if I can help him with a PR, so we'll have something works by 2.2

[2018-10-17 22:24] #842 closed, assigned to nobody

[2018-10-18 21:06] rynowak commented on #867
Closing this since its answered

[2018-10-18 21:06] #867 closed

[2018-10-20 19:22] JamesNK opened #877 "MVC endpoint data source should add new metadata at the start of the collection"
e.g. suppress matching, route values address

Avoid being override by existing metadata from the controller/action.

[2018-10-22 22:13] #865 closed

[2018-10-23 20:11] drieseng commented on #866
I had a quick look at **DefaultLinkGenerator** and **DefaultLinkGenerationTemplate** before I saw this issue. What I noticed was that:
* it always iterates over all endpoints (it does this for the purpose of logging only?)
* for each endpoint it has to check whether it's a **RouteEndpoint**
* it then creates a **List\<RouteEndpoint>** containing all **RouteEndpoint** instances.

It does this for e

[2018-10-24 00:54] #857 closed

[2018-10-24 03:29] rynowak commented on #862
OK. this is definitely expected behaviour in 2.2

What's happening is that in the 2.1 case the conventional route (without constraint) can successfully generate a URL - because that's what conventional routes do.

Conventional routes in endpoint routing don't link to actions that don't exist.

[2018-10-24 03:29] #862 closed

[2018-10-24 20:45] vkukke opened #894 "Getting 404 with attribute routing in ASPNetCore 2.1.4"
I'm trying to setup Web APIs using aspnetcore 2.1.4.

I have a console app which does the following:-
IWebHost managementHost = ManagementHostBuilder.Build();
managementHost.Start();

I have another dll where I have
1. WebHostBuilder
2. Startup
3. Controller

Code snippets are provided below
WebHostBuilder
Has mostly configuring kestrel and sets up the startup class (ManagementStartup)

Startup Cl

[2018-10-24 20:53] mkArtakMSFT commented on #894
Hi @vkukke.
It looks like your APIs require and `id` parameter. Try to remove the `id` parameter from the `GetProducts` API.

[2018-10-24 20:55] vkukke commented on #894
yikes. its a typo.  Apologies. Removed it and same result. FYI

[2018-10-24 22:12] mkArtakMSFT commented on #894
Closing this issue as it's resolved now.

[2018-10-24 22:12] #894 closed

[2018-10-26 18:59] #877 closed

[2018-10-28 19:14] rynowak commented on #864
After review I think we should close this in favor of more targeted work in the future (as needed). I don't think we have anything to lose if we don't do this now. I'm not going to log an issue because if this is important it will come up again when we write sample code.

A few reasons:
- All of these classes are `XyzMetadata`, if we wanted to add attribute versions we would create `XyzAttribute`

[2018-10-28 19:14] #864 closed

[2018-10-31 12:11] drieseng commented on #866
@JamesNK @rynowak Can you feedback on my comment above? Is this something I can take a stab at?

[2018-10-31 13:36] cypressious opened #896 "Attribute routing: GetVirtualPath() (e.g. called by Url.Action) doesn't respect constraints from IApplicationModelConvention"
Moving from https://github.com/aspnet/AspNetCore/issues/3745

## Short version

When adding selectors with constraints using an `IApplicationModelConvention` like so

[code]

anything that calls `GetVirtualPath()` (e.g. `Url.Action()`) doesn't respect the constraints.

To reproduce, checkout and run https://github.com/cypressious/asp-net-core-localized-routes-issue, then open http://localhost:5000

[2018-10-31 13:36] cypressious commented on #896
@hishamco anybody specific I should ping?

[2018-10-31 13:45] hishamco commented on #896
/cc @rynowak @JamesNK

[2018-10-31 18:55] rynowak commented on #896
Action constraints only run during action selection - they have no role during URL generation.

[2018-10-31 18:55] rynowak commented on #896
What are you trying to accomplish?

[2018-10-31 19:37] cypressious commented on #896
My application should run on different domains, each corresponding to a culture. Every culture has its localized routes, but I don't have the culture as part of the url. The generated links must be correct for every domain/culture, e.g. on the frontpage I have a link to the user page which is

http://your-domain.com/user for en culture
http://your-domain.de/benutzer for de culture

[2018-10-31 19:39] drieseng commented on #866
in [`GetEndpoints<TAddress>(TAddress address)`](https://github.com/aspnet/Routing/blob/3d828221a19d91907c52c2f40928b019bee1ef92/src/Microsoft.AspNetCore.Routing/DefaultLinkGenerator.cs#L192) which is invoked from just about any method in this class that does not take a **List\<RouteEndpoint>**.

If such a component is heavily used, then any optimization (whether perf or memory wise) makes sense to

[2018-10-31 19:49] rynowak commented on #866
Ah, you're right! That is something we should clean up.

[2018-10-31 21:10] drieseng commented on #866
I'd be happy to take care of it. Do you want to continue logging all endpoints that are found (when debug logging is enabled)? If yes, we may need to have fast and slow paths. In the former case we'd only iterate until we find a match.

I had a quick look at **TemplateBinder**, and identified some low hanging fruit.
I'll look at these first.

[2018-10-31 21:12] rynowak commented on #866
I think it would be OK to log each endpoint as we try it in Debug.

Feel free to send a PR for these things 👍

[2018-11-01 10:18] drieseng commented on #866
In what repo can I find **Microsoft.Extensions.Internal.PropertyHelper**?
It's included through a (source) package reference in the **Microsoft.AspNetCore.Routing.Abstractions** project.

[2018-11-03 08:14] JamesNK opened #899 "Move endpoint convention builder to HttpAbstractions"
Consider moving builder related types to HttpAbstractions:
* `IEndpointConventionBuilder`
* `EndpointModel`

https://github.com/aspnet/Security/pull/1894#discussion_r230487509

[2018-11-03 12:58] dodyg opened #900 "No candidates found for the request path '/'"
[code]

This is the resulting log
[code]

for `http://localhost:5000` request.

The source code is as follows

[code]

This code is so basic I don't see what could be the problem.

[2018-11-03 14:59] dodyg commented on #900
And if I change the controller to the following

[code]

It will work on `http://localhost:5000/`, `http://localhost:5000/index` but not `http://localhost:5000/home`.

[2018-11-03 16:32] chrisoverzero commented on #900
Could this be because you've misspelled "Controller" in `HomeController`?

[2018-11-04 02:31] davidfowl commented on #900
Yep. It's that.

[2018-11-04 09:05] dodyg commented on #900
ha..ha..thanks.

[2018-11-04 09:05] #900 closed

[2018-11-04 18:15] rynowak commented on #866
https://github.com/aspnet/Extensions/tree/master/src/Shared/src/PropertyHelper

[2018-11-05 06:31] BoasE commented on #896
Any news on this ? @mkArtakMSFT

[2018-11-05 12:04] hishamco commented on #896
@BoasE Could you use my workaround that I mentioned, while the team got a time to investigate on this, because if there's a bug, will not show up until the next release, or you can using a nightly builds

Hope @mkArtakMSFT will reply to use, because he knows better than me about the team 😄

[2018-11-05 12:20] BoasE commented on #896
The most important thing is to know wether it is a bug :)

I still see a small chance that we are just missing something on how to implement it in the supported way.

So its mainly important to get a information wether it is a bug or if we should use the asp in an other way for this

[2018-11-05 15:39] dazinator opened #904 "Question about endpoint routing and multitenancy"
Reading this:

from https://blogs.msdn.microsoft.com/webdev/2018/08/27/asp-net-core-2-2-0-preview1-endpoint-routing/

With traditional routing, you can fork the http middleware pipeline, for example, per tenant, and then on each fork of the pipeline you can `UseRouting` with a router configured with routes for the specific tenant. This provides nice isolation of tenant routes.

What's the story wi

[2018-11-05 18:01] mkArtakMSFT commented on #904
Thanks for contacting us, @dazinator.
@JamesNK, can you please look into this? Thanks!

[2018-11-05 18:43] mkArtakMSFT commented on #896
@JamesNK, can you please look into this one as @rynowak is out.

[2018-11-05 18:49] JamesNK commented on #896
It is not a bug. Like Ryan said, action constraints only run when matching incoming requests to actions. They don't run when generating a route.

[2018-11-05 19:32] hishamco commented on #896
@JamesNK even though if it's not a bug I'm not sure what's the secret behind `GetVirtualPath()` because it has a strange behavior. Hope you have a look to the original issue, to know what i'm talking about

[2018-11-05 20:42] dazinator commented on #904
Thanks for the clarification, looks like that should cater for different tenants having different endpoints.

[2018-11-05 20:45] dazinator commented on #904
Just occured to me, where would mvc's attribute routing fit into your example?

[2018-11-05 20:59] JamesNK commented on #904
Like this:

[code]

Do you have UseMvc nested inside Map today? Could you give a simplified example? e.g. the startup.cs code related to branching and MVC, along with example URLs.

[2018-11-05 21:10] JamesNK commented on #904
I was paranoid that we have never tested endpoint routing in branching. Test to confirmed it works - https://github.com/aspnet/Routing/pull/905 😸

[2018-11-05 21:20] dazinator commented on #904
Thanks for the test coverage :-)
In the test, I noticed the additional call to `app.UseEndpoint();` - wondered why you need to `UseEndpoint` and `UseEndpointRouting`?

[2018-11-05 21:49] hishamco commented on #896
What made me crazy is when I did a workaround for the issue, the link with TagHelper `<a asp-action="Privacy" asp-controller="Home">Privacy</a>` point to the correct wrote, while the HtmlHelper one doesn't `@Html.ActionLink("Privacy", "Privacy", "Home")`?!!

[2018-11-06 07:20] BoasE commented on #896
@hishamco the point i don't get is that if this is a expected behavior then this means you were not allowed to use Url.Action as soon as you have constrains because Url.Action may create Links that are not valid

@JamesNK  do you agree ?

[2018-11-06 07:31] JamesNK commented on #896
`IActionConstraint` is not supported in URL generation. `IRouteConstraint` is supported.

Instead of a route per language against an action, have you considered having a single route with the language as a route parameter? [This post on StackOverflow](https://stackoverflow.com/a/32839796/11829) goes into setting this up in some details.

[2018-11-06 07:37] BoasE commented on #896
@JamesNK the topic is that the page we are migrating already  has a url pattern without the culture in the parameter. changing this would break existing very well google ranked routes. So this is not an option.

The culture is only defined by the domain.

We found a solution by manually creating routes which seems to work , but it feels a little like reeinventing the wheel an d my expectation was

[2018-11-06 21:44] demonguru18 commented on #623
Did you add the Area attribute to HomeController
`namespace CarDealerNG.Areas.Admin.Controllers
{
    [Area("Admin")]
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}`
Startup.cs file
` app.UseMvc(routes =>
            {
                routes.MapRoute(
                    name: "default",

[2018-11-07 04:53] JamesNK opened #906 "RouteValuesAddressScheme issue"
`RouteValuesAddressScheme` will match endpoints that don't have `RouteValuesAddressMetadata` metadata. Seems like a bug to me.

From investigating https://github.com/aspnet/Mvc/issues/8690

[2018-11-07 05:16] JamesNK opened #907 "FindEndpoints_LookedUpByCriteria_MultipleMatches weirdness"
https://github.com/aspnet/Routing/commit/25b5ab2c3980569907d7c467dff185d00b9fbd64#diff-d27ab64c4b8a9e9cc5f4487c4b7f2864R227

FindEndpoints_LookedUpByCriteria_MultipleMatches is producing odd results. The same endpoint is returned 3 times. Is this expected?

Also the assert in the test is duplicated.

// @drieseng

[2018-11-07 05:46] JamesNK commented on #907
I reverted to older versions and this issue predates this test.

[2018-11-07 08:32] JamesNK opened #909 "Update templates to use endpoint routing API"

[2018-11-07 19:46] JamesNK commented on #907
I'm not certain there is an issue here but it feels odd that if can give a route a name but no required route values, that the route is returned when finding endpoints by route values.

A fix could be to never return an endpoint with null required route values when find endpoints by route values.

This behavior exists in 2.2 but it should not effect anyone using MVC because MVC endpoints always ha

[2018-11-07 20:42] drieseng commented on #907
@JamesNK Sorry if the tests are flawed. I just created tests that allowed me to test all code paths. I should perhaps get more familiar with routing :p

[2018-11-07 21:18] JamesNK commented on #907
No problem. I think the endpoints and metadata being created for the tests combined with the current behavior creates results that are unexpected.

[2018-11-07 23:42] rynowak commented on #906
Oh that's bad 😢

[2018-11-08 18:18] Eilon commented on #906
@rynowak bad enough to take in 2.2?

[2018-11-08 19:22] Eilon commented on #906
Oh sorry I missed the email where you said it was OK to go into 3.0.

[2018-11-09 22:36] rynowak commented on #623
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-11-12 01:31] JamesNK commented on #861
I think all the questions have been answered. Closing.

[2018-11-12 01:31] #861 closed

[2018-11-12 07:48] BoasE commented on #896
I think you can close it. but i want to point out that it isn't returning a **valid** url. as the url that it creates can't be called du to the constraints and therefore results in a errorcode.

But I understand its workin the way it is designed for.

[2018-11-12 09:03] JamesNK commented on #896
You are mixing together route matching with MVC resolving the route to an action. IActionConstraint is used by MVC to resolve a matched route to an action. This step doesn't apply when generating a link so IActionConstraint is not called.

What you want to use is IRouteConstraint.

[2018-11-12 09:03] #896 closed

[2018-11-12 09:58] cypressious commented on #896
@JamesNK but that's exactly the point, there's no way to add an `IRouteConstraint` using `IApplicationModelConvention`

[2018-11-13 21:23] rynowak commented on #866
Yeah please send a PR for this. If this change is what you say then we absolutely want it improve it.

[2018-11-20 06:55] BoasE commented on #896
@JamesNK  do you have an example on how to add RouteConstraints instead of action constraints?

[2018-11-20 09:38] JamesNK commented on #909
Blocked on upstream build issues.

[2018-11-21 11:42] BoasE commented on #896
Any news? @JamesNK

[2018-11-21 19:06] JamesNK commented on #896
I linked one here - https://github.com/aspnet/Routing/issues/896#issuecomment-436156772