[2014-02-28 18:10] rynowak opened #8 "Routing does not encode / in segments"
If you have "{controller}/{action}" and new { controller = "cool/beans", action = "index" } you get "cool/beans/index".  This doesn't roundtrip via parsing, so it's almost certainly something we want to change.The System.Web implementation **does not** deal with this case.

From @Eilon

[2014-02-28 18:11] rynowak opened #9 "Use a common query string builder api"
Routing has code to manually build a query string, it would be great if we had a shared library for this

[2014-03-06 04:33] davidfowl opened #12 "Make IRouteCollection implement a collection interface"
Today route collection isn't actually a collection, it just has Add(IRouter). We probably need to implement `IDictionary<string, IRouter>` on it so routers can be looked up by name.

[2014-03-06 19:19] rynowak opened #13 "Support named routes"
DO IT. You know you want to

[2014-03-06 21:53] rynowak opened #14 "Should routing generate full urls, full paths, virtual paths, or your choice?"
Currently we do virtual paths (but without the ~/).

[2014-03-06 23:06] rynowak opened #15 "Design passing top level router to applications"
We need a way to provide the top level IRouter instance to applications. Using service provider isn't great because an application could be reachable via multiple routes.

SetFeature isn't great because we'd need to remove it if not handled. The RouteContext might be the best way.

[2014-03-07 00:23] rynowak opened #16 "Think about contract for RouteContext, BindPathContext"
Is it important to clean up state changes if you don't match?

[2014-03-07 00:51] rynowak opened #18 "Routes need to be able to filter on the presence of a value"
With routes like this:

[code]

And data like

[code]

The REST route will be able to create a URL - which isn't desirable.
?action=Details

We could solve this problem with constraints, but we might want a better way.

[2014-03-10 17:57] #15 closed, assigned to nobody

[2014-03-15 22:58] davidfowl opened #21 "Consider adding extension method to the RouteCollection to register a delegate callback for a route"
It would make writing inline handlers easier.

[code]

Somebody could even extend this and write a routing microframework:

[code]

[2014-03-17 06:55] davidfowl opened #22 "Update test projects to use new test infrastructure"
https://github.com/aspnet/Testing/wiki/How-to-create-test-projects

[2014-03-18 23:26] #22 closed, assigned to nobody

[2014-03-29 04:14] victorhurdugaci opened #29 "Query string binding incorrect for array of enums"
Use the following code to repro:

[code]

Do an HTTP Get to the config method and pass the following parameters:

[code]

Expected: the method will return "Get|Post"
Actual: the method returns "None|None"

[2014-03-31 19:28] #29 closed, assigned to nobody

[2014-04-03 20:53] rynowak opened #31 "Should GetVirtualPath return PathString"
Inside URL generation in MVC we need to do some stuff that PathString already handles. Would be easier if GetVirtualPath just returned PathString.

We have to harden this code against a missing leading slash because 3rd party route code could do it. Using PathString would enforce this.

[code]

[2014-04-15 20:01] rynowak opened #32 "app.UseRouter() extension should return IBuilder"
Moved from aspnet/WebFx#134

app.UseRouter() should return an IBuilder instead of IRouteCollection to support chaining of middlewares like this:

app
.UseFileServer()
.UseRouter() //<-- Currently this is not possible as this returns an IRouteCollection
.MapSignalR()

[2014-04-16 06:42] davidfowl opened #33 "Remove UseRouter overload that doesn't take IRouter"
Since we're going to be doing #32 we should do this as well.

[2014-04-17 03:02] #33 closed, assigned to nobody

[2014-04-17 03:02] #32 closed, assigned to nobody

[2014-04-17 23:23] Eilon opened #35 "RouteCollection ctor should take in the default route handler"
Instead of having to write this:

[code]

I want to write this:

[code]

[2014-04-21 09:04] davidfowl opened #36 "UseRouter should take IRouter not IRouteCollection"

[2014-04-23 17:19] sebastienros opened #37 "Constrain routes based on permissions"
I'd like to be able to set permissions (or any claim) at the route level.See video here for an example: http://martini.codegangsta.io/

[2014-04-23 17:26] #18 closed, assigned to nobody

[2014-05-07 00:48] yishaigalatzer opened #42 "Optional route parameter"
Need a way to specify optional route parameters

@rynowak I recall you had some novel ideas in this area
@davidfowl / @Eilon any thoughts?

[2014-05-07 02:26] #42 closed, assigned to nobody

[2014-05-07 18:02] #13 closed, assigned to nobody

[2014-05-10 00:06] NTaylorMullen opened #44 "Routing - Make RouteCollection implement something"
It should probably implement IList and/or IDictionary. To be discussed further

| 197 | 10411 | Reported By: Ryan Nowak |

[2014-05-10 00:06] NTaylorMullen opened #45 "Data Tokens support"
Add data tokens and flow as part of our context objects

| 196 | 10410 | Reported By: Ryan Nowak |

[2014-05-13 00:26] yishaigalatzer opened #46 "Routing should support attribute routing style route constraints"

[2014-05-14 16:12] yishaigalatzer opened #47 "Support IgnoreRoute"

[2014-05-14 16:28] davidfowl opened #48 "Change UseRouter to take an IRouter not IRouteCollection"

[2014-05-14 20:20] yishaigalatzer opened #49 "Consider not running constraints on optional parameters/default values"
In the following routing registration code:

[code]

or

[code]

The user was expecting that for the request url `/home/index` the route will match, but it doesn't because of the constraints, and asked if we can avoid running the constraint if the value is the default value. Otherwise a special regex must be written.

The danger here is that if we do that, custom constraints that might have nothin

[2014-05-19 20:09] #48 closed, assigned to nobody

[2014-05-19 20:09] #44 closed, assigned to nobody

[2014-05-22 00:16] harshgMSFT opened #51 "Enable DI for use at startup in Routing."
While parsing the template Routing needs access to the following:
1. `IInlineConstraintResolver`
2. `IRouteConstraints` should be provided to the `IInlineConstraintResolver` using DI.
Refer Pr #50

[2014-05-23 21:59] #49 closed, assigned to nobody

[2014-05-23 22:18] #37 closed, assigned to nobody

[2014-05-29 08:18] aarne opened #54 "Resolve API versioning with new routing core"
With 5.x series and introduction of route constraints api versioning became possible, but we still lack lots of functionality when it comes to generating documentation and treating the version as core concept of the framework.

I suggest to take a look from a very beginning making sure the versioning will become a core concept in the routing before we start investing into writing self documenting

[2014-05-29 17:28] harshgMSFT opened #55 "Move Template class from Microsoft.AspNet.Routing.Template to Microsoft.AspNet.Routing"

[2014-05-30 17:18] #35 closed, assigned to nobody

[2014-06-02 23:24] #36 closed, assigned to rynowak

[2014-06-03 19:02] harshgMSFT opened #57 "Update MVC Sample to initialize DI layer in Routing."

[2014-06-03 19:03] harshgMSFT opened #58 "Enable all inline constraints."
We need to add all remaining inline constraints which were supported in MVC and WebAPI.

[2014-06-05 18:59] kulmugdha opened #62 "RouteCollection should be threadsafe"
I am working on an application where I need to add the routes dynamically to the RouteCollection. But current RouteCollection is not designed for this. It is not thread safe. I need to implement another RouteCollection with the exact same functionality that is thread safe.

Can we make current RouteCollection thread safe so we can add routes dynamically?

[2014-06-06 20:10] rynowak opened #64 "Add Datatokens Support"
Couldn't find a bug for this

DataTokens needs to be added to `RouteData` as a `Dictionary<string,object>`. `TemplateRoute` (and `MapRoute(...)`) need to accept data tokens from the user. When the route matches, the values should be copied to the `RouteData.DataTokens`

Also consider here making it `IReadOnlyDictionary<string, object>`

[2014-06-06 20:15] rynowak opened #65 "Create a new routedata for each 'router'"
For each hop in the graph of routers, we want to create a new copy of route data, so that each stage can write to it without dirtying data if it fails to handle the request.

Also, `RouteData.Routers` should be a logical stack of `IRouter` instances that represent the current execution.

Inside an MVC action in the default case this will look like:
[0]: Route Collection
[1]: Template Route
[2]: MV

[2014-06-16 18:42] #51 closed, assigned to harshgMSFT

[2014-06-18 21:57] harshgMSFT opened #70 "Add regex constraint as an inline constraint."
This requires parser changes and a design pattern to instantiate constraints.

[2014-06-18 21:58] harshgMSFT opened #71 "Document the date time format supported by DateTimeRouteConstraint"

[2014-06-19 17:10] #62 closed, assigned to nobody

[2014-06-19 17:12] #64 closed, assigned to nobody

[2014-06-19 21:42] #57 closed, assigned to harshgMSFT

[2014-06-19 21:42] #58 closed, assigned to nobody

[2014-06-19 21:42] #46 closed, assigned to harshgMSFT

[2014-06-22 02:07] pawelpabich opened #74 "Convention based routing"
Hi,

Would it be possible to introduce convention based routing?  If not thne would it be possible to introduce an option that is based on namespaces? e.g. Controllers\Admin\UserManagement\DeactivationsController.PendingActions would map to Admin\UserManagement\Deactivations\PendingActions url. This option would need to support any number of subnamespaces so it is not limited in the way areas are.

[2014-06-23 19:01] #74 closed, assigned to nobody

[2014-06-27 18:55] rynowak opened #75 "Log routing data for route debugging"

[2014-07-02 18:36] rynowak opened #77 "Make ambient values part of 'accepted values' during the constraints part of link generation."
We accidentally changed this behavior from old MVC. This lets us do some pretty useful stuff with constraints so we should bring it back.

Here's an example (old MVC):

[code]

If you navigate to `/` then the second route will match, and produces the ambient values:
`{ controller = "Home", action = "Index" }`.

Then inside that action, generate a link to another action `Url.Action("About")`.

The

[2014-07-03 01:13] kulmugdha opened #80 "Make UrlHelper methods virtual"
On the routing blog http://blogs.msdn.com/b/webdev/archive/2014/06/20/asp-net-vnext-routing-overview.aspx, a user expressed that he wants to slightly modify the generated URL on its way out. If we don't make the methods virtual, he has to do either of following.
1. implement IUrlHelper from scratch
2. Implement IUrlHelper and wrap an instance of UrlHelper in the implementation.
3. Extend UrlHelper

[2014-07-04 01:46] #80 closed, assigned to nobody

[2014-07-04 01:50] rynowak opened #81 "Consider IDictionary<string, string> for route values"
@lodejard feedback

Currently it's `IDictionary<string, object>` -  this leads to us writing a fair bit of code to stringify values, and it's _different code_ in some places, likely not intentionally.

There would be real difficulties for anyone implementing a system where route values are non-strings, and they would encounter bugs if their values don't convert to strings in an orderly way.

[2014-07-11 18:09] #77 closed, assigned to nobody

[2014-07-11 18:13] rynowak opened #83 "Implement a 'not allowed' constraint"
This is a companion to the 'required' constraint. This is a companion to #79 that can fixup some special cases with link generation when one route has *fewer* tokens than another.

Ex:
`{controller}/{action}`
`api/{controller}`

Imagine an MVC controller with both an `Index` and `Get (unnamed)` action. If you try to generate a link `@Url.Action("Edit", "Home")` and there is no `Edit` action, then

[2014-07-16 18:32] rynowak opened #85 "Dictionary types in routing need to return null when key is not found"
This is a big compat break we need to address.

`routeData.Values["foo"]` should return null if `"foo"` is not in the dictionary.

[2014-07-21 22:07] #54 closed, assigned to nobody

[2014-07-31 17:35] #81 closed, assigned to nobody

[2014-07-31 22:17] #85 closed, assigned to rynowak

[2014-08-01 22:40] #75 closed, assigned to bendbro

[2014-08-06 23:45] yishaigalatzer opened #90 "RouteTemplate does not take RouteData"
Consider the following scenario:

[code]

In MVC5 this would produce routevalues in this implementation.

See:
https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/Template/TemplateRoute.cs#L111

[2014-08-07 00:09] yishaigalatzer opened #91 "Should LoggerExtensions.WriteValues be public in logging"
When trying to copy TemplateRoute, the extension method used to WriteValues was internal.

Seems like it shold be public directly on logger.

[2014-08-11 17:31] harshgMSFT opened #92 "Route DataTokens- Readonly"
Lifting the comment from #88
This might allow us to do re-use the Dictionary when the passed in value is null. I'm not familiar with the use case for this, but is it meant to be modifiable by a user?

[2014-08-12 17:08] #55 closed, assigned to harshgMSFT

[2014-08-12 17:08] #45 closed, assigned to harshgMSFT

[2014-08-13 18:59] #71 closed, assigned to harshgMSFT

[2014-08-16 00:38] #70 closed, assigned to harshgMSFT

[2014-08-19 04:02] pranavkm opened #95 "Unit tests use hardcoded \r\n in exception strings"
Need to use either Environment.NewLine or just multiline string and let the git checkout rules handle it for you.

E.g. https://github.com/aspnet/Routing/blob/dev/test/Microsoft.AspNet.Routing.Tests/Constraints/LengthRouteConstraintTests.cs#L73-L74
https://github.com/aspnet/Routing/blob/dev/test/Microsoft.AspNet.Routing.Tests/Constraints/MinLengthRouteConstraintTests.cs#L36

etc

[2014-08-28 16:52] #9 closed, assigned to javiercn

[2014-09-02 19:57] glennc opened #97 "Want to specify route data upstream in middleware if possible"
@yishaigalatzer can you fill in some more detail on this?

[2014-09-10 16:45] #97 closed, assigned to nobody

[2014-09-11 17:16] #12 closed, assigned to nobody

[2014-09-22 17:56] pranavkm opened #100 "Regex-based unit tests that test for Turkish upper-case dotted I are disabled on Mono"
[code]

Mono prints True, .Net prints False. This is affecting two Regex constraints tests which have been disabled for the time being.

[2014-09-22 18:30] #95 closed, assigned to pranavkm

[2014-10-05 21:34] AnthonySteele opened #101 "Route tables should be unit testable"
Has any thought been given to testing route tables? This is not addressed in MVC5, so you get issues where the necessary methods are internal, undocumented and change frequently, [like this](http://stackoverflow.com/questions/20034983/mapmvcattributeroutes-this-method-cannot-be-called-during-the-applications-pre/24432436)

[2014-10-07 02:09] #101 closed, assigned to nobody

[2014-10-07 02:25] yishaigalatzer opened #103 "Make TemplateRoute.GetVirtualPath virtual"

[2014-10-09 17:22] Tratcher opened #104 "RouterMiddleware should resolve ILoggerFactory from DI in the constructor"
RouterMiddleware currently resolves the ILoggerFactory on the first request from RequestServices.
https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/RouterMiddleware.cs#L61

Instead, it should resolve it as a DI constructor parameter. See CookieAuthMiddleware for example:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Security.Cookies/CookieAuthenticationMidd

[2014-10-11 07:11] yishaigalatzer opened #106 "Required inline constraint is not registered by default"
RouteOptions.cs registers many constraints but not the basic Required

[2014-10-13 20:26] javiercn opened #108 "Disallow the use of '*' in route parameter names"
Currently \* is allowed as part of a route parameter, which is confusing in some scenarios as \* is also used to mark a parameter as catch all. For example, the following snippet represents the parameter with name `a*`

[code]

And the following snippet represents the catch all parameter `a`

[code]

In order to avoid this confusion and given the limited utility of having a parameter with \* on th

[2014-10-13 22:59] #108 closed, assigned to javiercn

[2014-10-20 17:50] #103 closed, assigned to yishaigalatzer

[2014-10-20 17:50] #106 closed, assigned to harshgMSFT

[2014-10-21 03:40] danroth27 opened #116 "Make RouteData.DataTokens mutable and copy on write"

[2014-10-22 20:29] #90 closed, assigned to javiercn

[2014-10-23 21:39] #91 closed, assigned to rynowak

[2014-11-03 20:43] #104 closed, assigned to rynowak

[2014-11-03 21:59] yishaigalatzer opened #123 "{id:int?} should act as optional"

[2014-11-12 19:16] #65 closed, assigned to rynowak

[2014-11-12 21:44] #116 closed, assigned to rynowak

[2014-11-18 00:11] rynowak opened #127 "Consider changing new RouteValueDictionary(object) to a static factory method"
I just got bit by this again. We should try to make this less error prone for anyone using RVD as an infrastructure type.

This does what you want:
[code]

This does *not* do what you want, instead you get all the **properties** of Dictionary<>
[code]

What happens is that `RouteValueDictionary(object)` is the best match, and then it does reflection to find all the properties.

The problem with ju

[2014-11-18 22:50] #92 closed, assigned to rynowak

[2014-12-04 17:26] kulmugdha opened #136 "The RegEx inline constraint doesnt take care of Escape characters"
If I create inline constraint: [HttpGet(@"{ssn:regex(^\d{3}-\d{3}-\d{4}$)}")], I get following error at runtime.
The following errors occurred with attribute routing information:\r\n\r\nFor action: 'InlineConstraintsWebSite.Controllers.InlineConstraints_ProductsController.GetUserBySSN'\r\nError: There is an incomplete parameter in the route template. Check that each '{' character has a matching '}

[2014-12-04 19:11] #123 closed, assigned to kulmugdha

[2015-01-03 17:48] kscott5 commented on #47
So, I've looked and could not find MapMvcAttributeRoutes or IgnoreRoutes as it relates to ASP.NET vNext. Is it implement? If not, how do I use the conventional base routing as it relates to Microsoft.AspNet.Mvc?

[2015-01-03 19:09] yishaigalatzer commented on #47
@kscott5 IgnoreRoute was not yet implemented (as indicated by this issue being open), so you need to remove the `routes.IgnoreRoute` for now.

`MapMvcAttributesRoutes` is no longer necessary, and you can safely remove the line. Attribute routes just work by default.

[2015-01-14 20:54] yishaigalatzer opened #140 "Support lower case routes"
Ported from aspnet/Mvc#837

We want to make lower case routes the default in MVC 6.

The idea is to add an option to MVC that will control lower casing the generated URLs. The option should be on by default.

[2015-01-17 18:55] Eilon commented on #140
Here's someone looking for the feature: http://stackoverflow.com/questions/27997814/lower-case-urls-and-trailing-slash

[2015-02-04 23:02] kulmugdha opened #148 "Routing produces unhelpful error message in case of malformed template with optional parameter"
For template: [HttpGet("[controller]/[action]/{RouteValue?})")]
the error message is:

Error: In a path segment that contains more than one section, such as a literal section or a parameter, there can only be one optional parameter. The optional parameter must be the last parameter in the segment and must be preceded by one single period (.).
Parameter name: routeTemplate

This message is trying t

[2015-02-06 18:24] kulmugdha commented on #148
@yishaigalatzer -- Did you have a chance to look at different cases and related error messages. Do they look okay?

[2015-02-10 19:23] kulmugdha commented on #136
Fixed with 4e5fc2e2dd4f7dd7a8c2fd8a936f6b2a002a1078.
The fix entails a behavior change from ASP.NET 5. The opening and closing braces inside the regex need to be escaped.

[2015-02-10 19:23] #136 closed

[2015-03-04 00:59] #140 closed

[2015-03-04 22:44] danroth27 commented on #148
f9a9b8068161ec6bb131a180cbb8406c693c1b03

[2015-03-04 22:44] #148 closed

[2015-03-04 22:47] danroth27 commented on #16
We decided not to do anything here.

[2015-03-04 22:47] #16 closed

[2015-03-04 22:58] danroth27 opened #154 "Add data tokens for link generation"

[2015-03-04 23:00] danroth27 commented on #14
Talk to @rynowak for the latest thinking on this.

[2015-03-12 00:24] HaoK opened #159 "Consider ConfigureRouting instead of ConfigureRouteOptions"

[2015-03-12 17:39] danroth27 commented on #8
We would only want to fix this based on customer feedback.

[2015-03-12 17:39] #8 closed

[2015-03-12 17:44] Praburaj opened #160 "AddRouting IServiceCollection extension should be in Microsoft.Framework.DependencyInjection namespace like other extensions"
https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/RoutingServices.cs#L10

[2015-03-13 22:03] Praburaj commented on #160
Merged : https://github.com/aspnet/Routing/commit/61e4f55075adf637356f4008765dff3f4bb3f367

[2015-03-16 19:01] ianhong commented on #31
@rynowak
Just to make sure I'm working on #158 to add VirtualPathData and make GetVirtualPath to return an object of it.

public class VirtualDataPath
{
..
        public string VirtualPath        {           get;set        }
}
So, we want to change the type of VirtualPath from string to PathString??

[2015-03-16 19:53] rynowak commented on #31
Yes, that's the change :+1:. Hopefully there's not too much test impact here since it has a conversion to string.

[2015-03-16 21:55] #160 closed

[2015-03-16 22:00] danroth27 commented on #14
We decided to wait to do this until we get customer feedback on this issue.

[2015-03-16 22:00] #14 closed

[2015-03-17 21:55] davidfowl opened #164 "Remove the use of Regex in the TemplateRouteParser"
![image](https://cloud.githubusercontent.com/assets/95136/6698399/97f0a032-ccb5-11e4-99d0-333543308988.png)

[2015-03-17 23:01] rynowak commented on #164
For context, the regex is showing up in profiles of app startup.

[2015-03-20 05:24] ianhong commented on #154
3693002b0234a7df2c08be694b1514426e057c16
and
https://github.com/aspnet/Mvc/commit/27bdec40a6a26c83e8219b94f99c692f15dd126f

[2015-03-20 05:24] #154 closed

[2015-03-20 17:24] danroth27 commented on #159
37dc8581de593aab1e8a535392671f89b40308e3

[2015-03-20 17:24] #159 closed

[2015-03-23 09:09] ianhong commented on #31
ff209f04bb2daded5ae49fae015b6631d8a861d0

[2015-03-23 09:09] #31 closed

[2015-03-23 12:00] djanosik opened #170 "Routing of URLs with extensions"
Hi,

I have an application with URLs with extensions (eg. `http://app.com/eZ6Vwe.m`). When the URL does not end with `/` (slash) it sometimes returns 404. But sometimes it works. I don't understand why. Can you help me to find out where is the problem?

Thank you!

[2015-03-23 17:01] rynowak commented on #170
Can you please provide us with a small repro project and some examples of cases that do and do not work so we can investigate?

[2015-03-23 18:31] djanosik commented on #170
Of course, here it is: http://leteckaposta.cz/698960507

1. Open solution in VS 2015 CTP 6
2. Start project without debugging
3. Go to `/hash.m` => should work
4. Rebuild the solution (do not stop the application)
5. Go again to `/hash.m` => returns 404

The following URLs work as expected:

- `/hash.m/` (with ending slash)
- `/hash:m`
- `/hash:m/`

[2015-03-23 18:46] rynowak commented on #170
Would it be possible to share a repo link or a gist of the startup code? I'm having trouble getting the zip download to work.

[2015-03-23 18:53] djanosik commented on #170
I've updated the [link](http://moontea.net/routewithextension.zip). Can you download it now?

[2015-03-23 18:59] rynowak commented on #170
Working now, thanks.

[2015-03-23 19:11] rynowak commented on #170
Do you encounter any routing problems when you **don't** rebuild while the sever is running?

Do you encounter any routing problems after restarting the server? (It sounds like all of your issues go away if you restart the site).

I'm suspecting this is a tooling/timing issue because I am unable to reproduce it locally on my VS build (which is newer). If there's no routing problem in steady-state

[2015-03-23 20:03] djanosik commented on #170
It doesn't help to restart the site. Actually it seems it stops working after the restart. I've tried to restart an application running on full IIS on Azure and it stopped working. I can restart IIS Express and it helps. But it's only temporary solution. After I make some changes, it stops working again.

I cannot say right now whether it happens when I don't make any changes while the application

[2015-03-23 22:01] djanosik commented on #170
Ok it seems there are no routing problems when I don't rebuild, restart or change the site while it is running.

[2015-03-23 22:21] rynowak commented on #170
Thanks. I'm going to close this bug and re-open on tooling so they can get to the bottom of this.

[2015-03-23 22:23] rynowak commented on #170
Copied to https://github.com/aspnet/Tooling/issues/33

[2015-03-23 22:23] #170 closed

[2015-04-30 16:51] Eilon commented on #127
@rynowak I have donated this bug to @kichalla.

@kichalla you have received a donation in the form of 1 bug.

[2015-04-30 16:56] blowdart opened #181 "Add timeout values to all regex expressions"
To avoid regex attacks add a time-out value to every regular expression in the code base.

[2015-05-01 03:15] Eilon commented on #127
One possibly slightly gross solution is to do runtime type checks instead of having the compiler resolve (or fail to resolve) overloads. So, just take in `object` and check what you got at runtime and then extract the values from it in the most appropriate manner (read only dictionary, dictionary, property reflection, etc.).

[2015-05-01 03:26] rynowak commented on #127
Yep. The *static factory method* suggestion is really independent from the problem that needs to be solved.

I seem to recall opening this super late at night :laughing:

[2015-05-01 03:40] Eilon commented on #127
Yeah it was pretty late. Monday, Nov 7, 2014 @ 4:11PM :smile:

[2015-05-01 19:00] kichalla commented on #127
commit: 1f6d3fe4cc8d66058fce84a40559ac7ea65d26ca

[2015-05-01 19:00] #127 closed

[2015-05-20 18:48] glen-84 opened #186 "Consider hyphenating action names when using LowercaseUrls"
`SomeLongActionName` in the Home controller will be converted to `/home/somelongactionname`, which is difficult to read. `/home/some-long-action-name` is better, IMHO.

This can be done with Regex ([example](http://stackoverflow.com/a/22650308/221528)), but I'm not sure what the performance is like.

If you decide that this should not be the default, then perhaps you could add a setting (Lowercase

[2015-05-22 17:04] danroth27 commented on #186
@rynowak Could this be done by reformatting all the action names using the Application Model?

[2015-05-27 23:11] rynowak commented on #186
The question is whether or not you want to canonicalize the action-names or canonicalize the URLs being generated..

For instance, one might implement this feature by transforming all of the URLs going in and out of the router, by converting from kebab-case to PascalCase and vice-versa. This of course also means that your transformation algorithm has to operate *safely* on all path-tokens of the U

[2015-05-28 11:22] glen-84 commented on #186
I don't think that the inputs (controller/action names) to `Url.Action` should change, it should only affect the generated URLs (and be understood by the router).

[2015-06-05 22:38] dromanchenko opened #187 "Consider changing _logger.LogInformation to _logger.LogVerbose in TemplateRoute.cs"
Consider changing this code to _logger.LogVerbose

_logger.LogInformation(
                "Request successfully matched the route with name '{RouteName}' and template '{RouteTemplate}'.",
                Name,
                RouteTemplate);

That message is more like a low level debug. For example I have an application that uses the Info level to log things like "App Starting", "App Started", "S

[2015-06-12 16:15] danroth27 opened #188 "Please add support for AppendTrailingSlash to RouteOptions"
Originally reported by @rehansaeed in https://github.com/aspnet/Mvc/issues/2691

MVC 5 had the RouteCollection.AppendTrailingSlash setting. Please add the same option under the new RouteOptions and perhaps another option to RemoveTrailingSlash for those who prefer not to have one. This is a requirement for Search Engine Optimization.

[code]

[2015-06-16 21:36] ajaybhargavb commented on #187
717260872222d2674a85e718ad72dca583b4ee82

[2015-06-16 21:36] #187 closed

[2015-06-19 18:48] #188 closed

[2015-06-19 19:38] rynowak opened #191 "Decrease amount of logging for non-matching routes"
Add logging to a project and turn on `Verbose`

You'll see output like this for a 404:

[code]

You'll see the messages about `not matching a route` from attribute routing and template route very frequently. In the case that nothing matches, the last message is good enough, we should get rid of the  first two.

[2015-06-23 18:14] ajaybhargavb commented on #191
0882a393a4744afc7f6327834f62e2e100fabb22 and aspnet/Mvc@5632a330986b4e915ba351e57e477062d81a58fd

[2015-06-23 18:14] #191 closed

[2015-06-29 19:55] Eilon commented on #83
@rynowak a one year old bug... is this still a thing?

[2015-06-29 19:56] Eilon commented on #21
@davidfowl would this make routing better outside of MVC?

[2015-06-29 20:26] Eilon commented on #164
Some pointers:
* https://github.com/aspnet/Routing/blob/328bdfd59779d8bcecd2d4d25af452def5054367/src/Microsoft.AspNet.Routing/Template/TemplateParser.cs#L195
* https://github.com/aspnet/Routing/blob/328bdfd59779d8bcecd2d4d25af452def5054367/src/Microsoft.AspNet.Routing/InlineRouteParameterParser.cs#L32

Please ensure that we have crazy amazing test coverage for both positive and negative cases befo

[2015-06-29 21:37] rynowak commented on #83
It hasn't come up from a user. I think we're fine to close. If anyone feels like they truly need this it's a trivial sample.

[2015-06-29 22:11] #83 closed

[2015-07-17 00:45] kulmugdha commented on #164
@davidfowl Was there a particular route that you were using here? I tried MVC Sample, and I don't see these numbers.

[2015-07-23 18:50] taddeini opened #195 "Defect with POST and DELETE/PUT with the same path"
(Reposted from https://github.com/aspnet/Home/issues/749)

We've noticed DELETE and PUT endpoints sometimes return 404s when they have the same routing configuration as a POST (e.g. POST /controller/operation and DELETE /controller/operation).

It turns out the 404s only happen if the DELETE/PUT is invoked before the POST when the application starts--after that all subsequent DELETE/PUT actions re

[2015-07-24 00:13] rynowak commented on #195
Can you upload or create a repo which demonstrates the problem in an isolated manner?

[2015-07-24 00:14] rynowak commented on #195
Also, IIS can do wierd things with PUT and DELETE. Have you tried weblistener? This doesn't solve your issue but will help narrow it down

[2015-07-30 16:54] danroth27 commented on #195
Closing for now, but we are happy to reopen with more steps to reproduce the issue.

[2015-07-30 16:54] #195 closed

[2015-08-03 04:02] Daniel15 opened #198 "Route with dot in it"
I'm trying to port over a rule like this from a prior version of ASP.NET MVC:
[code]

However IIS Express seems to always throw 404 errors. Any ideas on how to get this working? I tried commenting out `app.UseStaticFiles()` (thinking StaticFiles may be conflicting with it) but that didn't help.

Edit: This *does* work with Kestrel, so I assume it has something to do with how Visual Studio executes

[2015-08-03 04:52] Eilon commented on #198
This might be an IIS "feature" where if it sees an extension it thinks it likes for static files, it eats it all up and no soup for you. I think if you set [`runAllManagedModulesForAllRequests`](http://www.iis.net/configreference/system.webserver/modules) to `true` in the `web.config` file (if you don't have one in the app, create a new one).

[2015-08-03 04:59] Daniel15 commented on #198
Yeah, I thought that might be the case. I don't use IIS a lot any more, my production sites are running on Mono + Nginx and I only use IIS Express for development, and `fastcgi-mono-server` doesn't have this issue (nor does Kestrel)

I don't think `web.config` works for ASP.NET 5 sites? I guess IIS might still read it since it doesn't really care that I'm using ASP.NET 5. In that case, does it nee

[2015-08-03 05:45] Eilon commented on #198
@Daniel15 yeah web.config definitely works for IIS settings - e.g. the `<system.webServer>` section. Setting ASP.NET settings in there won't do anything because they apply to ASP.NET 4.x and earlier.

I don't know about the stuff in the `.vs\...` folder - you can just add a `wwwroot/web.config` file and make sure you check that in. I don't think you're supposed to check in the `.vs` folder.

[2015-08-03 05:46] Daniel15 commented on #198
Yeah I don't have `.vs` checked in :) I'll try `wwwroot/web.config` tomorrow and see how that goes.

Closing this out since it's an IIS thing rather than an ASP.NET thing. Thanks for your help!

[2015-08-03 05:46] #198 closed

[2015-08-03 05:47] Daniel15 commented on #198
Maybe it's worth calling this out in the routing documentation, once it's written.

[2015-08-03 06:11] Eilon commented on #198
@danroth27 for docs.

[2015-08-03 18:55] danroth27 commented on #198
https://github.com/aspnet/Docs/issues/371

[2015-08-03 19:31] pranavkm commented on #164
### Before ###

![before](https://cloud.githubusercontent.com/assets/174281/9045834/59c61da8-39db-11e5-8471-9f78575c494f.PNG)

### After ###
![after](https://cloud.githubusercontent.com/assets/174281/9045835/5b2dad5a-39db-11e5-8f5a-9d625fca48c6.PNG)

[2015-08-03 19:37] #164 closed

[2015-08-03 19:45] Eilon commented on #164
Wow, nice!

[2015-08-03 19:49] pranavkm opened #199 "Consider storing tokenized values in InlineConstraint"
We do work to identify the constraint name and constraint arguments for `InlineConstraint`s as part of `InlineRouteParameterParser` but store the result as single constraint text string. Consequently, we end up doing work later to tokenize this later when creating route constraints from these strings -

* https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/DefaultInlineConstrai

[2015-08-03 19:49] pranavkm commented on #199
cc @Eilon

[2015-08-05 18:17] Fosol opened #201 "Virtual Directory / Sub application"
Is there a way to run in IIS Express multiple web applications?
For example I want a web MVC app and a separate web API.  Then when I start up to debug I want them under the same port (i.e. localhost:13245), but the web API should be a virtual directory /api/.
Currently the root MVC app attempts to handle the requests and of course throws a 404 because it has no knowledge of the sub application.
L

[2015-08-06 21:53] Eilon commented on #201
@sayedihashimi do you know if it's possible to launch IIS Express to run multiple apps on the same port?

[2015-08-06 21:54] Fosol commented on #201
No it fails.  The first app starts, the second says it can't connect.

[2015-08-06 21:56] Fosol commented on #201
I've come up with the standard workaround - use full blown IIS.  This of course is frustrating to work with since I have to follow the below steps every time I want to make a change;
1) Make sure I'm running VS in admin mode
2) Stop the IIS web application
3) publish each web application in VS
4) Start the IIS web application
5) Hit a page in the browser
6) Attach to the correct IIS process
7) Hit

[2015-08-06 22:34] sayedihashimi commented on #201
No, you can only run one instance of iisexpress listening on a specific port.

But inside of the `applicationHost.config` file you can configure multiple sites/apps. I think you can look at the `applicationHost.config` from full IIS to see how you need to structure the elements in the `applicationHost.config` file used by IIS Express.

[2015-08-06 22:59] Eilon commented on #201
Ah good point, that might just work.

[2015-08-06 23:10] Fosol commented on #201
You can configure IIS Express with the applicationHost.config file, however I've yet to figure out how to get a DNX project to properly handle virtual applications below the root application.  Essentially IIS Express passes the request to the parent MVC application and it says the route doesn't exist.  So it throws a 404.

What IIS Express should do is pass the request to the correct DNX applicati

[2015-08-19 00:18] timothy-shields opened #202 "Switch InnerAttributeRoute to log at Debug level, or make it configurable"
I'm using `1.0.0-beta6`. `Microsoft.AspNet.Mvc.Routing.InnerAttributeRoute` logs an awful lot at the info level.  For example, when logging to console I get this kind of message every time a request hits my service:

    info    : [Microsoft.AspNet.Mvc.Routing.InnerAttributeRoute] Request successfully matched the route with name '{RouteName}' and template '{RouteTemplate}'

Is there a way I can di

[2015-08-19 00:21] timothy-shields commented on #202
I just realized this should be an `aspnet / Mvc` issue instead, since that's where the `InnerAttributeRoute` class resides, but I don't know how to migrate it.

[2015-08-19 00:32] rynowak commented on #202
Moved to aspnet/Mvc#2996

[2015-08-19 00:32] #202 closed

[2015-08-24 16:40] danroth27 commented on #201
@Tratcher

[2015-08-24 17:00] Tratcher commented on #201
This issue was moved to aspnet/Hosting#338

[2015-08-24 17:00] #201 closed

[2015-09-04 10:25] Kagamine opened #203 "Is there any plan to add domain supports into route template?"
Such as "//{id}.blablabla.com/{controller}/{action}"

[2015-09-04 17:05] danroth27 commented on #203
Routing currently is setup only to deal with the path and it would be a pretty significant change to start dealing with the host. It's certainly possible to do, but we would want to understand the scenarios better before we embarked on the work.

[2015-09-04 23:58] Kagamine commented on #203
I think many projects need this. Such as multi-users blog systems, It will provide user a second-level domain, or a document website like readthedocs.

[2015-09-05 00:01] Kagamine commented on #203
I hope I can use both path rules and host rules at the same time.

x.MapRoute("//{id}.*.*/{controller}/{action}");
x.MapRoute("/{controller}/{action}/{id?}");

[2015-09-05 02:27] davidfowl commented on #203
We're not going to be doing this for 1.0. Moving it I to the backlog and we'll look at this later

[2015-09-05 02:34] Kagamine commented on #203
:(

[2015-09-09 16:59] Eilon commented on #181
See this example for a recommended pattern: https://github.com/aspnet/FileSystem/pull/119/files

[2015-09-10 22:23] ajaybhargavb commented on #181
ee9945f06dac7176dfa88eda5af07b1ade35ec08

[2015-09-10 22:23] #181 closed

[2015-09-21 21:46] davezych opened #207 "Routing hijacking requests to *.asp"
This might be slightly related to #47. I'm using beta7.

I have a site I'm building that includes (for various reasons) a few classic asp pages. The routing module seems to be hijacking requests to *.asp pages and doesn't allow the classic ASP handler to process them. It either

- Returns nothing or
- Returns the unprocessed page in plain text if I use `UseDefaultFiles`

Interestingly enough if I

[2015-09-22 03:24] Eilon commented on #207
I doubt this is a routing issue. I'm guessing it's an ASP.NET activation issue.

I don't think you can mix Classic ASP and ASP.NET in the same site - at least certainly not in ASP.NET 5.

@Tratcher @moozzyk could this be related to that thing where if the first request in IIS might skip Helios if it gets eaten by another IIS module?

[2015-09-22 03:40] Tratcher commented on #207
Yes, it sounds very similar to the static files scenario we had trouble with.

UseDefaultFiles and UseStaticFiles should not have any affect, they don't process *.asp pages.

[2015-09-28 11:39] bbowyersmyth opened #210 "Template matching culture comparison"
Is the template matching intended to be a CurrentCulture based comparison? https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/Template/TemplateMatcher.cs#L207
Might be more readable to be explicit about the StringComparison there.

[2015-09-28 14:09] pranavkm commented on #210
It probably needs to be Culture insensitive and I guess case insensitive (@rynowak?) . Could you send a PR for this?

[2015-09-28 15:09] rynowak commented on #210
Yes, everything that I can think of in routing should be `OrdinalIgnoreCase`.

[2015-09-28 16:50] rynowak opened #211 "Improve the performance of routing"
There's a number of known areas for performance improvement in Routing. It's also one of the few places in ASP.NET where the performance impact of the system scales up pretty dramatically for some users as they add more routes.

Some known issues/places for investigation:

#### Remove use of `string.Split` in routing

~~Routing does a `string.split` and the request path here: https://github.com/as

[2015-09-28 21:06] Eilon commented on #210
Agreed, this definitely looks like a bug.

[2015-09-29 21:38] ajaybhargavb commented on #210
d5d11eb30e008c2fc22af30dd57aeebdee4deeb1

[2015-09-29 21:38] #210 closed

[2015-10-02 00:30] rynowak opened #214 "Get rid of custom URI encoding code"
https://github.com/aspnet/Routing/blob/c6941e797f1585730b69d088a3b1b0c17ce6afa7/src/Microsoft.AspNet.Routing/Template/TemplateBinder.cs#L281

Routing isn't using our standard encoders.

[2015-10-06 18:06] rynowak commented on #211
Update: removed use of `string.Split` 371d4e62da8f4bfd80a35ea2f6d1400b32ed947a

[2015-10-08 09:54] pantonis opened #217 "MapRoute missing overload"
Hi,

I have noticed that on RouteBuilderExtensions  MapRoute method string[] namespaces overload is missing. Any plans for it?

[2015-10-08 15:28] rynowak commented on #217
In vNext, areas are determined by `[Area(...)]` on your controller, so this feature isn't really relevant anymore. So no, no plans to bring it back :laughing:

[2015-10-08 16:11] pantonis commented on #217
But what If I have the controllers on a different assembly how do I achieve that without the namespaces overload?

[2015-10-08 16:17] danroth27 commented on #217
Instead of using a list of namespaces to group your controllers we recommend using Areas. You can attribute your controllers (regardless of which assembly they are in) with a specific Area and then create a route for that Area.

You can see a test website that shows an example of using Areas in MVC 6 here: https://github.com/aspnet/Mvc/tree/dev/test/WebSites/RoutingWebSite.

Does this work for you

[2015-10-08 16:19] pantonis commented on #217
Thanks for the example.
It is a very good solution but unfortunately it does not work. Reason is I want to keep each route into a different assembly. This is for authorization purposes as the system is huge and several clients need to have only specific dlls.

[2015-10-08 16:21] pantonis commented on #217
And I suppose Im not the only one out there having this requirement :)

[2015-10-08 16:24] danroth27 commented on #217
I think you could still do that with Areas - you could have an Area and route for the controllers in each assembly, right?

[2015-10-08 16:25] pantonis commented on #217
Could you give me an example?

[2015-10-08 19:31] ishvedov commented on #203
Another use case: domain of the language.
For example: en.domain.com, de.domain.com
Embodiment: http://blog.maartenballiauw.be/post/2015/02/17/Domain-Routing-and-resolving-current-tenant-with-ASPNET-MVC-6-ASPNET-5.aspx

[2015-10-09 06:31] pantonis commented on #217
I dont think that's a solution really. Areas they have to be marked in each and every one controller. I don't want to use attribute routing. What I want is to map routes according to some parameters. Each route is on a different assembly as I described above.

[2015-10-09 08:13] Kagamine commented on #203
+1 for domain routing

[2015-10-09 09:22] pantonis commented on #217
Nevermind. I used attribute routing for areas only. Created a sample. If you wish I can send it to include it in the examples.

[2015-10-09 17:07] danroth27 commented on #217
Cool - going to go ahead and close this issue.

[2015-10-09 17:07] #217 closed

[2015-10-14 17:06] danroth27 commented on #207
We should try this with the new HttpPlatformHandler + Kestrel setup.

[2015-10-26 18:26] ajaybhargavb commented on #207
Spoke to @Tratcher. Tried running an asp site and an MVC site simultaneously. It works if the asp site is root and the MVC site is in a virtual directory but not the other way round.
The issue of route being hijacked doesn't happen anymore as we no longer use Helios.

[2015-10-27 16:39] flipchart opened #221 "String route binding still has URI escape sequences"
With a controller as below:

    [Route("api")]
    public class ValuesController : Controller
    {
        [HttpGet("{param}")]
        public string Get(string param)
        {
            return param;
        }
    }

requests to this action which contain URI escape sequences (e.g. `%20` for space) are carried through in the `param` value, rather than being escaped as they were in ASP.net 4;

[2015-10-27 16:44] rynowak commented on #221
This is very likely a manifestation of this kestrel bug: https://github.com/aspnet/KestrelHttpServer/issues/124

[2015-10-27 16:55] #221 closed

[2015-10-27 18:07] lukepfeiffer10 opened #222 "Optional parameters not working with attribute routing"
I'm not sure if this is the place to report this issue but since this issue deals with WebApi routing I figured I would post here.

I am currently experiencing this issue and this stackoverflow post summarizes it quite nicely.

[SO Post](http://stackoverflow.com/questions/33365379/attribute-routing-optional-parameter-not-working)

**EDIT:**

Not sure if this can even be classified as an issue mayb

[2015-10-28 08:34] Codenator81 opened #223 "Can`t get route segment in custom middleware"
After initialized mvc in startup.cs it is not possible get route segment in custom middleware.
Related issue aspnet/Localization#122

[2015-10-28 17:03] danroth27 opened #224 "Support running middleware in routing"

[2015-10-28 17:15] danroth27 commented on #222
Right, to specify optional parameters in a Web API action in ASP.NET Web API you had to specify a default value for the parameter in the action method signature.

In MVC 6 the behavior is a bit different. There is no longer any method overloading semantics. Nullable types are optional by default.

[2015-10-28 17:15] #222 closed

[2015-10-28 17:17] rynowak commented on #222
All parameters are optional in MVC.

[2015-10-28 23:49] rynowak commented on #211
I'd done some prototyping here, and handing this off to @ajaybhargavb to build the real deal :+1:

[2015-11-02 17:49] Eilon commented on #223
@Codenator81 routing happens *after* middleware runs, so I think this ordering is incorrect. We are looking to enable middleware to run as a result of routing in https://github.com/aspnet/Routing/issues/224, and I think that would enable you to do this.

[2015-11-02 17:49] #223 closed

[2015-11-02 19:20] Codenator81 commented on #223
@Eilon Great news! This will be very helpful for many scenarios

[2015-11-04 01:34] ajaybhargavb commented on #207
Actually it works even if the classic asp is a sub app and MVC is root. It just needs a web.config that specifies `<remove name="httpPlatformHandler" />`.

Summary:
There are two ways to run an MVC and a classic asp site simultaneously
* Have the classic asp as root and add the MVC app as a sub-app using virtual directory.
In this case the Startup.cs needs to be modified to map the sub-app path to

[2015-11-04 01:34] #207 closed

[2015-11-09 14:17] ChristianRiedl opened #226 "Route attribute and multiple instances running on IIS on the same port"
When i use convention based routing it is no problem to run multiple instances on the port 80 of an IIS server using server URLs with a not empty path like http://xxx.xxx.xxx.xxx/myinstance. But when I use "Route" attribute, then <b>[Route("home")]</b> routes the request to <i>http://xxx.xxx.xxx.xxx/home</i> instead of <i>http://xxx.xxx.xxx.xxx/myinstance/home</i>.
Is there a way to solve it ? To

[2015-11-09 17:52] rynowak commented on #226
This sounds like it's just a bug on our side.

If you're mapping your app to `~/myinstance` then `context.BasePath` should be set to `/myinstance` and `context.Path` should contain everything after that. Sounds like attribute routing's link generation isn't including the `BasePath` and it should.

[2015-11-11 23:45] Eilon opened #228 "Update sample app to show more common routing patterns and add functional tests for it"
The current sample shows some obscure usage of routing. It should instead show typical patterns and extensibility. And then add functional tests to it.

[2015-11-12 23:55] ajaybhargavb commented on #211
aspnet/Mvc@b8b222b295c2bf7f74570e60b8d45f30346e8299
cef221f57af3e3c13e9f8aa50c22aa0347c8ade7

[2015-11-12 23:55] #211 closed

[2015-11-13 22:31] ajaybhargavb commented on #226
@ChristianRiedl, I tried this and I couldn't repro this issue. Which packages are you using? We recently made some significant changes in this area. Please update your packages and check if the issue still exists.

[2015-11-13 22:32] ajaybhargavb opened #230 "Move attribute routing from Mvc to Routing"

[2015-11-17 20:06] ajaybhargavb commented on #230
4d69ad0db2c0db3a5034b3165aaba4e41b808f47
aspnet/Mvc@01102bba3f86665cf41d0baef7b1f6f446c5beb0

[2015-11-17 20:06] #230 closed

[2015-11-20 06:24] xatabhk opened #233 "Routing (Get(int id)) has been broken in latest RC2"
![routing_bug_byid](https://cloud.githubusercontent.com/assets/6814395/11293122/de22afd8-8f91-11e5-91b2-839579c653a4.png)
It seems routing has been broken in latest RC2. When the following controller is run on RC2, method 'Get(int id)' receives no hit. If you enter 'http://localhost:9941/api/values/1' or the like in Edge or IE, it reports error 404.

[code]
If we remove method 'Post(bool asfile, [

[2015-11-22 15:30] atrauzzi opened #235 "Clearly document options and all the semantics of defaults"
When I'm using `MapRoute`, it would be nice if I could know the full list of possible options that can go into the defaults object and what each option does.

[2015-11-23 06:27] anfomin commented on #233
Routing does not maps to action if first one matched path but did not matched HTTP method or constraint. Simple controller:

[code]

Everything work OK in *rc1-final*, bun in *Microsoft.AspNet.Routing* **v1.0.0-rc2-15978** request `/asd` returns 404.

[2015-11-23 16:12] rynowak opened #236 "Do a full optimization pass on Link Generation"
We haven't put any work yet into optimizing the link generation process, but we need to give it a look - primarily for allocations of 'scratch' data structures like dictionaries.

[2015-11-24 11:31] ChiefWiggum opened #237 "DateTime conversion of parameter in format 'yyyy-MM-dd'"
Hi guys,

we are having an issue with urls containing a date in the format `yyyy-MM-dd`. I get an entry in the `RouteData.Values` with a type of `DateTime`, so far so good, but if the date is '2015-11-23' it gets converted into a `DateTime(yyyy,MM,dd)` (the expected result) while the date '2015-11-03' gets converted into a `DateTime(yyyy,dd,MM)` (he horrible US date format).
Currently my action ha

[2015-11-24 12:45] ChiefWiggum commented on #237
I found one issue, but it's still not fully resolved. I hadn't realized that one of my collegues has implemented his own `IDynamicRouter` which included his own `DateTime` checking & parsing. The weird thing is that now when I debug my Action the `DateTime date` parameter has the wrong date while the RoutData.Values contains a date with the correct data. How can my RouteData.Values be correct and

[2015-11-24 13:01] ChiefWiggum commented on #237
I assume we're doing something wrong when invoking the action, any ideas?

        public async Task RouteAsync(RouteContext context)
        {
            var services = context.HttpContext.RequestServices;
            var segments = Parser.ParseSegments(context);

            var match = Tree.Search(segments);
            if (!match.Success)
                return;

            MapRouteData(cont

[2015-11-24 16:13] rynowak commented on #237
RouteData values in MVC are parsed according to the `InvariantCulture` rule, which (as I remember) are similar to the US English culture.

Try an experiment - set up an HTML form that passes a `DateTime` value with your desired format - does it work as you expect? (Form uses `CurrentCulture`). Query also parses values according to `CurrentCulture`, but I noticed in your sample that you are copying

[2015-11-25 01:19] rynowak opened #239 "Simplify link generation when using a route name"
We want to implement link generation by-name a litter differently.

When supplying a name, the defaults that don't appear in the route template should be treated as the ambient values, and the ambient values should be ignored.

This should work regardless of ambient values and route ordering, without having to specify an action/controller

[code]

[2015-11-26 23:52] khalidabuhakmeh commented on #186
I like this idea, as I've seen some sites that use `+` to seperate their urls.

:+1:

[2015-11-27 15:37] khalidabuhakmeh opened #240 "build.sh doesn't build on OS X"
I've cloned the repo on both a Windows VM and a OS X machine. The windows machine compiles utilizing the `build.cmd` fine. The OS X `build.sh` fails due to `KoreBuild` initially.

[2015-11-27 15:41] davidfowl commented on #240
Can you provide some more info? What was the error? What version of mono do you have installed?

[2015-11-27 15:51] khalidabuhakmeh commented on #240
### Mono

[code]

### Dnvm List

[code]

### Nuget Sources

[code]

### Build Output

[code]

I hope that helps. It isn't finding `KoreBuild` initially. Which is weird, since it is using the same `nuget.config` in the repo, which is used by Windows (right?).

[2015-11-27 15:53] davidfowl commented on #240
Mono 4.2 has known issues with HttpClient. You can git clean and try again until it works or try downgrading mono to 4.0.5

[2015-11-27 16:00] khalidabuhakmeh commented on #240
bummer :( Ok I'll try downgrading.

On a positive note, I think the new Routing looks really good, and I am excited about https://github.com/aspnet/Routing/issues/224.

[2015-11-27 16:59] davidfowl commented on #240
@rynowak has some gnarly prototypes https://github.com/aspnet/Routing/commit/2cca9d61884787fd024e6855e900ff92551a00c8

[2015-11-27 19:33] khalidabuhakmeh commented on #240
Downgrading fixed the issue. Thanks again.

[2015-11-27 19:33] #240 closed

[2015-11-29 08:26] anfomin commented on #233
@rynowak @pranavkm it there any update for this bug? Many routes does not work in RC2...

[2015-11-30 06:41] rynowak commented on #233
I'll take a look at this tomorrow and figure out what's going on. We didn't make any major changes is in this area in RC1 so the issue is likely something outside of MVC - you are welcome to say 'told ya so' if I'm wrong :laughing:

Are you running in IIS? Are you using kestrel/weblistener? Linux/windows/coreclr/desktop/mono?

Does your app have a base-path?

Can you provide your **complete** star

[2015-11-30 09:00] xatabhk commented on #233
The test project was created in Visual Studio 2015 via Wizard and then ported to latest RC2.

Steps to reproduce the issue:
1. Generate a Web API project via Wizard in VS2k15.
2. Port it to latest RC2.
3. Add a method like the following one to the controller generated:

[HttpPost("{asfile:bool}")]
public ActionResult Post(bool asfile, [FromBody]string sRegData)
{
    return new ObjectResult("xyx")

[2015-11-30 16:01] rynowak commented on #233
Yes, despite my assertions, we actually made a lot of changes in this area in RC2. I'll figure out the issue, thanks :+1:

[2015-11-30 16:34] rynowak commented on #233
The bug is here: https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/AttributeRouting/TreeRouter.cs#L193

This should be a `continue` not a return.

The effect is that if we ever fail to match a route because of a constraint, we **halt** instead of continuing and trying other routes. It's likely we have the positive test for this (route with constraints tried before route witho

[2015-11-30 18:17] #233 closed

[2015-11-30 18:17] rynowak commented on #233
Fixed by 123eaf2278072df584eb4fbdee5224790b8af458

[2015-12-01 18:51] pranavkm opened #242 "Revive ifdef-ed TemplateRouteTest"
There's a bunch of tests in `TemplateRouteTest` https://github.com/aspnet/Routing/blob/dev/test/Microsoft.AspNet.Routing.Tests/Template/TemplateRouteTest.cs#L633 that are ifdef out.

[2015-12-07 18:43] rynowak commented on #199
@Eilon @danroth27 - we made this change along time ago, but not for perf reasons

https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/Template/TemplatePart.cs#L53

Closing this out as it's not really valid from a perf POV as it's just idle speculation.

[2015-12-07 18:43] #199 closed

[2015-12-08 01:31] dneimke opened #247 "AttributeRouting - Route Template - Changed Behavior?"
In our Api, we have an Attribute route with a template that looks like this:

[code]

This previously worked fine but now the Route is no longer matched.

Has the default Routing behavior changed so that named tokens are no longer matched automagically?

[2015-12-08 01:37] dneimke commented on #247
I thing I worked it out.  It appears that the behavior is now stricter in that you have to specify the type of the token:

e.g.: THIS WORKS:
[code]

[2015-12-08 01:41] rynowak commented on #247
Can you provide a more complete code sample? We didn't make any intentional behavior changes here.

[2015-12-08 02:34] dneimke commented on #247
I don't have time to set up a canonical repro, but what we have is essentially this:

[code]

This worked fine previously by now requires the type descriptor to be applied to '{something}'.

It's odd because Swagger finds it and accurately displays the GET route, but when we invoke calls against it, the default routing provider is unable to find the route so it falls through to our default app.Run

[2015-12-08 04:09] dneimke commented on #247
Further info...

It appears to be only an issue where the token is not at the end of the route template.

E.g.

[code]

[2015-12-08 16:47] rynowak commented on #247
Thanks, I'll take a look at this

[2015-12-09 17:25] Eilon commented on #242
A bunch of `#ifdef`ed stuff in https://github.com/aspnet/Routing/blob/d4b96b27c0a7ab051b6b90a72a131e5042e141be/test/Microsoft.AspNet.Routing.Tests/Template/TemplateBinderTests.cs as well.

[2015-12-09 17:27] Eilon commented on #242
@javiercn please sync with @pranavkm / @rynowak to assess what the expectations are here.

[2015-12-09 17:28] Eilon opened #248 "Add HttpMethodRouteConstraint"
Need to add back what ASP.NET 4.x / Web API had.

[2015-12-10 16:31] rynowak commented on #247
So I tried this out on newest bits and I am able to hit this action:

http://localhost:23687/api/myentity/5/foo
[code]

Can you provide more information?

Is there a github repo I can look at? What version of MVC?

[2015-12-10 17:48] rynowak opened #250 "Implement chaining for link generation"
We need a pattern to 'chain' link generation when a Route is forwarding to another Route.

This currently doesn't work today:
[code]

If you tried to generate a link with `new { controller = "Home", action = "Index", locale = "en-CA" }` then you'd get `/Home/Index` not `/en-CA/Home/Index`

[2015-12-11 13:05] leonardlabat opened #251 "App relative url and routing"
Hello,

I'm hosting an asp.net 5 app in a "sub application" - I mean not at my IIS web site root level. So that my app is accessible through this kind of path : http://localhost/myapp. In this specific case, routing doesn't seem to work. But, if I'm querying directly Kestrel (I mean the http://localhost:someport url), routing is fine.

That seems to be caused by the **TemplateRoute** class impleme

[2015-12-11 15:48] rynowak commented on #251
/cc @Tratcher - I know you've helped people with this before... Is this a bug in routing or another part of the system or just something we have to provide better guidance on how to configure?

[2015-12-11 16:19] Tratcher commented on #251
This is a known issue in RC1 https://github.com/aspnet/IISIntegration/issues/14 that should be fixed in RC2. In the meantime it can be worked around by fixing up the path using something like Map.

[2015-12-11 16:20] #251 closed

[2015-12-11 16:26] rynowak commented on #251
@leonardlabat see the workaround here: https://github.com/aspnet/Hosting/issues/416#issuecomment-149046552

[2015-12-11 16:34] leonardlabat commented on #251
Thanks for the answer

[2015-12-12 01:02] rynowak commented on #248
Yoink!

[2015-12-13 22:14] benaadams opened #254 "Add global MaxUrlSegments constraint"
Failure state: current `414 URI Too Long` old `414 Request-URI Too Large`

*"The URI provided was too long for the server to process. Often the result of too much data being encoded as a query-string of a GET request, in which case it should be converted to a POST request."* [RFC 7231](https://tools.ietf.org/html/rfc7231)

**IIS** [default](https://www.iis.net/configreference/system.applicationhos

[2015-12-14 16:04] rynowak commented on #254
@benaadams - why is this a routing concern?

[2015-12-14 16:14] benaadams commented on #254
Thought it was where the path was parsed (beyond general length in the server). No too fussed though only seems to be an IIS/http.sys thing.

However... do you think there should be a `MaxPathLength` https://github.com/aspnet/KestrelHttpServer/issues/476  beyond just a general "total header bytes"  `431 Request Header Fields Too Large`

[2015-12-14 16:17] rynowak commented on #254
We 'iterate' the path segments, but only based on the number of route segments you specified in your route. So if we're parsing 50 segments, it's because you defined a route for 50 segments.

I'd expect so, but this isn't the place to discuss or enforce that.

[2015-12-14 16:19] benaadams commented on #254
Ok, seems fine then - closing this.

[2015-12-14 16:19] #254 closed

[2015-12-14 16:53] #248 closed

[2015-12-14 17:56] Eilon commented on #248
Done?

[2015-12-14 17:56] rynowak commented on #248
Blame github for this... :sigh:

[2015-12-14 21:26] rynowak commented on #224
cb39589864274b13986f7d9b8fd6e009cfb611fa

[2015-12-14 21:26] #224 closed

[2015-12-14 21:26] rynowak commented on #224
See `Microsoft.AspNet.Routing.Extensions`

[2015-12-15 00:29] Eilon commented on #235
@atrauzzi sorry exactly what options are you looking for? It's just a dictionary - no tokens have any special meaning in there.

[2015-12-15 13:27] atrauzzi commented on #235
Don't `controller` and `action` have any special meaning to the framework there in determining what gets run?

[2015-12-15 16:30] itsfelipesan opened #257 "HttpPost route receive 404 Not Found on Azure"
I have a WebApp on Azure, but any HttpPost route receive 404 Not Found.

All the HttpGet routes work fine, but all the HttpPost routes don't work.

This happens only on Azure, that is, in the localhost the HttpPost route works normally.

Here is an example:

    [Route("contact")]
    public class ContactController : Controller
    {
        private IContactMessageRepository _contact;
        priv

[2015-12-15 21:56] Eilon commented on #235
They have a special meaning in MVC, but not in routing. You can route to non-MVC stuff as well (especially with some of the newest routing features, which allows routing to any middleware).

[2015-12-16 02:38] atrauzzi commented on #235
@Eilon - That's actually super helpful to know.  So I guess that means this should be a request on the MVC repository instead?

[2015-12-16 17:09] #214 closed

[2015-12-16 22:32] #226 closed

[2015-12-16 22:32] ajaybhargavb commented on #226
Please reopen if the issue still exists with latest packages.

[2015-12-17 09:48] ilya-git opened #260 "Hard to make an exclusion constraint for the routing"
There is a common scenario when you would like to exclude some paths from the route. E.g. in a SPA app you generally want to map all the /api routes to controllers, and all other non static files to Home\Index so that client will handle the urls in the browser (e.g. angular). It can be done like that: "template: {*url}". Now the drawback is that e.g. lib/someCode.js will also fall for this route i

[2015-12-17 20:11] rynowak commented on #260
@SteveSandersonMS has already built something like that here for exactly this purpose.

https://github.com/aspnet/NodeServices/blob/master/samples/angular/MusicStore/Startup.cs#L123
https://github.com/aspnet/NodeServices/blob/master/Microsoft.AspNet.SpaServices/SpaRouteConstraint.cs

[2015-12-18 05:25] Tratcher opened #262 "Not found file falls through to MVC route"
_From @damienpontifex on December 17, 2015 7:54_

I am using ASP.NET to serve content for an AngularJS based site. As such, I have the static file middleware with MVC. The MVC routes should basically serve the angular site unless a specific action was found. See code below:

[code]

My problem occurs when the request for an angular html component (e.g. ./components/app/app.html) cannot be found an

[2015-12-18 05:25] Tratcher commented on #262
By design. All middleware either handle a request or let it pass through to the next middleware. If static files can't match the url to a file then it falls through. A 404 isn't sent unless you reach the end of the pipeline.

In your example you shouldn't have MVC set up to consume all requests because it really will consume all requests. Or at the very least you should set it to a special 404 pag

[2015-12-18 05:25] Tratcher commented on #262
_From @damienpontifex on December 18, 2015 1:13_

Thanks @Tratcher

I assume this {*anything} route is the only way to get all new requests routed through to the index page so angular can handle the routing/components? The angular routing also handles the 404/otherwise case.

Is there a way to have it ignore anything with a path extension? i.e. *.html, *.css etc

[2015-12-18 08:03] ilya-git commented on #260
Yes, I have built it like that as well myself, and wanted to make a pull request, but there were some legal issues with that, so it's not a problem for me to make, but I thought it would be beneficial to have that constraint in the framework itself.

[2015-12-23 12:27] davidfowl opened #267 "RequestDelegateRouteBuilderExtensions are in the wrong namespace"
They should be in Microsoft.AspNet.Routing /cc @rynowak

[2015-12-23 12:34] davidfowl commented on #267
Also why not just put them in the routing assembly? We have a whole .Extensions assembly for a single class.

[2015-12-26 18:06] srayuws opened #268 "Support default action in attribute routing?"
In the old version ASP.NET MVC 5, I can write a controller with a default action using attribute routing like this:
[code]

Since the new version of ASP.NET 5 changes placeholder for actions from ```{action}``` to ```[action]```,  when I try to use code ```[Route("SomeOtherName/{action=Index}")]```, it tells me "```The attribute route 'SomeOtherName/{action=Index}' cannot contain a parameter named

[2015-12-28 16:01] rynowak commented on #268
This is currently not supported. You'll have to do something like:

[code]

See: https://github.com/aspnet/Mvc/issues/3286

[2015-12-28 16:14] rynowak commented on #267
Nah, these are only used from startup code.

[2015-12-28 16:15] rynowak commented on #267
Our previous conclusion from discussing this was that it should be a separate package. I'm fine with moving them back

[2015-12-28 23:42] Eilon commented on #235
More than anything, it's probably a topic for the https://github.com/aspnet/Docs/ repo. I'm not sure where this would be documented in MVC itself.

[2015-12-28 23:42] #235 closed

[2015-12-29 14:19] srayuws commented on #268
Thansk for the link. Let's close this issue since there is already a backlog in the MVC repo.

A suggestion is to have a ONE place to find all the backlogs and known issues, just like the Announce repo for breaking changes, rather than search every repo that might be related.

[2015-12-29 14:19] #268 closed

[2015-12-30 00:32] Eilon commented on #247
Closing because we cannot reproduce this. If you see this on a new build of ASP.NET 5 / MVC 6 please re-open or log a new issue.

[2015-12-30 00:32] #247 closed

[2015-12-30 00:34] #237 closed

[2015-12-30 23:26] Eilon commented on #250
@ajaybhargavb please sync with @rynowak on how to approach this.

[2015-12-30 23:28] Eilon commented on #257
What if you remove the `ValidateAntiForgeryToken`?

[2015-12-30 23:46] Eilon commented on #257
Dup of https://github.com/aspnet/Mvc/issues/3769.

[2015-12-30 23:46] #257 closed

[2015-12-31 16:01] pranavkm opened #270 "Change the data type of VirtualPathData.VirtualPath"
Based on discussions in https://github.com/aspnet/Routing/pull/269#issuecomment-168130032:
we store Url encoded path and query components in this field. However the type is designed to not contain non encoded path component.

Alternatives to represent it:
* Vanilla string
* Two separate components `PathString` + `QueryString`
* Uri (think it might get treated as a relative path)

[2015-12-31 16:01] pranavkm commented on #270
cc @Tratcher

[2015-12-31 21:48] Eilon commented on #260
Moving to backlog.

I think in the meantime if your have the Static Files middleware before MVC (which should always be the case), then for the most part having a catch-all route (e.g. a route with a template like `{*everything}`) that maps all unmatched requests to controller=Home, action=Index should work.

[2015-12-31 21:49] Eilon commented on #262
Dup of https://github.com/aspnet/Routing/issues/260

[2015-12-31 21:49] #262 closed

[2015-12-31 22:49] rynowak opened #271 "Use optimized logging pattern in routing"
Routing is still using the 'simple' logging pattern. We should be using the more optimized pattern.

[2016-01-03 09:48] davidfowl commented on #267
They should still be in the right namespace. They're extending the `IRouteBuilder` not the `IApplicationBuilder`.

We should totally put them back in the main assembly, they are just sugar methods.

[2016-01-04 11:22] ilya-git commented on #260
The problem is not that there are no catch-all route, but in the fact that the catch-all route will return the default action for all the "would be" errors (like when you don't have a .js or .html file for example).

[2016-01-04 11:24] ilya-git commented on #262
The easiest way that I found for that is the one described in the referenced item: just define your own constraint, e.g. : DoesNotContainConstraint : IRouteConstraint (You can check for an example in this repository), you whole code will be like that:

public DoesNotContainConstraint(string substring)
{
      m_Substring = substring;
}

public bool Match(HttpContext httpContext, IRouter route, str

[2016-01-05 16:31] rynowak commented on #267
So then we should move `IRouteBuilder`? What you're suggesting isn't an improvement.

Yeah let's move these back into the routing package.

[2016-01-05 20:04] #270 closed

[2016-01-07 00:15] ryanbrandenburg commented on #271
Fixed in #274

[2016-01-07 00:15] #271 closed

[2016-01-11 14:38] DamianEdwards opened #276 "Throw a nicer error when the routing services haven't been added to DI"
Like [other parts of the framework](https://github.com/aspnet/SignalR-Server/blob/da96c1d9abae49e6aadeefd30942ad0269a65996/src/Microsoft.AspNet.SignalR.Server/Hosting/BuilderExtensions.cs#L93) we should throw a nice helper exception when services are missing from DI, including the sample call the app needs to add the routing services to DI, e.g.
[code]

[2016-01-11 14:39] DamianEdwards commented on #276
@rynowak @Eilon

[2016-01-11 18:32] Eilon commented on #276
MVC already does this. We can follow the same model.

[2016-01-11 18:37] rynowak commented on #276
Can we not follow the same model instead? It would be nice to do this on Startup instead of on first request

[2016-01-11 19:29] Eilon commented on #276
Hmm ok, do we have an idea of how to do that?

[2016-01-11 20:36] rynowak commented on #276
We can register a marker service and have the routing middleware resolve it when created.

[2016-01-11 20:39] DamianEdwards commented on #276
Ya, the code linked to above does this.

[2016-01-11 20:48] rynowak commented on #276
MVC does it on first request - we should think about changing it to do it when we add AddMvc.

[2016-01-11 21:42] Eilon commented on #276
@javiercn you got that? Let's add this to Routing, and then also change MVC to do the same. I logged https://github.com/aspnet/Mvc/issues/3907 and assigned to you.

[2016-01-13 03:05] javiercn commented on #276
@Eilon will do it for routing and mvc

[2016-01-13 18:03] victorhurdugaci opened #277 "Change to build to use dotnet"
At a minimum, you have to upgrade a few scripts and project.json files just like here: aspnet/Configuration@9cfd22f

[2016-01-13 22:10] pranavkm commented on #277
Fixed in https://github.com/aspnet/Routing/commit/672d596248126a54ed32dd8b8d0d56559fbbf429

[2016-01-13 22:10] #277 closed

[2016-01-15 19:07] #276 closed

[2016-01-18 09:30] Hobart2967 opened #279 "404 error on certain route templates"
Hi,

the Kestrel guys think that this is a routing bug (Reported it over there as https://github.com/aspnet/KestrelHttpServer/issues/587):

I am using attribute routing.

Problem is, when defining a route like this:

[code]

Running the webapi on a kestrel server, it returns a 404 on calling /api/walkthroughs/get/123, while having

[code]

defined on the controller. Renaming the route in the name

[2016-01-19 07:48] rynowak commented on #279
Are you seeing a failure on Mono/Linux and success on Windows? I've seen issues with attribute discovery/reflection on Mono in the past.

These two lines jump out:

It means that we found the route on the target action, and were able to put it in the route table, but for some reason the action wasn't considered a match. We'd be processing the HTTP verb at this point.

Can you include your startup

[2016-01-21 12:25] Hobart2967 commented on #279
Sure will post it this afternoon (UTC+1)

[2016-01-25 06:32] Eilon commented on #279
@Hobart2967 please let us know when you can share the code.

[2016-01-27 01:30] Eilon commented on #228
Can go over it with me or @rynowak if anything isn't clear.

[2016-01-27 01:53] Eilon commented on #279
@javiercn can you try to repro this in the meantime?

[2016-02-03 23:43] Eilon commented on #279
Donating to @ryanbrandenburg .

[2016-02-04 18:01] rynowak commented on #267
d97947e229d9e9c8c5057ca5c67eb9a38c4ce53b

[2016-02-04 18:01] #267 closed

[2016-02-06 00:38] ryanbrandenburg commented on #279
@Hobart2967 another poke for your startup code.

[2016-02-08 20:04] ryanbrandenburg commented on #279
@Hobart2967 I tried this on kestrel/windows and it worked just fine.

Controller was
[code]
and the startup was
[code]

I also find this line `The request path "/api/walkthroughs/get/123" does not match a supported file type` suspicious but I don't think there's much more I can do until I've seen your Startup code (an entire repo project would be even better). Also, you mentioned something working

[2016-02-10 20:53] ryanbrandenburg commented on #279
@Hobart2967 I'm going to go ahead and close this out as can't repro for now. If you're still having this problem feel free to reopen it with a repro project or other new info.

[2016-02-10 20:53] #279 closed

[2016-02-13 01:50] mnltejaswini opened #282 "Save an allocation of Dictionary in RouteBase.MergeValues"
MergeValues copies the values from a source dictionary to destination dictionary. It always creates a new destination dictionary and inserts the source key and values. If the destination dictionary is empty, we can use source as destination rather than allocating a new dictionary for the destination. This will save 1 dictionary allocation per request to ASP.NET MVC . Below is the profile call stac

[2016-02-13 18:47] OlsonDev commented on #186
+1; Any update on this? Is there a workaround one can use today?

[2016-02-13 19:03] glen-84 commented on #186
@OlsonDev I haven't worked with ASP.NET for a few months, but I think that you just have to use explicit routes like this:

[code]

[2016-02-13 19:14] OlsonDev commented on #186
@glen-84 That's what I have now; it's tedious to maintain. I would love this to be conventions-based. I made my own custom conventions thing around the MVC3 era and I'd be fine with that now but I'm unclear as to where tap into.

[2016-02-16 15:54] rynowak commented on #186
You can use conventions to customize routing - it should be pretty straightforward. https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRoutingConvention

[2016-02-17 18:06] Eilon opened #284 "Add doc comments for service collection extension methods"
The class and methods here need new/better doc comments: https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/DependencyInjection/RoutingServiceCollectionExtensions.cs

Recommend following the general pattern we've used in other places, e.g. https://github.com/aspnet/Session/blob/dev/src/Microsoft.AspNetCore.Session/SessionServiceCollectionExtensions.cs

[2016-02-18 12:52] ycrumeyrolle opened #285 "Unable to create a route template with query string / question mark"
I'd like to use the TemplateParser for parsing template like this one :
'/api/myresource/{resource_id}/?q={query}'

I have the following error : "The literal section '?q=' is invalid. Literal sections cannot contain the '?' character."

Is it by design ?

[2016-02-18 21:02] Eilon commented on #285
Yes, it is by design. The current design of routing is that it parses only the "path" segment of the URL. The query part is generally processed by MVC.

You could certainly write a custom `IRouter` that parses the URL in a different way, but there aren't built-in features for this.

[2016-02-19 06:14] OlsonDev commented on #186
@rynowak Thanks -- but I ran into a bit of an issue. For sake of example, let's say I have `AwesomeUserController` with actions `Index`, `AddPhoneNumber`, etc. I want these routes to work:

[code]

So, on the Controller I add a template `awesome-user` and on the actions I add `index/{id?}` and `add-phone-number/{id?}`. Now `/awesome-user` doesn't work because `index` is required.

This example ext

[2016-02-19 06:43] OlsonDev commented on #186
Just noticed https://github.com/aspnet/Mvc/issues/4043 -- and based on what I read, solved my issue. However, now my solution is contigent on what you guys plan on doing. This is what I came up with:

[code]

[2016-02-19 16:19] rynowak commented on #186
If you're trying to mimic the behavior of `{controller}/{action}/{id?}` but with slugified names, I don't think it's as hard as what you're doing. You should really only have to double up on the first action, not on the controller.

Similar to your original table - but updating it for "home":
[code]

[code]

[code]

This works because `/` and `~/` override whatever comes before - so the `[controll

[2016-02-19 19:05] OlsonDev commented on #186
Indeed, I'm trying to mimic that behavior. I got that to work but I wouldn't describe that as "easier" per se (same # SLOC, higher cyclomatic complexity :stuck_out_tongue:) -- more efficient, sure (I'm guessing). Good to know @ `/` and `~/`.

Am I right in regards to what I'll need to change after https://github.com/aspnet/Mvc/issues/4043 lands?

[2016-02-19 19:10] rynowak commented on #186
If you do it my way there won't be any change :+1:

Regard of how you manipulate the model to do this, I'd expect the same route table to be generated.

[2016-02-19 19:39] OlsonDev commented on #186
With your way, I think
[code]
would become
[code]

I was guessing startup efficiency would be better; less work to generate the same table. Either way, probably an insignificant difference.

Thanks for all the help!

[2016-02-23 18:41] kichalla commented on #284
05ff447d7da7fdf46a6b994e1797a8aaea525c14

[2016-02-23 18:41] #284 closed

[2016-02-24 09:09] Antaris opened #289 "[Advice] Cross-router UrlHelper feasibility"
Hi Team,

Given that it is now possible to register multiple instances of `RouterMiddleware` with the pipeline, I am looking at the feasibility of accessing route information registered through an lowest-level `IRouter` and surface this elsewhere.

My primary use-case is a custom `IRouter` used to handle database-driven URL links. E.g, here is my Domain model `Link`:

[code]

In memory, I formulat

[2016-02-24 17:38] anorborg commented on #203
I would also suggest this feature would make it easier to migrate from classic ASP.NET (i.e 4.5) to ASP.NET Core. If I had a domain routing in front, I could easily implement all my new features in ASP.NET Core and forward all classic requests to my legacy app. This would make it much easier to slowly migrate to the new Core platform while not affecting the legacy application

[2016-02-26 09:36] Antaris commented on #289
Just developing on this a bit further, perhaps this can be simiplied using the existing `INamedRouter` interface instead:

[code]

Still not sure about doing the grunt work in a constructor here, but don't currently have a better alternative.

[code]

[2016-02-29 05:34] ChrisFelstead commented on #47
My issue has been moved and I've been ask to supply a case. In short, I can a wildcard route in order to allow for views without a controller (these are static pages but with the same design template). The issue is that I need to exclude common extensions (images, css, JavaScript, documents etc...) and cant without IgnoreRoutes.

[2016-02-29 06:21] Eilon commented on #47
@ChrisFelstead one thing to note about ASP.NET Core MVC (the new MVC) is that if the incoming URL matches a route that is intended for MVC, but MVC can't find a matching controller/action, MVC ignores it, and the request will continue to the next middleware. Also, generally the Static Files middleware should be registered before the MVC middleware (that is, call `UseStaticFiles()` before `UseMvc()

[2016-02-29 07:37] ChrisFelstead commented on #47
I had this is my startup. I expected it to run the wildcard route if no appropriate route found but ignore static files like images, js, css and documents. It's applying to everything so I wanted to use ignore routes to exclude them extensions.

Basically, Im to achieve the ability to have views without a controller for static pages. But I need the ability to use the layout (hence why I dont make

[2016-02-29 17:09] Eilon commented on #47
Hmm that looks like it should work for this scenario:

1. If the incoming request matches a file that exists on disk, serve it (static file middleware should catch all these)
2. If the incoming request matches an existing MVC controller/action, run that
3. Send all other requests to `WildcardController.Get()`

But that's not what's happening?

[2016-02-29 17:14] ChrisFelstead commented on #47
Nope. I thought it should too. All requests (including the js and css) are going to the controller. I'll do some more investing tomorrow and get back to you with specific cases and a sample project if you would like.

On 29 Feb 2016, at 17:09, Eilon Lipton <notifications@github.com<mailto:notifications@github.com>> wrote:

Hmm that looks like it should work for this scenario:

  1.  If the incomin

[2016-02-29 17:21] Eilon commented on #47
Is this on a machine with a case-sensitive file system (e.g. Linux), and the requests are coming in with the wrong casing?

[2016-02-29 17:24] ChrisFelstead commented on #47
No. Its running on Windows. And Im using the default project template.

[2016-02-29 17:24] rynowak commented on #47
You should be able to see some relevant information in the debug output window from logging if you're using VS and the default template.

[2016-02-29 17:25] Eilon commented on #47
An the `webroot` property in `project.json` is pointing at the correct folder (usually `wwwroot`)?

Does the plain old regular default project template (without any modifications) serve static files correctly?

[2016-02-29 17:47] ChrisFelstead commented on #47
Interesting. Got a colleague to open and run (as Im out of the office) the project and it works as expected. Getting 200 and 302s. The problems must be on my machine. Sorry to both you guys.

[2016-02-29 17:52] Eilon commented on #47
@ChrisFelstead have your colleague join this program: http://blog.codinghorror.com/the-works-on-my-machine-certification-program/

You, on the other hand, cannot yet join this program :smile:

[2016-02-29 20:54] javiercn commented on #242
I've searched though the routing repository with
[code]
And the results are
[code]

https://github.com/aspnet/Routing/blob/dev/test/Microsoft.AspNetCore.Routing.Tests/Template/TemplateBinderTests.cs

[2016-02-29 21:01] pranavkm commented on #242
`TaskCache` is just code (and that looks ok). Presumably `TemplateRouteTest` got renamed to `TemplateBInderTests` at some point.

[2016-02-29 23:09] ajaybhargavb commented on #250
I built a sample to demonstrate how we can currently implement this scenario.

`api/v2/Home/Index`
Consider a route that understands the api version part of the URL which then forwards to another route that understands the rest.

In Startup:
[code]

GetVirtualPath in ApiVersionRoute:
[code]
Now if we generate a link with `new { controller = "Home", action = "Index", apiVersion = "v3" }`, we'll get

[2016-03-02 12:08] brainwipe opened #291 "Question - How to create a Url from template and values?"
I am building a [hypermedia api](https://github.com/brainwipe/NJsonApi) and I need to create Urls to automatically insert into the output.

Using `IApiDescriptionGroupCollectionProvider`, I can get hold of the `ActionDescriptor` for all the actions for which I need to build URLs for. Each `ActionDescriptor` has a Url template such as:

    articles/{id}

I have the article `id` too. How can I turn

[2016-03-02 18:08] rynowak commented on #291
`Url.Action` is really the supported mechanism for generating links. You can dig into the infrastructure that backs it is necessary, but just be aware that often those details are subtle to change. See the bottom of this post for details.

If `Url.Action` is behaving as you mentioned, it's likely because you have actions defined like this:
[code]

We fixed a bug in RC2 for this case where the `art

[2016-03-03 01:19] HaoK opened #292 "Revisit service location in Routing..."
Not sure there's any easy fixes for these, but there aren't that many...

Microsoft.AspNetCore.Routing\RouteBase.cs:249:
`var urlEncoder = context.RequestServices.GetRequiredService<UrlEncoder>();`

Microsoft.AspNetCore.Routing\RouteBase.cs:250:
`var pool = context.RequestServices.GetRequiredService<ObjectPool<UriBuildingContext>>();`

Microsoft.AspNetCore.Routing\RouteBase.cs:259:
`var factory =

[2016-03-03 01:38] rynowak commented on #292
The issue here is that these classes need to be constructable, yet they also need stuff. These resolves happen once per-route-per app and then are cached.

[2016-03-03 11:50] brainwipe commented on #291
Hi Ryan, that answers my question brilliantly.

`Url.Action` is definitely the right way. I am indeed using RC1 and I will update to RC2 immediately (happily there is a good business case to use ASP.NET core!). I am marking the Controller as `[Route("[controller]")]`, and then marking the actions simply with the parameters required `[HttpGet("{id}")]`. The `ApiExplorer` has all the information I n

[2016-03-03 15:52] rynowak commented on #291
Glad I could help. I'm going to close out this issue, feel free to file more if you have more questions or reopen if you run into problems with this.

[2016-03-03 15:52] #291 closed

[2016-03-03 23:43] dlebedynskyi commented on #47
@Eilon  we have same issues. dnx core rc1, Window 7 x64. Both on IIS and kestrel.  Static files if not found are passed to controller and are return an home/index page with text/plain.

I had to put attribute routing on home/index and remove all routing from ConfigureMvc. Something like
[code]

PS not at work machine now so code may be a bit wrong. but hope shows the idea.
I with we had ignore rou

[2016-03-04 06:16] Eilon commented on #47
@dlebedynskyi can you log a new issue in this repo with precise repro steps? IgnoreRoute still shouldn't be needed for this scenario, so unless I'm missing something, this could just be a bug.

[2016-03-07 00:24] Eilon commented on #292
Yeah Routes (and thus RouteBase) don't themselves come from DI...

[2016-03-07 00:24] #292 closed

[2016-03-07 00:25] #285 closed

[2016-03-07 00:26] Eilon commented on #282
cc @rynowak

Some questions:
1. Has this shown to be significant in profiles?
2. Are the dictionaries not expected to mutate? My general concern about copying the reference is that mutating the original will mutate both. (I doubt that is a concern here, but I don't know the code.)

[2016-03-07 15:56] rynowak commented on #282
This is 1 dictionary per request. For the kinds of scenarios we're looking at now it's pretty low priority. A good fix is more complex than what's detailed here. The above would optimize away an "empty" dictionary that hasn't had any internal data structures allocated. A better fix would be to have the matcher put it's values directly into `RouteData.Values` and elide a "full" dictionary.

This is

[2016-03-07 17:28] Eilon commented on #282
Moved to Backlog.

[2016-03-07 19:51] dlebedynskyi opened #293 "single page app : missing static files are served as default routing"
as requested by
https://github.com/aspnet/Routing/issues/47#issuecomment-192126947

@Eilon  it is basically the same as in issue above . in case if you specify constrain
as  4th paramer you are going go get nothing

[code]

result is empty content
![image](https://cloud.githubusercontent.com/assets/1182917/13581025/e4072b96-e472-11e5-9048-08a1b3b4df8f.png)

if you remove constraint you are going t

[2016-03-08 06:24] 4engkai opened #294 "Not sure why but seems the parameter "defaultHandler" is useless here"
https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/RouteBuilder.cs

[code]

[2016-03-09 01:26] Eilon commented on #294
Ah, that looks like a bug! I think it just needs to set the `DefaultHandler` property to that value.

[2016-03-09 11:50] Antaris commented on #289
@eilon @rynowak @pranavkm

Any thoughts on this issue?

[2016-03-10 22:24] fredgate opened #296 "Custom route constraint with variable number of arguments"
I am creating custom route constraints. It works perfectly except for one that accepts an undefined number of string parameters in its constructor.

I looked source code of HttpMethodRouteConstraint at https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/Constraints/HttpMethodRouteConstraint.cs and reprocued it for mine :
[code]

But when I use it in the route of an action
[

[2016-03-10 23:28] #294 closed

[2016-03-13 21:07] Eilon commented on #296
At this time, *inline* route constraints (the ones you specify within the route template pattern) support having either only a single `string` parameter, or multiple parameters that are separated by commas. Constraints can also be used as part of the `constraints` parameter you can pass into a route definition, in which case you `new` up the constraint yourself and pass in whatever constructor par

[2016-03-13 21:07] #296 closed

[2016-03-28 16:47] Eilon commented on #250
@ajaybhargavb ping reminder to close this.

[2016-03-28 17:32] ajaybhargavb commented on #250
Closing this as there is no further action required.

[2016-03-28 17:32] #250 closed

[2016-03-29 22:07] ryanbrandenburg commented on #293
Hello @dlebedynskyi, could you confirm that this still reproduces for you?

If it does could you post a full reproduction project either as a zip or a github repo? I tried to reproduce it [here](https://github.com/aspnet/Mvc/tree/rybrande/WildcardRouting/samples/MvcSandbox) based on what you posted but got the expected behavior of having the content-type be text/css and the value correct.

[2016-03-31 20:55] dlebedynskyi commented on #293
@ryanbrandenburg will try to do over weekend

[2016-04-01 21:01] Eilon commented on #242
Moving to 1.0.0.

[2016-04-03 10:21] seriouz opened #302 "Explicit set the namespace used for controller"
Hello Guys,

is there a way to set the namespace which will be used for a route specified by a special prefix?
I think something like this would be very useful:

The default sites are aquired with
[code]
but then in the Controllers folder there is another folder "Acp" with its own HomeController.cs. It could be targeted with
[code]

[2016-04-04 15:41] dlebedynskyi commented on #293
@ryanbrandenburg  please take a look at this repo
https://github.com/dlebedynskyi/AspBug

right now if you restore deps and run app you should see

[code]
code in startup.js
[code]

expected 404 instead of text/plain
if you *rename dist/style_.css to dist/style.css* - everything is fine and stylesheet is served as expected.

2nd test is to change routing to
[code]
result is same.
**Expected behavi

[2016-04-04 16:05] rynowak commented on #302
You can do this with conventions, we have a sample that does something very similar. https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRoutingConvention

[2016-04-04 18:15] ryanbrandenburg commented on #293
@dlebedynskyi that repo only contains .gitignore and .gitattributes.

[2016-04-05 13:18] dlebedynskyi commented on #293
@ryanbrandenburg  my bad. check now pls

[2016-04-05 19:42] ryanbrandenburg commented on #293
@dlebedynskyi your `_Layout.cshtml` is looking for `~/dist/style.css`, but the file you have is `wwwroot/dist/style_.css` (notice the extra `_` there). Your routes performed as expected, since it didn't have a "dist/style_.css" it used your wildcard route (rather than returning a 404), which returns a type of text/html. If you either change your cshtml or the name of your file it should all work.

[2016-04-05 20:35] dlebedynskyi commented on #293
@ryanbrandenburg  well this is actually the bug.

**Problem is with missing files.  not with valid path **
it is expected to get 404 for  static file  instead of having routing go throw asp.mvc.

[2016-04-05 23:20] ryanbrandenburg commented on #293
If I understand you correctly then, you're expecting that when you go looking for something "served from the wwwroot" and don't find it you should get 404, even if there is a catch all route?

If that's what you're saying then we're still working as expected. There's no way to know for sure  when someone looks for "dist/style_.css" if they're expecting it from wwwroot or from an MVC route. We only

[2016-04-06 16:44] dlebedynskyi commented on #293
@ryanbrandenburg  I see that from your point it is all as expected but it still does not solves the problem for developing spa with asp.net back with _layout.cshtml and/or some razor views.

In fact you are right using catch all route is not a good way of doing things but per fact there is no better. This is problem.

So if nothing changes from asp.net mvc routing side and stays as 'work as expect

[2016-04-11 20:06] rynowak opened #306 "Remove .Defaults and .RouteGroup from TreeRouteLinkGenerationEntry"
These properties aren't used for anything, we should either remove them, or remove the TemplateMatcher/TemplateBinder so that entries are easier to construct.

[2016-04-13 08:29] rmja opened #307 "Routes with custom route template parameter does not resolve correctly across areas"
I am configuring the following routes:

[code]

The `manufacturer` is an argument that is required in the route template. When generating links with the https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/AnchorTagHelper.cs which crosses the area boundary, then the correct route is not picked up when generating the link:

For example, when activating the following route:

[2016-04-15 08:00] javiercn commented on #307
It took me a while but I think I know what's happening.
Your template is "{area:exists}/{manufacturer}/{controller}/{action}/{id}" so the ambient values that you have are

[code]

The second template that

[code]

targets is

[code]

Given that the area is explicitly specified through asp-area, the other ambient values to the right are not taken into account. So given the route does not have a def

[2016-04-15 08:22] rmja commented on #307
@javiercn year, but should the ambient values not be used to select the route even when the controller is explicitly specified? Otherwise, I would have to set a default value for `manufacturer`, even though there is no default, just to get the route selected. But would it then be populated witht the actual ambient values?

[2016-04-18 21:49] #302 closed

[2016-04-18 22:06] javiercn commented on #307
@rmja The reason why the ambient values are not preserved is because you are specifying the area (a parameter in the left of the template) to a different value than the current one. Conventional routes are "hierarchical" in the sense that ambient values are only used as long as all the values for parameters to the left are not specified or have the same value. By changing the value of a parameter

[2016-04-19 04:37] rmja commented on #307
@javiercn phew, I finally got it😀

[2016-04-19 04:37] #307 closed

[2016-04-19 20:03] rynowak commented on #306
Poaching this since I'm already working on it.

[2016-04-21 21:17] #306 closed

[2016-04-21 21:17] rynowak commented on #306
e8ce0e752360a98871a4f4c08df8213b2e2a2e01

[2016-04-27 21:16] Eilon commented on #289
Hi @Antaris , sorry for the delay. We reviewed this item and we're not entirely sure we understand what the scenario is. Can you give a specific example of what an application would be doing where this feature would be useful?

[2016-04-28 12:28] Antaris commented on #289
Hi,

Yeah, it's quite a confusing scenario to succinctly explain, I'll try again, but with diagrams! and a sample RC1 repo (https://github.com/Antaris/IRouterIssue) to hopefully support it.

So here is the most common routing pattern for MVC:

![](http://i.imgur.com/LpHWNCg.png)

Request hits the `RouterMiddleware` configured by MVC, gets accepted by the `RouteCollection`. An instance of `MvcRoute

[2016-05-03 07:41] Antaris commented on #289
Better yet, instead of having a dictionary to store the `IRouter` instances, could MVC instead perhaps flow the `RouteCollection` as an `HttpContext` feature?

[2016-05-05 17:01] Eilon commented on #293
@SteveSandersonMS ping - you had mentioned you wanted to take a look at this?

[2016-05-05 17:28] SteveSandersonMS commented on #293
I've hit this issue too. I agree with @ryanbrandenburg that routing is working as expected, but I also agree with @dlebedynskyi that the overall design makes it difficult to build a SPA without getting weird responses instead of 404s for missing static resources.

The best resolution I've come up with so far is the `MapSpaFallbackRoute` helper which I put in the `Microsoft.AspNet.SpaServices` pack

[2016-05-05 17:34] Eilon commented on #293
@SteveSandersonMS thanks for the info. I'm marking this item as a Discussions item as there is no specific bug.

If folks have specific suggestions on improvements we can make, please log those as new issues and we can discuss.

[2016-05-08 21:09] TsengSR opened #312 "Optional route constraint not working when before [controller] placeholder"
I got a bit of little challange getting routes working the way I'd like. Basically, I want to have a locale/culture as part of the url path rather than the currently provided query parameter, cookie or accepted language header.

So I made a constraint for it, which is working so far.

[code]

Then I create an route via attributes on the controller

[code]

Works well so far. But it only works when

[2016-05-09 16:39] Eilon commented on #312
@TsengSR the "optional route segment" feature works only if it is the last segment, or followed by other optional segments.

So these work:

[code]

But these do not:
[code]

The workaround you have done is exactly what we recommend: add additional routes that omit the non-optional segments.

BTW the reasoning for this restriction is simple: what does it mean for an optional segment to exist in th

[2016-05-09 16:39] #312 closed

[2016-05-11 13:26] dlebedynskyi commented on #293
thanks @SteveSandersonMS . I'll check it out.

[2016-05-20 22:03] Eilon commented on #289
@Antaris sorry for the long delay. I do now understand your scenario - it makes perfect sense to me. It's not something that we plan on addressing at this time as a first-class feature, so at this time you'll need to stick with your custom-built solution. I'm putting this item in the backlog to see if others can chime in on their scenarios, and so that we can consider revisiting in the future.

Al

[2016-05-26 08:25] laskoviymishka commented on #21
@davidfowl does this issue still active? right now proposed feature already presented in rc2

[2016-05-26 16:15] Eilon commented on #21
Ah, yes, we actually did end up doing this in 1.0.0-rc2. See the APIs here: https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/RequestDelegateRouteBuilderExtensions.cs

[2016-05-26 16:15] #21 closed

[2016-05-27 03:28] atrauzzi commented on #21
Nice!!

[2016-05-29 21:40] NinoFloris opened #316 "No route candidate coming back to Mvc when it should be resolvable"
Ok given these routes, and this url `http://example.com/ptslug/slug` it should be clear that the bottom most route and accompanied action should be triggered.

[code]

However, as I have debugged the http://github.com/aspnet/Mvc project it does not even get to the point of selecting an action, which normally happens in the ActionSelector. Breakpointing this class revealed that it did not get enter

[2016-05-30 01:27] javiercn commented on #316
Investigating

[2016-05-30 02:06] dougbu commented on #316
@NinoFloris did you intend `ptSlug` to be that literal string or a variable? That is should the last attribute be `[HttpGet("ptSlug/{slug}")]` or perhaps `[HttpGet("ptSlug/slug")]`?

[2016-05-30 12:13] NinoFloris commented on #316
I mean for it to be a variable, as with slug.
Really like this:
`[HttpGet("{ptSlug}/{slug}")]`

And to clarify the given url:

`http://example.com/anyvariableptslug/anyvariableslug`

[2016-05-30 14:45] ThreeSevenths commented on #203
It should be pretty easy to create an IDomainAccessor service and drop it into your service collection. I don't think it belongs in routing since routing's job is to find the correct action. Domains are almost always data in these cases and should be provided perhaps in model binding or as a service accessor.

[2016-06-03 19:56] #316 closed

[2016-06-03 20:00] javiercn commented on #316
We weren't iterating the route matching tree correctly in some scenarios, we were returning the previous node. The fix was to replace the counter that was being used an use the Depth property on the node instead.

[2016-06-04 16:24] Eilon commented on #236
@ajaybhargavb @rynowak can we expect anything here for 1.0.0? I don't think we have time to do anything significant here.

[2016-06-06 15:14] rynowak commented on #236
![image](https://cloud.githubusercontent.com/assets/1430011/15826968/83fa2dd2-2bbe-11e6-8bc6-93ce218c7b2a.png)

This picture depicts Queen Ati, wife of King Perahu of Punt, depicted on Pharaoh Hatshepsut's temple at Deir el-Bahri. (Thanks [wikipedia](https://en.wikipedia.org/wiki/Land_of_Punt))

I suggest we send this issue on a voyage to the Land of Punt

[2016-06-06 16:54] Eilon commented on #236
Punt to never, or punt to not-now-but-later?

[2016-06-06 17:18] rynowak commented on #236
Punt to 1.0.1 :+1:

[2016-06-08 13:24] NinoFloris opened #320 "Use a tilde (~) on the method attribute to override the route prefix does not work if not followed by a slash (/)"
As can be read here:
http://www.asp.net/web-api/overview/web-api-routing-and-actions/attribute-routing-in-web-api-2
The proper way to break out of the route prefix set at controller level for instance is to prepend the route with a tilde.

However not following this tilde with a slash does not work and the request ends up in another action.

This works (simplified):
[code]
(Take note of the subres

[2016-06-08 16:58] javiercn commented on #320
I believe you need to use just '/' in ASP.NET Core. Let me know if that doesn't work

[2016-06-08 16:59] javiercn commented on #320
So ```/api/v1/pages/{id:int}/[controller]``` in your case

[2016-06-08 17:32] NinoFloris commented on #320
Ahh oh that explains it ;) and everything before the first slash gets discarded then?

[2016-06-08 17:32] javiercn commented on #320
Yes

[2016-06-08 17:34] #320 closed

[2016-06-09 18:02] rynowak opened #321 "Add support for chaining handlers to IRouteBuilder"
We want to add a feature like the following so that user code can 'chain' to arbitrary routes. This is useful for cases where the 'handler' is not `IRouteBuilder.DefaultHandler` - such as MVC attribute routing.

[code]

[code]

Code like `MapRoute` would call `CreateHandler(routeBuilder.DefaultHandler)` to create the rest of the chain. Code like MVC attribute routing would call `CreateHandler(hand

[2016-06-10 00:50] sebastienros opened #322 "RouteValueDictionary value constructor fails with reflection errors"
When instantiating a RouteValueDictionary with a list of constraints, I got an exception stating the `Comparer` property `IOrdinalConstraint` needed to be of type `string` or `IRouteConstraint`.

This code fixed the issue

[code]

instead of

[code]

I think that it happens when the constructor is called twice in a raw on constraints. In my case I did it on the result of a call to MapAreaRoute whi

[2016-06-10 15:19] rynowak commented on #322
`route.Constraints` isn't a `RouteValueDictionary` (and isn't supposed to be). Unfortunately generics making doing a conversion in all of the possible cases expensive and this is a **super** hot code path in views.

[2016-06-10 16:51] sebastienros commented on #322
More context, I am trying to alter the template of an existing route, I do so by creating a new route and trying to copy every property:

[code]

Maybe there are no issues with the current code and it's just that trying to use a `RouteValueDictionary` constructor to convert it to an `IDicionaty<string, object>` which is wrong. What is the recommended way to pass constraints across routes ?

[2016-06-10 17:00] sebastienros commented on #322
Will just create a new `Dictionary<string, object>` from the `IDictionary<string, IRouteConstraint>` of the original route.

[2016-06-10 17:00] #322 closed

[2016-06-14 17:34] kichalla opened #323 "Request not matching expected route"
A request like `/foo/bar` is not matching the action `twovariablesegments` here and results in 404 but other requests like `/10/20` and `/foo` work fine.

[code]

logs with debug switch:
[code]

[2016-06-14 17:42] kichalla commented on #323
cc @rynowak @Eilon seems necessary to be fixed for RTM?

[2016-06-14 17:43] dougbu commented on #323
/cc @javiercn because he fixed a related case in the runup to RTM.

[2016-06-14 17:47] rynowak commented on #323
your repro doesn't match the debug output. There's no `foo`.

[2016-06-14 17:54] kichalla commented on #323
The request url is : `Request starting HTTP/1.1 GET http://localhost:5000/foo/bar`...there are no literal segment routes

[2016-06-14 18:03] rynowak commented on #323
Ah yeah I read that wrong. Ignore me

[2016-06-14 18:03] rynowak commented on #323
This could be a case of not continuing properly when constraints fail to match, we hit a similar bug earlier.

[2016-06-14 18:16] kichalla commented on #323
Sorry about that. I was using RC2 packages. This does not repro with latest packages.

[2016-06-14 18:16] #323 closed

[2016-06-14 18:45] kichalla opened #324 "Request not matching route with defaults"
A request like `/api/test` is resulting in 404. A request like `/api/test/hello` works fine as expected.

[code]

This is working fine with RC2 final packages, so looks like a regression

@rynowak

[2016-06-14 18:59] kichalla commented on #324
@javiercn

[2016-06-14 19:16] javiercn commented on #324
I'll look at it.

[2016-06-14 19:39] javiercn commented on #324
I suspect this might have worked by chance in the previous code. I don't see tests for this, I'm guessing that /{controller=Home}/{action=index} or similar would not have worked in the previous version

[2016-06-14 21:04] kichalla opened #325 "Need more log info when requests matching conventional routing match actions with attribute routes"
For the following controller

[code]

and Startup.cs configured like below

[code]

A request like `links/index` results in 404. This is expected but the logs do not provide much info here. Should we give more detail?

[code]

[2016-06-14 21:15] rynowak commented on #325
agreed, we can do better than "No actions matched the current request" for this case

[2016-06-14 22:52] javiercn commented on #324
I think I found the issue and a potential fix for it. We are not constructing the tree properly, when we have default parameters we don't put the route in the matches list of previous nodes on the tree.
I believe ```if (part.IsParameter && (part.IsOptional || part.IsCatchAll))``` should be ```if (part.IsParameter && (part.IsOptional || part.IsCatchAll || part.DefaultValue != null))``` on https://g

[2016-06-14 23:49] javiercn opened #326 "Should we throw when parsing a template with segments that contain default values followed by non default segments?"
Currently we can write a template like the following and we will parse it correctly, does it make sense to have default value parameters before non default value parameters?
{parameter1=1}/{parameter2=2}/{**parameter3**}/{parameter4=4}
I don't think templates like these make sense, so we should ensure that when we find a segment with a default value, the remaining segments are either catch all, op

[2016-06-14 23:50] javiercn commented on #326
@rynowak @kichalla

[2016-06-15 00:13] javiercn commented on #324
Discussed this with @Eilon. Marked for 1.0.1 if you think otherwise voice your concerns @kichalla @rynowak

[2016-06-15 14:42] rynowak commented on #326
This seems like a regression. I know there are some tests for this kind of thing.

[2016-06-16 17:17] kichalla opened #328 "Add an overload of MapRoute which accepts constraints when a request delegate or application builder is used."
Not sure how much we care about this as it can be achieved by writing an extension by the end user.

Currently we have the following extensions:
![image](https://cloud.githubusercontent.com/assets/6559784/16126065/5b053fc6-33ab-11e6-9707-7c9fa68854f6.png)

Default values could be supplied inline and also the constraints on parameters, but no overload which takes in route level constraints.

[2016-06-23 00:32] rynowak opened #329 "Add support for IEnumerable<KeyValuePair<string, string>> in RouteValueDictionary"
We want the following to work:
[code]

This is intuitive and will allow us to remove some unnecessary copying we do upstream

[2016-06-23 00:34] rynowak opened #330 "Optimize RVD for common case (action, controller, id, area)"
We want to produce an optimized implementation of `RouteValueDictionary+Storage` for the common case, this will save a lot of allocations in link generation

[2016-06-23 00:38] rynowak opened #331 "Turn RVD+ListStorage into RVD+ArrayStorage"
We've got perf data that show that the `Array.Copy` and `Array.Clear` operations in `List<T>` are too slow for what we need. Let's use an array here instead.

[2016-06-24 15:22] rynowak opened #332 "Add an overload of UseRouter that takes Action<IRouteBuilder>"
This would be simple to add and would make configuring routing standalone much less verbose.

[code]

[2016-06-24 15:29] davidfowl commented on #332
👍

[2016-06-24 16:57] Muchiachio opened #333 "Consider exposing default routing feature implementation"
Consider making [RoutingFeature](https://github.com/aspnet/Routing/blob/457cd92bca57c63da418822eab9dad00bde9ceff/src/Microsoft.AspNetCore.Routing/RouterMiddleware.cs#L52) class public, because testing code with `DefaultHttpContext` doesn't give `IRoutingFeature` by default and creating class just for that is kind of pointless.

[2016-06-24 22:32] rynowak commented on #333
This is something we can do.

[2016-06-29 22:18] ConnorMcMahon opened #336 "TemplateMatcher.TryMatch sets all route values to strings, even if otherwise specified."
When using the function TryMatch(PathString path, RouteValueDictionary values), on the path "mainpage/5/true" with a template of the form "{countername}/{add:int}/{log:bool}", I would expect the resulting dictionary to look along the lines of { "countername": "mainpage", "add": 5, "log": true}. However, instead I receive a dictionary that looks like {"countername": "mainpage", "add": "5", "log": "

[2016-06-29 22:59] javiercn commented on #336
This behavior is by design. The interface is IDictionary<string,object> for historical reasons but it's not the routing job to perform type conversions for the parsed data. Effectively all values are strings inside the dictionary.

/cc @rynowak

[2016-06-29 23:06] ConnorMcMahon commented on #336
So then is "images/hello" supposed to match the template "{category}/{id:int}", even though "hello" is not an integer?

[2016-06-29 23:23] rynowak commented on #336
Route constraints answer a yes/no question about the format of the text, they don't perform type conversions.

[2016-07-01 16:35] #332 closed

[2016-07-01 16:35] rynowak commented on #332
4adc693

[2016-07-01 16:35] rynowak commented on #333
322e1f5d9c7b78c079f9c21b9409416c4b070254

[2016-07-01 16:35] #333 closed

[2016-07-01 17:51] Eilon commented on #336
Yup, it's the job of model binding to do the type conversions.

[2016-07-01 17:51] #336 closed

[2016-07-01 23:10] #324 closed

[2016-07-05 22:38] rynowak commented on #228
Things to include:

- MapRoute with a middleware
- Map[Verb] with a delegate
- Route handler that prints route values

[2016-07-08 05:26] Eilon commented on #326
Throwing an exception would be a breaking change at this time. But we could certainly detect this and *log* it, and then in 2.0.0 start throwing an exception.

Is that a reasonable approach here?

[2016-07-08 14:52] rynowak commented on #326
I don't believe that it's possible for this route to match anything or generate links. If it currently today is functionally useless in every way can we just make it throw now?

[2016-07-08 17:34] Eilon commented on #326
It's not functionally useless it all, it just has extraneous info in it.

This route:

`{parameter1=1}/{parameter2=2}/{parameter3}/{parameter4=4}`

Is functionally equivalent to this route:

`{parameter1=1}/{parameter2=2}/{parameter3}/{parameter4}`

In other words, it's just that the last parameter isn't really optional, despite the annotation attempting to indicate that it is.

[2016-07-08 17:45] rynowak commented on #326
So you tried it and it works?

[2016-07-08 17:51] Eilon commented on #326
I did not, but if it doesn't, I'd say that's also a regression from past similar behavior.

[2016-07-08 21:32] javiercn commented on #326
I think that the current behavior might work on some scenarios but not with the behavior that you intend (basically any default parameter before the last ones gets ignored as you need to provide values for them anyways) and there's a chance that routes like / and /something will match because we shortcut when we see an optional parameter and we don't have more values on the url. I would say that m

[2016-07-09 03:58] Eilon commented on #326
Oh BTW sorry my earlier comment was incorrect regarding *which* parameters were required. I should have said:

It's not functionally useless it all, it just has extraneous info in it.

This route:

`{parameter1=1}/{parameter2=2}/{parameter3}/{parameter4=4}`

Is functionally equivalent to this route:

`{parameter1}/{parameter2}/{parameter3}/{parameter4=4}`

In other words, it's just that the first

[2016-07-09 04:05] javiercn commented on #326
Not just that, I haven't checked but I'm inclined to think that /something and / will probably also match that route due to the way we build the attribute route tree, which is more problematic. I'll double check that this is actually possible in an E2E scenario (I discovered it on a unit/integration test) and check if the routes I suggest match it.

[2016-07-09 04:09] Eilon commented on #326
If that's the case then that's really, *really* bad...

[2016-07-09 05:12] Eilon commented on #326
Ok this does look totally broken with *attribute routing*. With conventional routing it's as I described: the route is perfectly valid, it just doesn't do exactly what it might seem like it does.

But with attribute routing, it appears to be broken in *lots* of scenarios.

With this route:

[code]

*All 4* parameters are required! It will only match the URL `hi/a/b/c/d`. It will not match `hi/a/b/

[2016-07-11 17:57] javiercn commented on #326
@Eilon That was one of the bugs that we fixed, but didn't make it to 1.0.0. It's already fixed in 1.1.0, I found this bug too when I was doing the fix for the original bug. The reason why I want to throw is that our algorithms make assumptions on the shape of the tree that we build for doing attribute routing efficiently. (Like when to stop recursion, etc.) And they assume only correct route templ

[2016-07-11 22:59] javiercn opened #340 "Add overload to MapRoute that takes a custom handler."
MapRoute provides overloads that allow you to specify constraints, default values, data tokens, etc. but not a route handler to use.

We should add a route that allows you to use a custom route handler instead of the default one.

[2016-07-15 18:22] #228 closed

[2016-07-17 15:21] NavjotSinghMinhas opened #343 "Need support for IsHandled for RouteContext"
Previously i could get the IsHandled from the RouteContext but i think its been removed from the RC2. Is there any workaround for it?

[2016-07-18 14:54] rynowak commented on #343
Routing sets a `RequestDelegate` handler on the `RouteContext` now when a route matches. The handler will be invoked later by the routing middleware.

Depending on what you trying to do you will either want to provide a handler, or invoke the handler.

[2016-07-18 17:00] Eilon commented on #326
I contend that the route template isn't *wrong*; it just has extraneous info in it. And throwing is a breaking change.

It sounds like we have bad logic in some algorithm we implemented - let's fix the algorithm.

[2016-07-18 18:26] Eilon commented on #340
What code do you have to write today to do it?

[2016-07-18 18:26] Eilon commented on #340
Also, in System.Web's Routing, what did it look like?

[2016-07-18 18:26] javiercn commented on #326
The route template is wrong, we only intend to support/allow optional parameters as the last parameter, I can check back on MVC5, but i'm pretty sure those routes throw.

[2016-07-18 18:33] javiercn commented on #340
[code]

And you need to get the inline constraint resolver from somewhere

[2016-07-18 19:12] #329 closed

[2016-07-18 20:40] javiercn commented on #340
I failed to mention that the code above is for ASP.NET Core. Some of the pain points are:
* You need to know about the relationship between Route and RouteHandler (both are IRouter implementations)
* You need to figure out how to build an InlineConstraintResolver (or get it from DI)

[2016-07-18 20:51] javiercn commented on #326
I retract my comment, I tried this out and both MVC and Web API allow it, although it's useless in both scenarios. Maybe we can throw in 2.0? I really think that when you run into this situation is because of an error and that there is no scenario for this and for that reason, throwing gives an early warning to users instead of leaving them wondering why their routes don't work.

As per fixing our

[2016-07-19 00:32] ajaybhargavb commented on #330
dde24fbba00c949b3bf33351ea05fdb7c565e2b7

[2016-07-19 00:35] ajaybhargavb commented on #331
dde24fbba00c949b3bf33351ea05fdb7c565e2b7

[2016-07-19 00:35] #331 closed

[2016-07-19 15:14] hauteur opened #344 "Custom RouteTemplate"
Okay, so to be fair, I'm not sure if this is an issue with the implementation, the documentation, or just with my understanding.

Under RC1, I was playing with using a custom route template to look up virtual URLs from a database and then returning whether or not there was a match.  The way that I found to do that was to use a custom implementation of `RouteTemplate` (then `TemplateRoute`) in a cu

[2016-07-19 15:20] rynowak commented on #344
Do you need a custom route for this? Do you need to retrieve new routing information while the app is running?

If you need to do this, start by implementing `IRouter`, you can use `TemplateBinder` and `TemplateMatcher` classes.

You won't use `MapRoute`, because that will always create an instance of `Route` directly. You can just call `Add` on the route collection.

[2016-07-19 15:59] hauteur commented on #344
Thanks for the response.

Technically, I don't know that it is routing information - the controller and action will likely always be the same.  It is basically a CMS, and I need to determine whether the path actually exists or to let it drop to default handling or return a 404.

As far as the `MapRoute` - I'm not calling it again.  I'm calling `Add` from within it.  Because `TemplateRoute` impleme

[2016-07-19 16:01] rynowak commented on #344
`TemplateRoute` was renamed to `Route` https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/Route.cs

[2016-07-19 16:06] hauteur commented on #344
Thanks for the reply.

That makes sense.  I think what was throwing me is that there is a class called `RouteTemplate` and `Route` doesn't have a `RouteAsync` method.  I'm guessing that it was changed to `OnRouteMatched` then.

I will give that a try.  Thank you so much for your help.

[2016-07-19 16:32] rynowak commented on #344
I'm going to close this for now then since I've answered your question. Please reopen or create a new issue if you need anything else :+1:

[2016-07-19 16:32] #344 closed

[2016-07-19 16:58] Eilon commented on #340
Ah, yes, that's quite cumbersome.

What is the scenario for it? We will likely put on backlog until we see specific customer demand for it.

[2016-07-19 17:21] hauteur commented on #344
That's what it was.  Thank you so much!

[2016-07-19 18:02] Eilon commented on #328
Will wait for customer demand.

[2016-07-22 20:48] Eilon commented on #326
I'm ok if we consider throwing in 2.0.0.

Are there any remaining issues to fix in 1.0.1 / 1.1.0? Or did we already fix all the major issues around this?

[2016-07-22 23:14] javiercn opened #346 "Port fix for "Request not matching route with defaults" to 1.0.1"
Original bug for 1.1.0: https://github.com/aspnet/Routing/issues/324
Original PR: for 1.1.0: https://github.com/aspnet/Routing/issues/324

[2016-08-02 09:48] #203 closed

[2016-08-02 18:20] javiercn commented on #346
@Eilon Are we doing this or can we close it?

[2016-08-02 20:10] Eilon commented on #346
Don't know yet, am working on approval for it.

[2016-08-03 19:10] ajaybhargavb opened #348 "Need to rewrite/refactor TemplateBinder to reduce RouteValueDictionary allocation"
Original issue - https://github.com/aspnet/Mvc/issues/4593#issuecomment-218627205

We want to have a cleaner fix than what we have in https://github.com/aspnet/Routing/pull/314

@rynowak @Eilon

[2016-08-04 12:55] xaviergxf opened #350 "How to Get Route Data from URL"
Hi,

   How can i get the route information from a url passed by a parameter into an action of a controller?

Thanks!

[2016-08-04 14:59] rynowak commented on #350
Does this do what you want?

[code]

If not can you provide more info about where your code is running and what you want to do with the data?

[2016-08-04 17:22] xaviergxf commented on #350
Hi Ryan,

   Here's an example:

class MyController: Controller{

    [MyAttribute]
    public void Test1()
    {
    }

    public void Test2(string url)
   {
       //let's say url="http://localhost:8642/My/Test1?query=query"
       // I want a function that retrieves Route["Test1"] to be able to use
reflection and get MyAttribute.
   }
}

Thanks

Xavier Eric Moura Klausener
xaviergxf@gmail.com

[2016-08-04 17:29] rynowak commented on #350
I'm assuming based on the description that you're using something like the default conventional route `{controller}/{action}/{id?}` - is that right?

In this case, matching the URL `http://localhost:8642/My/Test1?query=query` would produce the route- values `{ action = "My", controller = "Test1" }` so `RouteValues.Values["action"]` would return `"Test1"`.

Regarding retrieving the attribute, that'

[2016-08-04 17:39] xaviergxf commented on #350
Hi Ryan,

  But doing RouteValues.Values["action"] is to get the current method
"action" value. Is there a function like RouteValues.Parse(url) which
retrieves me route values?

Thanks

Xavier Eric Moura Klausener
xaviergxf@gmail.com
+41774573651

On Thu, Aug 4, 2016 at 7:29 PM, Ryan Nowak <notifications@github.com> wrote:

[2016-08-04 18:02] rynowak commented on #350
so if I understand correctly you want to parse a URL using the same functionality routing uses? [TemplateMatcher](https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/Template/TemplateMatcher.cs) should do what you want

[2016-08-04 18:19] xaviergxf commented on #350
Thanks Ryan! I'll test it tomorrow :)

Xavier Eric Moura Klausener
xaviergxf@gmail.com
+41774573651

On Thu, Aug 4, 2016 at 8:02 PM, Ryan Nowak <notifications@github.com> wrote:

[2016-08-08 06:51] xaviergxf commented on #350
Hi Ryan,

  I tested and managed to make it work. Here's the method if anyone wants to do the same:

`protected RouteValueDictionary GetRouteValuesFromUrlOrReferer(string url = null)
        {
            if (url == null)
            {
                if (!this.HttpContext.Request.Headers.ContainsKey("Referer"))
                    throw new Exception("url parameter not delivered and Referer heade

[2016-08-11 19:46] danroth27 opened #351 "Error message incorrectly references RouteCollection when you don't set the default handler on RouteBuilder"
If you don't set the default handler on RouteBuilder and then call MapRoute then you get the following error message:

A default handler must be set on the RouteCollection.

I think that should say RouteBuilder, not RouteCollection.

[2016-08-12 14:52] rynowak commented on #351
Yes, you are correct that this is wrong

[2016-08-15 10:30] dodyg opened #352 "Question: Nested routes"
I expected that '/hello/world' would return "Hello World" but it does not match. What is the correct way to implement a nested route? I read it in the [documentation](https://docs.asp.net/en/latest/fundamentals/routing.html) but it never gives example.

[code]

[2016-08-15 15:46] dodyg opened #353 "Adding new Route() to Routes.Add() generates exceptions at runtime"
[code]

[2016-08-15 15:48] dodyg commented on #353
Exception at ```dotnet run```

[code]

[2016-08-15 15:49] dodyg commented on #353
Never mind - read the error.

[2016-08-15 15:49] #353 closed

[2016-08-16 10:01] DaveVdE commented on #210
If URLs are case-sensitive, why is literal matching done with `OrdinalIgnoreCase`?

[2016-08-16 18:19] Eilon commented on #210
URLs are technically case-sensitive as far as the person *constructing* the URL is concerned, but it's up to a web server to interpret a URL however it wants. So, in the case of ASP.NET, the routing system is entirely case-insensitive.

[2016-08-25 20:04] #346 closed

[2016-08-25 21:40] javiercn opened #357 "Fix behavior when optional parameters are defined within a route and not at the end"
https://github.com/aspnet/Routing/issues/326

We create the incorrect tree. We should remove the optionality for route matching when we create the attribute route tree.

[2016-08-25 22:45] javiercn commented on #357
After doing some further investigation the E2E behavior is expected here. The optional parameter will be ignored during route matching. And for route generation it will only be considered as a default value. So for example, given the template

```/a/b/{c=3}/d```
It will only match routes like
```/a/b/c/d```
```/a/b/e/d```

and at link generation time, it will generate the route
```/a/b/3/d```

The

[2016-08-25 22:46] javiercn commented on #357
@rynowak @Eilon

[2016-08-26 15:14] rynowak commented on #357
I don't get what you're saying - are you saying that the behavior in 1.0.0 is correct or incorrect?

[2016-08-26 23:32] Eilon commented on #357
I think this bug just needs to be closed, no?

[2016-08-27 01:37] javiercn commented on #357
@rynowak still wants to fix the behavior on treeroutebuilder.

[2016-08-29 17:25] rynowak commented on #357
We build the wrong data structure, and then rely on the implementation details of another part of the code to bail us out.

[2016-08-30 04:42] Eilon commented on #357
Well that sounds just dandy 😄 Indeed, let's clean that up... And we're sure we have enough test coverage for this now?

[2016-08-30 18:20] #351 closed

[2016-09-01 21:09] rynowak opened #359 "Routing is matching empty segments to parameters and defaults are wrong"
Consider the following:
[code]

This should match a url like `/` or `/10` or `/10/20` or `/10/20/30`

However with a URL like `///hi` this will match. And the output will be `b - c - hi`. That is, the parameter `a` gets the default value `b` and is able to match an empty string.

[2016-09-09 15:24] dodyg opened #362 "Question: TemplateMatcher and InlineConstraint"
Does TemplateMatcher ignore the InlineConstraints specified in a TemplatePart by design?

[code]
The templateMatcher at above code  will return true for both `/page/10` and `/page/BBB`.

Full code is [here](https://github.com/dodyg/practical-aspnetcore/tree/master/routing-9)

[2016-09-09 15:30] rynowak commented on #362
TemplateMatcher doesn't run constraints. See what routing does here: https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/RouteBase.cs#L107

[2016-09-10 07:16] dodyg commented on #362
OK thanks.

[2016-09-10 07:16] #362 closed

[2016-09-11 05:27] Daniel15 opened #363 "Slashes incorrectly encoded when building URL with catchall param?"
Consider this controller:

[code]

When you hit `http://example.com/foo/some/url`, ASP.NET MVC Core will display:

[code]

Whereas ASP.NET MVC 5 will display:

[code]

Notice that the URL returned by `Url.Action` encodes `/` as `%2F`, whereas the previous MVC version did not do this.

Is this an expected change? If so, how do I render the URL such that the slash is **not** encoded?

[2016-09-11 23:56] Eilon commented on #359
Let's add like a million tests for these cases...

[2016-09-19 10:14] atrauzzi opened #364 "Improvements to MapVerb and friends..."
They're close to being useful, but I feel like they are still limited in application.  What is needed is a way to define a name, the template, the controller and the action without having to resort to the anonymous types every time.

Right now in one of my projects, I define a set of extension methods as follows:

[code]

My `AddVerb` is similar in intention to `MapVerb`, except that it uses `MapR

[2016-09-19 10:17] davidfowl commented on #364
This belongs in MVC not routing.

[2016-09-19 11:34] atrauzzi commented on #364
One day, I'm going to know all the right repositories. :)

[2016-09-19 11:34] #364 closed

[2016-10-03 22:34] #359 closed

[2016-10-03 23:40] Eilon commented on #359
Done?

[2016-10-04 02:33] #357 closed

[2016-10-04 16:48] Mukesh-Joshi commented on #293
@dlebedynskyi I faces same issue due to favicon. It keep calling the default route defined in startup. I blocked that via creating a static file middleware. It at least blocked the calls to default route.

[2016-10-04 16:53] Mukesh-Joshi commented on #293
@SteveSandersonMS I am not sure if it's the correct thread, but I am having a different kind of issue. When I added a route Route[{string1}/{string2}] on my mvc controller's action, and my controller already has a route["ABC/"], my svg icons are taking ABC/svg/abc.svg path.

This is only present for the icons which I am loading dynamically through JS. It seems that react component is taking path f

[2016-10-04 18:33] rynowak commented on #293
@Mukesh-Joshi - please open a new issue with a code sample rather than tacking on to existing issues

[2016-10-11 22:20] DamianEdwards opened #367 "Add extensions for super simple HTTP service application building"
Some people want to have as little code as possible in a single file (`Program.cs`) to stand up very simple HTTP services (no, I won't say "micro-services").

In other platforms (Go, Node, etc.) it's generally very easy to get an HTTP server up with some basic dispatching to various request-handling functions based on URL path. Doing this in ASP.NET Core today requires slightly more ceremony (Usin

[2016-10-12 12:37] dustinmoris commented on #367
Hey, I saw this watching yesterday's standup today and think this is a brilliant idea. Can I suggest to add an overload which defines the handler as `Func<HttpContext, RouteData, Task>` or even just `Func<HttpContext, Task>`?

[2016-10-12 15:04] DamianEdwards commented on #367
@dustinmoris yep agreed, would be nice to have that one too. Not sure about going all the way to just `Get`, `Post`, etc. methods. Of course, nothing stopping anybody from creating those extensions methods themselves 😄

[2016-11-27 04:20] #100 closed

[2016-11-27 04:20] #47 closed

[2016-11-27 04:22] Eilon commented on #343
@rynowak anything further required here? Or just close?

[2016-11-27 04:23] Eilon commented on #367
@kichalla can you work with folks on finalizing a design, and then implement?

[2016-11-27 04:26] Eilon commented on #352
@kichalla can you figure out why this isn't working? At a glance, it seems like it should...

[2016-11-27 04:27] Eilon commented on #321
@rynowak any thoughts on the priority of this? What would make us want to implement this?

[2016-11-28 16:19] dlebedynskyi commented on #47
@Eilon  great resolution. good job. too a lot of work I assume

[2016-11-28 19:57] kichalla commented on #367
cc @rynowak

[2016-11-28 20:02] rynowak commented on #367
@DamianEdwards - we already have a bunch of extensions with similar flavour on `IRouteBuilder`. Hopefully what's there is a good match for what you had in mind or else it's going to get confusing.

[2016-11-28 22:35] rynowak commented on #321
I think user-demand would raise the priority of this. We made some late changes to 1.0.0 in this area and took away a "feature" that acts a lot like a delegating handler.

So far there haven't been any concrete asks for something like this.

[2016-11-28 22:39] rynowak commented on #352
This won't work because nothing in the system 'chops' the path on `HttpContext.Request.Path`. When the second route runs the path is still set to `/hello/world`.

We built an example (not a full sample) of what you would need to do: https://github.com/aspnet/Routing/blob/dev/samples/RoutingSample.Web/PrefixRoute.cs

[2016-11-28 22:43] rynowak commented on #343
Sorry, I should have tagged this as a question. This should be closed, you still get the same information by checking `Handler != null`

[2016-11-28 22:43] #343 closed

[2016-11-28 23:25] Eilon commented on #352
Oh, I thought that the `MapXyz` methods trim the start and treat it as a PathBase, and the Path ends up having the "remainder." So that's not the case?

cc @Tratcher

[2016-11-28 23:25] Eilon commented on #352
Oh wait I just realized that this is MapGet, not the "core" Map APIs. Do they all behave the same? Or do some work one way, and the others another way?

[2016-11-28 23:27] Eilon commented on #321
Parking in Backlog for now. Will close if we don't hear more on this.

[2016-11-28 23:39] Tratcher commented on #352
@Eilon  you're thinking of IApplicationBuilder.Map(PathString,...). Not sure what MapGet does.

[2016-11-28 23:40] rynowak commented on #352
Yep. Nothing in routing does this.

[2016-11-29 00:27] Eilon commented on #352
Oh duhhhhhh, every time I look at the code I see something new 😄 None of this is IApplicationBuilder at all!

So, this is by design.

[2016-11-29 00:27] #352 closed

[2016-11-29 18:55] SonicGD commented on #363
Have same problem right now. Any news on this? @Daniel15, did you bypass it somehow?

[2016-11-29 19:36] Daniel15 commented on #363
I never got time to look into it, these routes on my site are still broken 😞

[2016-11-30 17:21] SonicGD commented on #363
So i did some investigation... Character encoding happens in https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/Internal/UriBuildingContext.cs#L100

and UrlEncoder always filters '/' char - https://github.com/dotnet/corefx/blob/master/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/UrlEncoder.cs#L125

I don't see any way to configure or disable this behavior.

[2016-11-30 17:58] SonicGD commented on #363
Also, even if i generate correct url - i doesn't match route. ex:

[code]
where `catPath` is path like 'video/others'.

Only workaround i found is to use catchall param and then parse it with regex. And it looks ugly :cry:

[2016-12-01 10:48] funkynicco opened #369 "[Feature request] SEO/Slug Regex Constraint Groups"
Hi. This is a feature request proposal for fetching regex group values from the regex inline binding constraint.

*Apologize in advance if this feature request belongs to Mvc repository. Routing appears to be the correct department.*

In SEO/Slug urls, you'll often have something like
`/article/294-this-is-the-title`
where the only relevant part for the code here is `294` which is the ID of the ar

[2016-12-05 21:02] rynowak commented on #369
Routes can already use 'complex' segments where a path segment (the part between the slashes) is split up according to some arbitrary logic.

It seems like you could do something like this `/{controller}/{id}-{ignoreme}`

The `ignoreme` route value would capture all of the parts of the URL that don't want

[2016-12-09 23:20] Tratcher opened #370 "[Routing]Raw route values should be restored after template binder failing binding values when generating a url"
_From @anobaka on December 6, 2016 7:20_

### Minimal repro steps
1. Create a sample .net core web application.
2. Modify the `app.UseMvc...` line to:
[code]
3. Add `TestController` and an `Index` action in it.
4. Add `var a = Url.Action("Index", "Test");` in `Index` Action of `HomeController`.
5. Run app and visit `/`.

### Expected result
local variable `a` should be `/Test`

### Actual result
t

[2016-12-10 00:39] javiercn commented on #370
@rynowak

[2016-12-11 17:02] DeadSith commented on #363
The only way to bypass it now is to set urls in a tags using href, not built-in tag helpers. It makes it harder to refactor code, but at least you get good-looking urls.

[2016-12-12 19:29] rynowak commented on #370
@Eilon - we should investigate this, if there's a bug here this is a good 1.1.1 candidate.

[2016-12-17 22:04] vaindil opened #373 "Using square brackets in regex constraints"
I have a controller that accepts either an ID or a string at a given endpoint. I have the ID function set correctly using `api/departments/{id:long}`, but I cannot figure out how to route to the string endpoint. The `alpha` constraint is not enough as the string can contain numbers.

I'm trying to use this route to accept any valid string but require that the first character be a letter.

[code]

[2016-12-18 01:11] dougbu commented on #373
Escape (double) the special characters: `^[[a-zA-Z]]{{1}}[[a-zA-Z0-9_]]*$`. Since matches are not case-sensitive and `{1}` is unnecessary, `^[[a-z]][[a-z0-9_]]*$` works too.

That said, we should improve the message in this case. An un-escaped curly brace leads to an informative message:
[code]
`AttributeRouteModel` currently ignores curly braces when handling square brackets and the
[code]
messag

[2016-12-18 01:36] vaindil commented on #373
Oh that's awesome. Not sure how I looked at it so many times and didn't see the `{1}` being unnecessary, heh, and I didn't realize even regex matches are not case-sensitive for routing. Thank you so much, especially for helping on a Saturday night!

Would it be helpful to include this in the routing docs? I can open an issue if it would help. I scoured that page to find the info; this issue was my

[2016-12-20 23:08] Eilon commented on #369
No plans to implement this feature because there are already pretty decent ways to implement this.

[2016-12-20 23:08] #369 closed

[2016-12-20 23:09] Eilon commented on #186
No plans to implement this feature.

[2016-12-21 18:26] #367 closed

[2016-12-21 18:46] Eilon commented on #367
Done?? 😄

[2016-12-29 01:02] Eilon commented on #373
Yeah definitely something we can improve.

I think the fixes are:

* [ ] Add a period to the end of the `In a route parameter, '{' and '}'  ...` message
* [ ] For the `While processing template 'foo', a replacement value ...` message, add a blurb about how to escape `[` and `]`. Use something similar (but not identical) to the `An unescaped '[' token` message (because you can't know at this time t

[2016-12-29 02:53] Eilon commented on #373
Here's my PR to improve the docs if anyone wants to take a look: https://github.com/aspnet/Docs/pull/2450

[2016-12-29 19:05] Eilon commented on #370
I'm able to reproduce this and it definitely looks wrong.

[2016-12-29 19:13] kichalla commented on #370
Looking into it now...

[2017-01-05 21:14] kichalla commented on #373
755d4368400902b44d751e6a8cab5f4587671ca8

[2017-01-05 21:14] #373 closed

[2017-01-06 04:58] Eilon commented on #293
@SergeyBarskiy I think you could use routing with a route that captures some particular pattern, which when it matches will run a middleware component that always returns a 404. Is that essentially what you want?

Not sure what the connection is to the StaticFileOptions class though... ?

[2017-01-08 21:50] SergeyBarskiy commented on #293
@Eilon True, but it just seems weird to handle static files requests in MVC middleware.  I think adding an option to static files configuration to specify request patterns that must be handled by static files middleware would enable it to throw 404 when a file is missing instead of just not handling the request.

[2017-01-09 18:38] Eilon commented on #293
The static files middleware doesn't ever return a 404 as far as I know. Usually the only thing that returns a 404 is the host itself, in the case where no other middleware handled the request.

That is, the middleware pipeline works like this:

1. Static files
 * If a static file matches, return it
 * Otherwise, do nothing and let the next middleware run.
2. MVC
 * If a controller action matches,

[2017-01-10 23:12] Eilon commented on #370
@kichalla - is this fix for 1.1.1? If so, it's fine to merge for 'dev', but we need the bug to remain open so we can track for 1.1.1...

[2017-01-10 23:16] kichalla commented on #370
Yeah, it was for 1.1.1 and was merge to 'dev'. Sure, reopening it.

[2017-01-10 23:47] Eilon commented on #370
Understood, thanks!

[2017-01-19 18:29] Eilon commented on #370
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-23 06:37] rynowak opened #377 "Performance Ideas for Attribute Routing"
We should improve the performance of attribute routing. We did some work in 1.0.0 to implement a scalable algorithm, but we didn't really do any optimization work on the code.

For perspective, the routing part of MVC (routing + action selection) can be up to 30-40% of time spent in various techempower benchmarks. This is an area where we can probably improve much more as we haven't done much besi

[2017-01-23 06:38] rynowak commented on #377
/cc @davidfowl @benadams for weird science

[2017-01-23 20:11] jchannon opened #378 "Rename "Map" methods to HTTP verbs in RequestDelegateRouteBuilderExtensions"
In this file we have `MapGet`, `MapDelete`, why not just make them `Get, Delete` etc?

[2017-01-26 17:46] Eilon commented on #378
@jchannon they're there to align with the various other `MapXyz` APIs that we have elsewhere. Also, we generally follow the .NET Framework Design Guidelines that recommend having a proper verb stating what the method is doing. (Yes, get/delete/etc. are also verbs, but in this context they are nouns.) Without the verb `Map` it would look a little like the method call is *getting* something or *dele

[2017-01-26 17:46] #378 closed

[2017-01-26 18:05] jchannon commented on #378
They would be getting/deleting something.

On Thu, 26 Jan 2017 at 17:46, Eilon Lipton <notifications@github.com> wrote:

[2017-01-26 23:46] Eilon commented on #378
@jchannon yes, but the methods themselves aren't getting/deleting anything. Rather, they're creating a mapping so that later an HTTP request can get/delete something.

[2017-01-27 09:21] jchannon commented on #378
What is this doing then? You have a GET for /contacts that returns a list of contacts. `r.Get` makes it clearer to me what is going on. The `Map` prefix is superfluous

[code]

[2017-01-27 09:27] davidfowl commented on #378
It's not though. It's like calling it `r.OnGet`. You're registering a callback that will be invoked on a GET request.

PS: I know you just want it to look like nancy 😛

[2017-01-27 09:30] jchannon commented on #378
Exactly a callback `r.Verb(route, callback)`

PS : I know you do too, it would make the world a better place, you know it, I know it, we all know it 😄

![you_know_it_boom](https://cloud.githubusercontent.com/assets/105126/22366174/340890e8-e473-11e6-9b37-1e69cf625011.gif)

[2017-01-27 10:08] grumpydev commented on #378
If you're following the naming guidelines shouldn't it be MapGetAsync ? :trollface:

[2017-01-27 10:19] davidfowl commented on #378
No because the method itself isn't async. The callback is.

[2017-02-06 20:52] Eilon opened #380 "Consider adding a way to use strict comparison for routes matching"
_From @PinpointTownes on February 6, 2017 4:3_

http://stackoverflow.com/questions/42048770/asp-net-core-openiddict-throws-an-openid-connect-response-cannot-be-returned-fr

Consider this action:

[code]

Oddly, either the routing stack or MVC seems to consider `/path/` requests as valid candidates for this route/action, which is incorrect as `/path` and `/path/` are two different addresses.

Is th

[2017-02-06 20:52] Eilon commented on #380
_From @PinpointTownes on February 6, 2017 7:31_

After some research, it looks like it matches what ASP.NET MVC and Web API used to do (but not WCF Web API, AFAICT), so I guess it's one of those "by design" decisions.

Unfortunately, this behavior makes the routing stack pretty much inconsistent with the rest of ASP.NET Core, where path comparisons take the trailing slash into account (e.g all the

[2017-02-06 20:55] Eilon commented on #380
@PinpointTownes the reason right now is historical: ASP.NET's Routing always ignored trailing slashes. But then the historical reason is that we found for almost all cases where Routing is used, the difference is insignificant.

Having said that, I fully agree that the two URLs are different - then again, URLs that vary by case are different as well, yet Routing is case-insensitive. And then there

[2017-02-07 20:25] rynowak commented on #380
IMO this is crazy. Yeah I know that I'm not helping 😆

[2017-02-07 21:38] Eilon commented on #380
While we're at it, let's abolish the concept of casing in languages! What purpose does casing really serve?? :trollface:

[2017-02-09 13:13] lszomoru opened #381 "Web api - conventional routing instead of attribute routing"
At the moment the Web Api project template contains a ValuesController which uses the following attribute for routing - [Route("api/[controller]")]. For prototyping purposes, I was trying to get rid of this attribute route and replace it with a MapRoute call in Startup.cs without much luck. The following code does match the first "Get" action, but not the others.

[code]

Any help would be highly

[2017-02-09 21:47] rynowak commented on #381
There's no reason why you can't use traditional routing (`MapRoute`) instead of attribute routing for an API.

We really strongly recommend using attribute routing for APIs because it gives you fine grained control over your URL surface. You also can run into scaling problems if you write many routes using `MapRoute` to try and accomplish the same thing.

================

You should take a look a

[2017-02-09 23:20] Eilon commented on #370
@kichalla does this just needs to be Closed/3-Done now? The change is already in the right branch?

[2017-02-09 23:20] Eilon commented on #370
Oh wait nevermind we need to port the commit, so there's actual work here.

[2017-02-09 23:31] kichalla commented on #370
The fix was already merged back (3rd Jan) into 'dev' if that is what you mean: https://github.com/aspnet/Routing/commits/dev

[2017-02-09 23:47] Eilon commented on #370
Ah that's right, so we effectively just need to port it.

[2017-02-09 23:50] pranavkm commented on #370
@Eilon, the change is in https://github.com/aspnet/Routing/tree/rel/1.1.1 and in the dev branch. Doesn't look like we need to do anything more.

[2017-02-09 23:52] Eilon commented on #370
Oh weird... we had a 1.1.1 branch for that long? That's cool.

[2017-02-09 23:53] Eilon commented on #370
@kichalla if you agree with the facts, it sounds like you can just close this!

[2017-02-09 23:56] rynowak commented on #370
I'm interested to see if he does. He likes Pepsi

[2017-02-10 00:07] kichalla commented on #370
:-)

[2017-02-10 00:07] #370 closed

[2017-02-10 07:01] lszomoru commented on #381
@rynowak, thanks for getting back to me on this. Yes, I have found the documentation and I have been reading up on this yet, I was not able to come up with a `MapRoute` statement which could replace the `[Route("api/[controller]")]` attribute route. I was thinking that I might have to use `MapGet` but I could not get that to work. Any code samples would be highly appreciated.

Let me try to give y

[2017-02-10 07:26] rynowak commented on #381
There isn't really a way to use `MapRoute(...)` to say the same thing as `[Route("api/[controller]")]` and `MapRoute("api/{controller}/{action}")` when we're talking about routing. There really isn't an equivalency here, they are made of different stuff.

`[Route("api/[controller]")]` is token substitution, the name of the controller (let's say `ProductsController` is the class name) gets substitu

[2017-02-10 07:47] lszomoru commented on #381
@rynowak, thanks for your guidance. Will go with the attribute route + application model option.

[2017-02-10 07:47] #381 closed

[2017-02-11 11:19] PinpointTownes commented on #380
Sorry for the late reply :sweat_smile:

True, but the big "problem" with how trailing slashes are handled is that there's no consistency across the stack, which led to the bug reported in the SO question: `PathString.Equals` uses the case-insensitive ordinal comparer by default - which matches what Routing does - but considers `/path` and `/path/` as different paths while Routing treats `/path`, `

[2017-02-13 05:54] Eilon commented on #380
@PinpointTownes yup, understood.

[2017-02-22 00:23] vbsathya opened #387 "How to get route template for logging purpose?"
I have a middleware that is called for every request to my APIs. I want to log the route template along with the duration of the request from this middleware. How to get route template in my middleware code? Route template is something like "/products/{productId}".

[2017-02-22 14:48] vbsathya commented on #387
I got this working using a workaround. The details can be found here in this SO question. http://stackoverflow.com/questions/42380514/asp-net-core-getting-routetemplate-value-from-middleware

[2017-02-22 14:48] #387 closed

[2017-03-05 21:54] AlexZeitler commented on #279
I'm facing this as well on macOS using Kestrel:

[code]

[2017-03-06 00:43] Eilon commented on #279
Hi @AlexZeitler that looks like it might be some other issue - can you log a new issue w/ info on what your project file and startup.cs file have?

[2017-03-06 08:56] Edward-Zhou commented on #381
@lszomoru Will below code work for you by "https://localhost:44387/api/values/getbyid/1"?
Rourting
[code]
ValuesController
[code]
**Note, remove all of the Attribute route.**

[2017-03-16 00:03] natemcmaster opened #390 "Upgrading tests to Moq 4.7 causes runtime errors"
**Repro**
Change `<MoqVersion>` in dependencies.props to 4.7.1.
Run tests

**Error**
[code]

[2017-03-19 05:54] Daniel15 opened #391 ""Multiple actions matched" for controller in area on Mono"
After upgrading from .NET Core 1.0 to 1.1.1, I'm hitting this error on Mono:
[code]

However, the exact same controller works fine on .NET Framework 4.5

The controller does not even have a `Dispose` method so I have no idea why the routing is picking it up :/

Controller source code: https://github.com/Daniel15/Website/blob/4aeb709b11db77543f16ef41b9018a3fb48de066/Daniel15.Web/Areas/Admin/Control

[2017-03-19 17:56] rynowak commented on #391
Thanks for reporting this. `Controller` has a dispose method, mostly for back-compat. We have some code in particular to avoid considering `Dispose` and action, but it looks like there are some subtle reflection differences on mono.

[2017-03-20 04:30] Daniel15 commented on #391
Where is that code located? I could try to debug it and see why it's not working properly.

For what it's worth, I'm only seeing this for one controller in the app. Other controllers are working fine 😕

[2017-03-20 14:53] rynowak commented on #391
Now that's really strange..

Code is [here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Internal/DefaultApplicationModelProvider.cs#L630), note that we fixed a bug in this code in `1.1.0` #5352

[2017-03-21 21:39] rclabo commented on #380
The situation where /path and /path/ are considered the same by the Asp.Net Core route engine is also problematic from and SEO perspective.  Google considers these two different end points (which of course they are) and if they return the same content Google will considers this a "Duplicate Content" issue and will reduced the ranking of these pages in the search results (which as you can imagine h

[2017-03-21 23:38] Eilon commented on #380
@rclabo yup, that's something we'd want to consider here for sure.

[2017-03-22 05:02] Daniel15 commented on #391
Very strange... I made a small test console app:
[code]

The output when running it on Windows is what you'd expect:
[code]

However, the output on Mono is odd. The "regular class" is fine, but for the Controller, the `baseMethodInfo` is not equal to `TargetMethods[0]`. 😕

[code]

I suspect it's a Mono bug, but I'm confused as to why I can't repro it with a standalone class.

However, even conside

[2017-03-22 05:06] Daniel15 commented on #391
So this does look like a Mono bug with `GetRuntimeInterfaceMap` combined with inheritance

However, even considering that... Why would the route even be matching `Dispose`? I'm using attribute routing, the Dispose method is not decorated with any route attribute, and my URL doesn't have `Dispose` in it anywhere (the URL being hit is `/blog/admin`). This is the full controller: https://github.com/D

[2017-03-22 05:18] Daniel15 commented on #391
Mono bug reported: https://bugzilla.xamarin.com/show_bug.cgi?id=53690

[2017-04-03 13:31] rclabo commented on #380
I wrote up the duplicate content issue and a workaround here: http://stackoverflow.com/questions/42929370/how-to-require-directory-trailing-slash-when-using-asp-net-core-attribute-based

[2017-04-06 20:57] timmydo opened #394 "ArgumentException: An element with the key '(key)' already exists in the RouteValueDictionary."
Hello, I'm trying to use attribute routing and either things are broken or I'm not getting it. Here is a sample controller

[code]

If I make a request to any endpoint, I see this error:
[code]

[2017-04-06 20:59] timmydo commented on #394
@rynowak

[2017-04-07 21:02] rynowak commented on #394
What version is this on? We addressed a similar bug here https://github.com/aspnet/Routing/issues/370

[2017-04-07 21:09] timmydo commented on #394
aspnetcore.mvc 1.1.1

[2017-04-07 22:26] rynowak commented on #394
@Eilon - we should investigate this. If there's an issue here it's a potential path candidate.

[2017-04-08 19:42] rizwanse commented on #268
**I modified the code a bit here:**
[RoutePrefix("Home")]
[Route("{action}")]
public class HomeController : Controller
{
      [Route("~/")]            // GET /
      [Route]                     // GET /Home
      [Route("Index")]       // GET /Home/Index
      public ActionResult Index() => View();
 }

[2017-04-09 02:53] Eilon commented on #394
@SteveSandersonMS can you investigate, and also see if perhaps there's a workaround for this?

[2017-04-09 14:33] kichalla commented on #390
This happens only for net46 tfm and to repro, just do `var httpContext = Mock.Of<HttpContext>();`

[2017-04-10 13:09] SteveSandersonMS commented on #394
@timmydo thanks for reporting this! Confirmed as a bug, with fix submitted as PR #395.

As a workaround, you could use different parameter names in your route entries, e.g.,

[code]

i.e., as a temporary workaround, don't use the same key name `environment` for both. Sorry for the inconvenience!

[2017-04-11 14:38] #394 closed

[2017-04-11 15:21] rynowak commented on #377
This test is now checked in here: https://github.com/aspnet/Routing/tree/dev/test/Microsoft.AspNetCore.Routing.Performance (without the new experimental implementation)

[2017-04-11 15:22] timmydo commented on #394
Thanks.

[2017-04-11 15:31] Eilon commented on #394
@SteveSandersonMS  - `3 - Done`? 😄

[2017-04-13 12:07] jchannon opened #397 "MapHead"
Is there a MapHead extension planned with MapGet etc? I have tried on a MapGet to set the ContentLength header and set the response.Body to empty but this makes the response return early before I can clear the body and just return the headers i.e on a HEAD you just want headers and ContentLength included

[2017-04-13 12:52] jchannon commented on #397
I'm referring to these extensions https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Routing/RequestDelegateRouteBuilderExtensions.cs

[2017-04-13 14:48] rynowak commented on #397
We didn't have any immediate plans for this, but we'd take a PR or add it ourselves if there's enough demand.

For now you can add your own extension method or use `MapVerb` directly. See: https://github.com/aspnet/Routing/blob/20967cfa76913ee7acfe6d737877fa0af3c11e11/src/Microsoft.AspNetCore.Routing/RequestDelegateRouteBuilderExtensions.cs#L104

[2017-04-13 15:17] jchannon commented on #397
I'm happy to do that. I'm just not sure how you go about clearing the
response body but setting the ContentLength header to what it should be.
Any ideas?

On Thu, 13 Apr 2017 at 15:48, Ryan Nowak <notifications@github.com> wrote:

[2017-04-13 15:29] rynowak commented on #397
It sounds like what you're trying to do is something different. These methods just control what URLs and HTTP methods go where.

It's up to the app developer to implement the HEAD operation

[2017-04-13 15:30] jchannon commented on #397
OK Thanks

On 13 April 2017 at 16:29, Ryan Nowak <notifications@github.com> wrote:

[2017-04-13 15:30] #397 closed

[2017-04-13 15:36] jchannon commented on #397
Where would be the best place to ask how to convert a GET to a HEAD?

On 13 April 2017 at 16:30, Jonathan Channon <jonathan.channon@gmail.com>
wrote:

[2017-04-13 15:40] rynowak commented on #397
If you're just trying to prevent sending the body, write a middleware that replaces the `HttpContext.Response.Body` with a stream that no-ops, and then set `HttpContext.Response.ContentLength = 0`

[2017-04-13 16:02] jchannon commented on #397
Not quite, I think I have it working how I want.

Essentially I've written a little lib over the top of the MapVerb extension
and so users can defined GET funcs and if they do a HEAD on the same route
I wanted it to execute the GET func set the content length header but clear
the body.  So I've essentially added and if statement to check if
req.Method == HEAD and if so set res.Body = new MemoryStr

[2017-04-13 16:03] jchannon commented on #397
Not quite, I think I have it working how I want.

Essentially I've written a little lib over the top of the `MapVerb` extension
and so users can defined GET funcs and if they do a HEAD on the same route
I wanted it to execute the GET func set the content length header but clear
the body.  So I've essentially added and if statement to check if
req.Method == HEAD and if so set `res.Body = new Memory

[2017-04-13 16:14] rynowak commented on #397
yep

[2017-04-13 16:31] davidfowl commented on #397
@jchannon What server are you using?

[2017-04-13 16:35] jchannon commented on #397
Kestrel

On 13 April 2017 at 17:31, David Fowler <notifications@github.com> wrote:

[2017-04-13 16:38] jchannon commented on #397
I'm looking at Nancy with Kestrel and interestingly on a HEAD with Nancy it will set the Content-Length header but using CURL & Postman, Kestrel is not returning that header on a HEAD

[2017-04-13 17:51] jchannon commented on #397
Have raised an issue for Nancy here https://github.com/NancyFx/Nancy/issues/2734

However I'm not entirely sure whether the Content-Length should be set when `Transfer-Encoding: chunked` is defined which I think Kestrel does by default ???

[2017-04-13 18:12] jchannon commented on #397
Interestingly on a normal GET request with the MapGet extension `Transfer-Encoding: chunked` is returned yet in my HEAD implementation it isn't returned. Is that because I'm using a `MemoryStream` and the default `FrameResponseStream` sets the `Transfer-Encoding: chunked` by default?

[2017-04-13 18:53] jchannon commented on #397
Interestingly when a GET is called headers returned are Date/Server/Transfer-Encoding but on a HEAD it's just Date/Server but CURL then stalls with `no chunk, no close, no size. Assume close to signal end`

[2017-04-13 18:57] rynowak commented on #397
At this point I'd suggest opening an issue on https://github.com/aspnet/KestrelHttpServer - this seems worth looking into.

[2017-04-18 05:11] ryanfrawley opened #398 "TemplateMatcher relies on PathString type as input which limits its functionality to url paths"
I'm using the TemplateMatcher to build tenant/subdomain functionality in my 1.1 core project. Due to the TemplateMatcher function TryMatch relying on a PathString instead of a regular String as input, I can only use relative paths beginning with a "/". My actual input is "test.example.com". Because it does not begin with a slash, I get an exception when TemplateMatcher tries to instantiate the inp

[2017-04-20 20:27] kichalla commented on #390
Filed: https://github.com/moq/moq4/issues/340
cc @pranavkm

[2017-04-21 00:08] kichalla commented on #390
2388cca5ac7e8ab83f4c7b46145c90e9966403a7

[2017-04-21 00:08] #390 closed

[2017-04-21 10:43] ankgupta067 opened #400 "ApiControllerActionSelector equivalent in Asp .net MVC core"
hi,
we are migrating from web api to asp .net mvc core , i had an action selector in web api , in which if anyware in url "$" symbol exist we used to invoke a specific method in controller.
this functionality we achieved in web api using ApiControllerActionSelector  below was the code to do same in web api -

[code]
I am not able to find an equivalent way to do same in Asp .net mvc core , i tried

[2017-04-30 06:01] Daniel15 commented on #363
This is still broken :(

I worked around it by using `Url.Action` then calling `.Replace("%2F", "/")` on the resulting string. Ugly but it works: https://github.com/Daniel15/Website/commit/26b1d2ad8c307afda07d70769265ea71ce775d2c

[2017-05-02 17:52] DamianEdwards commented on #363
@rynowak @Eilon comments?

[2017-05-02 23:47] Eilon commented on #363
We'll see if we can take another look at this. The problem, if I recall, isn't so much with how to encode slashes, but rather what to do when they come back in. I believe that servers/reverse-proxies such as IIS (and no doubt others) will *decode* the slashes on the way in, so you don't get round-tripping of data. We spent a lot of time back in MVC 1.x-5.x trying to make this work and never could.

[2017-05-03 06:47] Daniel15 commented on #363
Why would the slashes be encoded in the first place? If I have a route like `foo/{*path}`, hitting `/foo/bar/baz` is a valid path. I never had issues with that in older ASP.NET MVC versions, other than IIS6 which is not really a problem these days.

[2017-05-03 16:24] Eilon commented on #363
I believe that an incoming URL in the form `http://localhost/foo/bar` is *different* from `http://localhost/foo%2fbar`. The first URL has a path with two segments: `foo` and `bar`. The second URL has a path with one segment: `foo/bar` (once it's decoded).

[2017-05-03 16:45] kaa commented on #363
Arguably, if it was a "normal" path segment, but this is specifically a "catch all" path segment which by its nature is going to contain slashes in unencoded form. For a normal path segment the current implementation is the expected behavior of course.

Currently there is no way to create an url using the UrlHelper that fits your first form, as far as I understand. This is what we're asking for.

[2017-05-03 17:15] Daniel15 commented on #363
Yeah, @Eilon  I should have clarified that this is a catchall segment, so it should capture everything including slashes.

The actual routing is working fine, it's just the URL builder that's incorrectly HTML encoding the slashes.

[2017-05-11 21:26] #239 closed

[2017-05-11 21:26] #260 closed

[2017-05-11 21:26] #282 closed

[2017-05-11 21:26] #289 closed

[2017-05-11 21:26] #321 closed

[2017-05-11 21:26] #328 closed

[2017-05-11 21:26] #340 closed

[2017-05-11 21:27] Eilon commented on #400
This issue was moved to aspnet/Mvc#6256

[2017-05-11 21:27] #400 closed

[2017-05-11 21:39] Eilon commented on #398
I believe that TemplateMatcher (and, in fact, all of Routing's built-in parsing stuff) is specifically about working with the "path" portion of the URL. It is not designed to work with any other part of the URL (scheme, port, host, query string, etc.). For this reason it needs to use many URL-path-specific APIs, because rules for various parts of the URL are quite different with regard to what is

[2017-05-11 21:39] #398 closed

[2017-05-11 23:46] Eilon commented on #391
Hmm so Mono appears to have unusual behavior here, but perhaps MVC is doing something weird as well, which causes the Mono behavior difference to be problematic?

@rynowak - do you feel it's worth looking into why MVC is doing why it's doing, or consider this a Mono bug and close this issue?

[2017-05-12 02:10] Daniel15 commented on #391
This has been fixed in Mono: https://bugzilla.xamarin.com/show_bug.cgi?id=53690. Let's just close this out.

[2017-05-12 02:10] #391 closed

[2017-05-12 02:10] rynowak commented on #391
Awesome. thanks

[2017-05-12 23:00] natemcmaster opened #407 "Investigate skipped TemplateParser tests"
There are two tests in TemplateParserTests that are skipped on all tests runs because they fail.

- Parse_ComplexSegment_OptionalParameterFollowingPeriod_LastSegment
- Parse_ComplexSegment_OptionalParametersSeperatedByPeriod_Invalid

[2017-05-18 22:35] Eilon commented on #326
We did a review of all the breaking changes (proposed or done) and with @DamianEdwards and others we felt that the value here wasn't sufficient to warrant this breaking change. It's a fairly harmless behavior, which apparently hasn't bothered any customers, so closing this as Won't Fix.

[2017-05-18 22:35] #326 closed

[2017-05-23 21:39] ryanbrandenburg opened #410 "Don't depend on common.props in samples"
We shouldn't depend on common in samples. Import dependency.props instead and add the explicity reference to NETStandard.Library.NETFramework

[2017-06-09 14:41] aalcutt opened #412 "Int parameter constraint is greedily splitting"
Brought up in this [stackoverflow post](https://stackoverflow.com/questions/40009935/asp-net-core-route-attributes-id-and-hyphenated-slug-separated-by-a-hyphen) Not my stackoverflow post but it was the same issue I encountered and there is no good way to work around this.

Trying to use a route that is like /item/{id:int}-{name} doesn't work when name has hyphens because it will split the id param

[2017-06-09 22:19] Eilon commented on #350
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:19] #350 closed

[2017-06-09 22:19] Eilon commented on #293
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:19] #293 closed

[2017-06-21 21:55] chrisjmccrum commented on #279
I'm actually having this same issue, but it's not stopping my code from working.  It seems like something is happening behind the scenes that's not kosher or at the very least reporting incorrectly in the logs.
![deadbolt_api_ _dotnet_ _dotnet_run](https://user-images.githubusercontent.com/1857216/27408416-732cfa94-56aa-11e7-8607-ef3ecd1aeb46.png)

[2017-06-21 21:57] rynowak commented on #279
@chrisjmccrum can you open a new issue and describe what you think is going wrong? We will very quickly lose track of any feedback posted on closed issues.

[2017-06-22 12:28] SteveSandersonMS commented on #407
Both of these were fixed in #408 and are no longer skipped.

[2017-06-22 12:28] #407 closed

[2017-06-22 17:41] rynowak commented on #407
Cool beans!

[2017-06-29 21:52] rynowak commented on #242
Not happening for 2.0.0

[2017-06-30 15:41] SteveSandersonMS commented on #377
Just discussed this with @rynowak. The big question is how we want to deal with async support:

 * As Ryan notes above, the existing `TreeRouter` works with `IRouter` routes, where the process of matching them against an incoming context is (in general) asynchronous. Having to make an async call to each candidate route in series isn't good for perf.
 * Fortunately, MVC's attribute routing always c

[2017-06-30 15:43] rynowak commented on #377
Thanks, moving this to 2.1.0

[2017-07-05 16:49] Eilon commented on #412
Unfortunately this is just not supported in routing. It's recommended to use the `/` character to separate these data values because splitting on `/` is the first thing that happens and the only reliable way to parse this data. An alternative is to capture the entire segment as a single field, e.g. `item/{complexdata}` and then later parse `complexData` however you want.

[2017-07-05 16:49] #412 closed

[2017-07-26 10:53] Mardoxx opened #419 "Restrict route to namespace"
https://stackoverflow.com/questions/34306891/restrict-route-to-controller-namespace-in-asp-net-core

Is this achievable yet within the supplied libraries? Is it a planned future feature?

[2017-07-27 03:59] Eilon commented on #419
Closing because this looks like a dup of https://github.com/aspnet/Mvc/issues/6570.

[2017-07-27 03:59] #419 closed

[2017-07-27 07:06] Mardoxx commented on #419
Does this not belong here instead?

On 27 Jul 2017 4:59 am, "Eilon Lipton" <notifications@github.com> wrote:

[2017-07-27 19:35] Eilon commented on #419
@Mardoxx - the selection of controllers/namespaces is an MVC concern. Routing doesn't know what it's routing to.

[2017-08-01 17:45] dazinator opened #420 "Consider providing a composite router"
`IRouter` and `IFileProvider` seem to be very similar in nature - i.e they resolve some request / path to some end point / handler.
With `IFileProvider` there is a `CompositeFileProvider` so you can wrap an array of `sub` IFileProviders to incorporate files from different sources.
I have just had to implement a similar concept for `IRouter` i.e a Composite Router that wraps an array of IRouters an

[2017-08-04 18:06] Eilon commented on #420
I believe that nested routing is already supported. In fact, if you look at IRouteCollection, you can see that it implements IRouter.

[2017-08-04 18:06] #420 closed

[2017-08-04 18:32] dazinator commented on #420
Ah I see - thank you.
So I need not have implemented my own Composite `IRouter` - doh!
I do need to be able to tell which `IRouter` has handled the request. Looking at the `RouteCollection` class I think I can just look at `context.RouteData.Routers` to work that out. I am assuming if thats a collection, then the last router will be the one that is handling the request. I'll expeirment with that.

[2017-08-04 18:34] dazinator opened #421 "[Question] - Nancy"
Has anyone done any integration between asp.net core routing and nancy modules? Is this possible (I think Nancy is using OWIN)

[2017-08-04 18:48] rynowak commented on #420
That should do what you want, that's what we use inside of MVC when we need to find out things

[2017-08-07 21:05] Eilon commented on #421
Not that I'm aware of. Would it make sense to contact the Nancy authors to see their thoughts on this?

[2017-08-08 09:04] dazinator commented on #421
Their thoughts were: https://github.com/NancyFx/Nancy/issues/2780
Basically could I use the `owin bridge` to get it working. I am not really sure how the owin bridge works so I need to do a little more research on that. Meanwhile if anyone comes across this and has any thoughts (or even better, examples) that would be very helpful :-)

[2017-08-08 09:30] davidfowl commented on #421
Nancy has their own routing system so it's not quite what you want. You're pipeline will end up looking like this:

[code]

I assume you mean MVC controller instead of MVC module (since that's not a thing), or maybe you have your own concept of modules?

You can use a combination of `MapMiddlewareroute` (https://github.com/aspnet/Routing/blob/32721a0ad086e41b6084abbb82dae4aa1b3d67d0/src/Microsoft.

[2017-08-08 14:04] dazinator commented on #421
Yeah this! In this instance, an ASP.NET MVC "Module", and a Nancy "Module" are both instances [of my concept of a RoutedModule](https://github.com/dazinator/Dotnettency/blob/develop/src/Dotnettency.Modules/IRoutedModule.cs)
which just means they are activated similar to `startup` classes, but they they register their services into their own dedicated child container, and they also must register so

[2017-08-08 14:33] dazinator commented on #421
Also the duplicate route checking seems like a big overhead per http request that I'd like to avoid :-(

[2017-08-08 15:08] dazinator commented on #421
@davidfowler I think what I would really prefer to happen, is to have a `RouteHandler` on the asp.net core side, that when invoked, directly invokes a corresponding route handler on an owin based route. In other words I'd like to bypass the router in the owin pipeline and just map to a route handler directly. Do you think that sounds possible?

[2017-08-08 15:21] davidfowl commented on #421
If each module is its own middleware pipeline, how would that work?

I don't understand what you mean by that. What is an owin based route?

Can you clarify, what code exists on the other side of the OWIN bridge? What is the "owin" router?

[2017-08-08 19:52] dazinator commented on #421
and

So to clarify (apologies) the stuff on the OWIN side is all `Nancy` specific stuff - I should have said `Nancy` rather than `OWIN` to make that more clear. In terms of what that stuff is - [this picture is the easiest way to see that at a glance](https://github.com/NancyFx/Nancy/wiki/Lifecycle-of-a-Nancy-Application)

Yeah this is the problem. My idea would be:

1. Evaluate the nancy routes o

[2017-08-09 22:29] dazinator commented on #421
Conclusion of this was, I ended up writing aspnet core based middleware to host nancy, dropping the need for the owin bridge. Nancy still uses its own routing, and for the time being I have given up on  bridging that with asp.net core routing. Whichever is higher in the middleware pipeline can steal the request, and I am ok with that for the time being.

[2017-08-09 22:29] #421 closed

[2017-08-11 23:38] NinoFloris opened #422 "If non area route is first and can theoretically match (but actually no controller/action), link generation will generate incorrect urls"
A non area route should not match a route that has Area set in the RouteData

1. `UrlHelper.Action()`
2. Calls GetVirtualPath with `routeName: null` (usually the router on UrlHelper is a RouteCollection)
3. RouteCollection will when routeName == null do a loop over all routes and call GetVirtualPath on each of them until the first match.

However for [RouteCollection](https://github.com/aspnet/Rou

[2017-08-22 00:15] rynowak opened #423 "Deep dive on current routing design and generate some insights"
Deep dive on current routing design and generate some insights

Areas:
- Big Picture (IRouter, Middleware, startup experience)
- [Default Implementation](https://github.com/aspnet/Routing/tree/dev/src/Microsoft.AspNetCore.Routing/Template)
- Conventional routing used as attribute routing
- Route Value Invalidation
- Attribute Routing (precedence and behavior)
- MVC Action Selection and IActionCons

[2017-08-28 21:21] rynowak commented on #423
@jbagga done?

[2017-08-28 21:24] rynowak opened #424 "Add new projects for dispatcher work"
Create the following new projects in the Routing repo/solution
[code]

[2017-08-28 21:25] rynowak opened #425 "Define integration test infrastructure"
We need to define what integration tests should look for for the dispatcher

[2017-08-28 21:31] rynowak opened #426 "Add basic abstractions"
[code]

[2017-08-29 00:01] rynowak opened #427 "Add a basic sample that selects a RequestDelegate"
Add some code to the sample that will select a `RequestDelegate` and *tunnel* it through some middleware in between.

It's OK to start this with all code in the sample. Do this without copying any routing code into the project. We don't need it to do something *real* just to see the abstractions.

[2017-08-29 00:02] rynowak opened #428 "Add some code to the sample that will 'select' an address and generate a URL"
Add some code to the sample that will 'select' an address and generate a URL

It's OK to start this with all code in the sample. Do this without copying any routing code into the project. We don't need it to do something *real* just to see the abstractions.

[2017-08-31 00:19] #423 closed

[2017-08-31 01:10] #424 closed

[2017-08-31 01:10] rynowak opened #431 "Add new packages to coherence and merge to dev"
See:  https://github.com/aspnet/Coherence/blob/dev/packages/packages.key.txt

Add the new packages to https://github.com/aspnet/Coherence/blob/dev/packages/packages.csv

category should be shipoob

[2017-08-31 01:22] #426 closed

[2017-08-31 01:22] #427 closed

[2017-08-31 09:36] andreasandreou opened #432 "Scoped objects set in middleware are lost after Routing"
Hi guys,

I have an object like below:

[code]

and I register a scoped service for it like below:

`services.AddScoped<MyObject>();`

then I have a middleware that sets a value for this object. This middleware is added before AddMvc(). All middlewares before AddMvc() that take MyObject using DI can access the value I set in the middleware. Everything after AddMvc() including my controllers get an

[2017-08-31 09:38] davidfowl commented on #432
This doesn't sound like it has anything to do with routing. How are you resolving the ScopedObject?

[2017-08-31 09:44] andreasandreou commented on #432
using dependency injection, i.e.
`MyController(MyObject myObject){...}`

[2017-08-31 10:29] davidfowl commented on #432
That sounds highly unlikely. Can you put your sample project on github? That'll make it easier to investigate

[2017-08-31 11:33] andreasandreou commented on #432
My company policies do not allow that but it is easy to replicate

1. Create new project in VS using ASP.NET Core Web Application (.Net Core) template
2. Add a class in the project with the following definition:
[code]
3. Add a middleware cclass in the project with the following definition
[code]
4. add the following line in StartUp.cs before services.AddMvc() line
`services.AddScoped<MyObject>();

[2017-08-31 11:59] andreasandreou commented on #432
Injecting MyObject in Invoke method of middleware instead of in the constructor solved my issue

[2017-08-31 11:59] #432 closed

[2017-09-01 00:00] Eilon commented on #422
@kichalla can you take a look to see what's going on here? It's hard to tell from a glance if this is by design or not.

[2017-09-01 17:08] rynowak commented on #422
https://github.com/aspnet/Announcements/issues/120

[2017-09-01 17:28] NinoFloris commented on #422
Ok, we fixed it for now by having all of our routes attached to areas. What would be nice then is being able to specify a default area, which is why we had our default routes in the first place.

[2017-09-01 17:44] rynowak commented on #422
If you can provide an example (with code) of what your routes look like we can try to help.

[2017-09-01 17:49] #431 closed

[2017-09-01 18:08] NinoFloris commented on #422
[code]

Specifically customer clashes with default as arealess default routes match customer/project/{optionalfragments} as well

We're basically trying to get github style routing working.
This means base paths like account/logout but also NinoFloris/MyProject
Internal is not really an issue as it has a literal prefix

[2017-09-01 19:16] rynowak commented on #422
We have a route constraint that will enforce the the route value matches something real. You could apply that to controller and action: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Routing/KnownRouteValueConstraint.cs

[code]

This will verify on URL matching and URL generation that your controller is an existing controller. Customize the code of this to your liking.. f

[2017-09-01 19:20] NinoFloris commented on #422
Ahh nice that constraint will work just fine I suppose

[2017-09-01 19:22] NinoFloris commented on #422
I'll try that, if it doesn't quite work I'll reopen 😄  thank you for your time and suggestions 👍

[2017-09-01 19:22] #422 closed

[2017-09-01 21:02] #428 closed

[2017-09-03 19:17] DevelAx opened #435 "LowercaseUrls = true in RouteOptions doesn't affect URLs with non-Roman characters"
In ASP.NET MVC CORE 2.0

[code]

`<a asp-action="New-Post">New post</a>`

works fine giving URL like http://domain/controller/new-post
But this one

`<a asp-action="Новая-Публикация">Новая публикация</a>`

produces URL like http://domain/controller/Новая-Публикация

**Seems like RouteCollection uses ToLowerInvariant() to lower-case the URL:** https://github.com/aspnet/Routing/blob/032bcf43b2cefe64

[2017-09-05 20:25] Eilon opened #436 "URL generation should be able to be keyed off of non-string elements"
Today's routing system is based entirely off of string dictionaries. We should have a way to have other data types, such as `Type` (e.g. of an MVC controller) act as inputs into locating a route for URL generation.

[2017-09-06 01:14] Eilon commented on #435
Ah, I think the problem here is that the Cyrillic part of the URL is already URL-encoded (to `%xx%xx%xx` etc.), so the `ToLowerInvariant()` doesn't have much to do at that point.

I think to fix this we'd need to have somewhat different logic about how/where to do the lowercase operation.

[2017-09-06 05:04] develax commented on #435
Thank you for the clarification, Eilon!
Should I expect it will be fixed in the future?
In modern browsers encoded URLs are displayed in a friendly decoded form.

[2017-09-06 05:42] Eilon commented on #435
@DevelAx we'll investigate this issue some more to see what we can do. I'm not sure how easy it will be. Yes, browsers typically show the "friendly decoded" URL, which is why I had to look at the "view source" of the page to get a hint of what was going on.

A not-so-fun workaround in the meantime is to just use lowercase letters everywhere 😄

[2017-09-06 05:57] DevelAx commented on #435
Ok, thank you!
Sure you will find the most graceful way to fix it.

[2017-09-06 17:22] rynowak opened #437 "Move the two middleware into .Dispatcher"
Move the dispatcher middleware and end middleware into the .Dispatcher project

[2017-09-06 17:24] rynowak opened #438 "Make the Dispatcher Middleware use Route Templates"
Use the RouteTemplate and TemplateMatcher classes in the dispatcher middleware

[2017-09-06 17:25] rynowak opened #439 "Add logging"
We should add logging to:
- [ ] DispatcherMiddleware
- [ ] EndpointMiddleware
- [ ] DispatcherBase + all subclasses
- [ ] EndpointSelector + all subclasses

Take a stab at this and try to figure out the ideal things to log - use routing as an inspiration.

[2017-09-06 17:37] rynowak opened #440 "Build initial statup experience"
[code]
Step 1:
- Implement IStartupFilter https://andrewlock.net/exploring-istartupfilter-in-asp-net-core/
- In UseDispatcher - add a 'magic' token to the app.Properties
- In your startup filter, look for the magic token and then add terminator middleware if is present

[2017-09-07 23:37] Eilon commented on #435
Moving to Backlog for now because this turns out to be quite complicated to fix.

However, we're looking at some bigger changes to Routing in the near future and we'll try to account for fixing this in the new design.

[2017-09-09 00:05] rynowak opened #441 "Tolerate a leading / or ~/ on conventional routes"
We throw an exception today if you do this, but we allow it in attribute routes. We should allow this.

When we generate a url using a route like `"~/foo"` the resulting url should be "/foo" not `"~/foo"`

[2017-09-11 22:11] #437 closed

[2017-09-11 22:11] #440 closed

[2017-09-14 22:25] #438 closed

[2017-09-15 00:12] jbagga opened #444 "URL disambiguation/mapping to endpoints for Dispatcher"
Implement URL to endpoint disambiguation algorithm.

cc @rynowak

[2017-09-27 18:17] rynowak commented on #439
/cc @anurse - are there any changes in logging/diagnostics practices we should be aware of?

[2017-09-27 18:30] anurse commented on #439
One the one, as referenced in various issues (https://github.com/aspnet/SignalR/issues/876 https://github.com/aspnet/Hosting/issues/1205 https://github.com/aspnet/Mvc/issues/6818): make sure that when you specify an Event ID, you use `new EventId([number], "[name]")` rather than just an `int`. Having names associated with the events makes it much easier to filter and avoids having to look up obscu

[2017-09-27 18:31] anurse commented on #439
That and: Log lots, use Trace if you're worried about logging too much :).

[2017-09-27 19:04] rynowak opened #452 "Productize the HttpMethodEndpointSelector"
Move https://github.com/aspnet/Routing/blob/dev/samples/DispatcherSample/HttpMethodEndpointSelector.cs and apply some polish to it

[2017-09-27 19:04] rynowak opened #453 "Add tests for our EndpointSelectors"

[2017-09-27 19:05] rynowak opened #454 "Make our endpoint selectors respond to updates"

[2017-09-27 19:07] rynowak opened #455 "Add TreeDispatcher"
We need a dispatcher implementation based on attribute/tree routing. This should be plugged in by default at the first position

[2017-09-27 19:07] rynowak opened #456 "Create an experience for configuring conventional routes"

[2017-09-27 19:08] rynowak opened #457 "Polish startup experience for dispatcher"

[2017-09-27 19:09] rynowak opened #458 "Add fallback addresses"
We want the dispatchers to be able to work with 'fallback' addresses

This is an address which works like a conventional route - it can generate a URL when no other address matches

[2017-09-27 19:09] rynowak opened #459 "Figure out when the handler RequestDelegate should be created"

[2017-09-28 18:14] rynowak commented on #425
44d08dcb2b4bbf1f01d4d2682edc02c2927e32bb

[2017-09-28 18:14] #425 closed

[2017-09-28 20:07] rynowak commented on #455
The tree dispatcher is added in 5fed462123412a6bb657992ea6dbb9b35f2a377f

Closing this item, will track the startup work elsewhere

[2017-09-28 20:07] #455 closed

[2017-09-30 00:58] jbagga commented on #444
@rynowak Should this be closed? Since we are not going forward with this work item

[2017-09-30 01:00] rynowak commented on #444
Yes, close please

[2017-09-30 01:00] #444 closed

[2017-10-02 17:30] #453 closed

[2017-10-05 22:15] #452 closed

[2017-10-06 17:11] rynowak commented on #459
We're creating a the delegate as a `Func<RequestDelegate, RequestDelegate>` in the dispatcher middleware to support decoration, and to allow getting `next` inside the endpoint middleware.

56ae2e0

[2017-10-06 17:11] #459 closed

[2017-10-06 17:12] rynowak opened #466 "Port TemplateParser/RouteTemplate to the dispatcher project"
Move the implementations of the Template Parser and Template object model to the dispatcher project.

We may want to do some redesign of these things, but for now let's just move/rename them.

[2017-10-06 17:13] rynowak commented on #466
The implemenation in routing should be updated to use the code in dispatcher as much as possible.

[2017-10-08 02:45] jbagga commented on #439
@rynowak Should the `EndpointSelectorContext` have a logger? Then `HttpMethodEndpointSelector` can use context.Logger inside the `SelectAsync` [method](https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Dispatcher/HttpMethodEndpointSelector.cs#L12). Is it correct to get that from DI [here](https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNetCore.Dispatcher/EndpointSelec

[2017-10-09 00:42] rynowak commented on #439
No, we don't usually pass services this way. Let's discuss this at the meeting tomorrw

[2017-10-11 23:32] jbagga commented on #466
@rynowak Is moving the `Routing.Dispatcher` namespace part of this work item? We use `Routing` classes like `RouteValueDictionary` and some internal routing stuff there. Should those be moved now?

[2017-10-12 18:16] rynowak opened #468 "Consider adding a configuration experience tailored towards localization"
We might want the ability to configure something like a *global* prefix for routes that includes a locale. This would be super simple to use with the localization middleware

[2017-10-12 19:18] rynowak commented on #466
I would start by moving the `RouteTemplate` and ``TemplateParser` to the dispatcher project.  If these use RVD, update the to use `DispatcherValueCollection`

[2017-10-13 17:34] #439 closed

[2017-10-16 17:43] rynowak opened #471 "Polish TemplateParser and Template"
We need to evaluate the API surface exposed by the classes used to parse and express templates

[2017-10-16 17:44] rynowak opened #472 "Port TreeRouter/TreeMatcher and related infrastructure"

[2017-10-17 18:53] #466 closed

[2017-10-18 00:54] rynowak opened #475 "InlineRouteParameterParser shouldn't exist"
`InlineRouteParameterParser` is a separate static class from the `TemplateParser` with its own public entry point that is responsible for parsing the contents of a parameter.

Example:
`{controller=Home}/{action=Index}/{id?}`

In this case it would be called once for `controller`, once for `action` and once for `id?`.

There are some layering problems with this API overall
- It doesn't handle esca

[2017-10-18 00:55] rynowak commented on #475
We should do this after preview 1. It's not a critical issue

[2017-10-18 00:57] rynowak opened #476 "TemplateParser should be able to report multiple errors"
Currently the template parser code throws an argument exception with the first error it encounters in parsing a route template.

We should have a custom exception type for this and expose rich information including the original template and **all** errors that were found. This will be more useful to extenders and will be needed by us when we do richer diagnostics functionality

[2017-10-18 00:57] rynowak commented on #476
We should do this after preview 1 as it's not high priority, just polish

[2017-10-18 01:12] rynowak commented on #475
I'm putting a few notes in the code related to this. Do a search for `#475` when you fix this.

[2017-10-24 15:33] rynowak commented on #471
Considering this done once we get a chance to review it.

[2017-10-26 14:59] rynowak commented on #471
We reviewed it. It's done 👍

[2017-10-26 14:59] #471 closed

[2017-11-01 13:11] Kralizek commented on #367
Too late to the party?

How about adding support to DI in the lambda we pass to the extension method? Very similarly to what we already have when authoring a middleware

[code]

[2017-11-07 18:55] Eilon commented on #436
Moving to Backlog as there are no plans to implement this at this time.

cc @rynowak FYI because of Dispatcher, though this isn't directly related (but might be interesting)

[2017-11-07 19:55] jbagga opened #489 "Refactor UrlMatchingTree into shared source"
`UrlMatchingTree` and related infrastructure is used by `Routing` and `Dispatcher` and can be moved to a shared source if converted to generic types and defining `if,else` blocks

[2017-11-08 17:43] Eilon opened #491 "Get final package descriptions"
We put temporary ones in this PR: https://github.com/aspnet/Routing/pull/490

[2017-11-13 19:40] #489 closed

[2017-11-14 23:39] jbagga opened #493 "Move TreeEnumerator to shared source"
Move the `TreeEnumerator` code to shared source as it is used by both `Routing` and `Dispatcher`.

cc @rynowak

[2017-11-15 19:18] #493 closed

[2017-11-16 13:20] EvilBeaver commented on #325
Why it's wontfix?

[2017-11-16 17:48] Eilon commented on #325
@EvilBeaver please see @rynowak 's comment. There isn't anything more to log in this case.

[2017-11-17 09:52] EvilBeaver commented on #325
@Eilon i'm looking at @rynowak comment and see "agreed, we CAN do better". For me, this means "There is something else we can log" Isn't it?

[2017-11-17 16:08] rynowak commented on #325
@EvilBeaver what additional info could we provide that would help?

[2017-11-17 16:08] Eilon commented on #325
Oops sorry I somehow misread @rynowak 's comment several times! My bad.

[2017-11-17 18:23] jbagga opened #495 "Move AddEntryToTree to shared source"
The code is duplicated in `Routing` and `Dispatcher`. Find it a home in shared source.

[2017-11-18 16:02] EvilBeaver commented on #325
@rynowak I missed additional log info for process of creating ActionDescriptors by ApplicationModel. Thanks for opened sources - I looked inside and found what framework has wanted from me.

Additional log can be - building app-model, processing all action-controller infrastructure on startup, examining DecisionTree for selecting correct action... Many corners of framework startup are not covered

[2017-11-18 16:03] EvilBeaver commented on #325
I suppose @kichalla as original issue author can also tell some use-cases

[2017-11-20 21:46] jbagga opened #498 "Use newest version of image in Appveyor"
See https://github.com/aspnet/Mvc/issues/7071

[2017-11-20 23:13] #495 closed

[2017-11-27 23:09] Eilon commented on #325
Reactivating in case someone wants to take a stab at this.

[2017-12-03 07:46] epsitec opened #502 "Encoding a slash as %2F in URI produces unexpected escaped character in route value"
I am using `RouteBuilder.MapGet()` with this pattern:

[code]

and I need to be able to pass it a town name which contains a `/` (such as `Belmont/Lausanne`) - which is done by using the `address/1092/Belmont%2FLausanne`. The routing works, however, the route value for `town` is returned with the string `Belmont%2FLausanne`.

If I use `%25`  or other characters which need to be escaped in the URI,

[2017-12-18 19:51] #498 closed

[2017-12-27 18:29] mkArtakMSFT opened #504 "Unusual route values appearing when using `Url.Action`"
_From @MorayM on December 6, 2017 9:31_

I'm trying to create a link to the following GET:

    public class FooController : Controller
    {
        [HttpGet]
        [Route("Foo/Apply/BarDetails/Part/{id}")]
        public IActionResult BarDetails(int id)
        {
        }
    }

In my view I'm creating a URL with

    Url.Action("BarDetails", "Foo", new {id = 1})

I was expecting this to gene

[2017-12-27 18:29] mkArtakMSFT commented on #504
_From @MorayM on December 6, 2017 14:55_

OK, I've figured it out. It's mostly a quirk in the the way I've written my `FooController` but as `FooController` originally came from an MVC5 project where the routing worked I thought I'd log it and leave it to the team to decide if the current MVC Core behaviour is a bug or a feature!

My `FooController` is responsible for a form that consists of ~250

[2017-12-27 18:29] mkArtakMSFT commented on #504
_From @MorayM on December 6, 2017 14:57_

Hmm, looking at the eventual source I guess this should probably be moved to the [Routing](https://github.com/aspnet/Routing) module?

[2017-12-27 18:29] mkArtakMSFT commented on #504
_From @davidliang2008 on December 19, 2017 19:40_

I have the exact same issue! `@Url.Action()` and even the tag helper `asp-controller` and `asp-action` would have the route value appended at the end of the URL.

And that route value looks like the id of the current request URL.

For example, if I have an edit page /product/edit/10 but I want to display edit links for other products on that page,

[2017-12-27 18:31] mkArtakMSFT commented on #504
@pranavkm, can you please handle this? /cc FYI @rynowak, this might be an actual routing bug

[2017-12-27 23:13] rynowak commented on #504
This definitely intended, whether or not it's ideal is another question.

You can also configure the order in which routes are processed by setting an order on the route attribute. Setting a lower order will cause that route to be processed first for both matching and link generation

[2018-01-02 01:56] aspnet-hello commented on #504
This issue was moved to aspnet/Home#2654

[2018-01-02 01:56] #504 closed

[2018-01-02 01:57] aspnet-hello commented on #502
This issue was moved to aspnet/Home#2655

[2018-01-02 01:58] #502 closed

[2018-01-02 01:58] aspnet-hello commented on #491
This issue was moved to aspnet/Home#2656

[2018-01-02 01:58] #491 closed

[2018-01-02 01:58] aspnet-hello commented on #476
This issue was moved to aspnet/Home#2657

[2018-01-02 01:58] #476 closed

[2018-01-02 01:59] aspnet-hello commented on #475
This issue was moved to aspnet/Home#2658

[2018-01-02 01:59] #475 closed

[2018-01-02 01:59] aspnet-hello commented on #468
This issue was moved to aspnet/Home#2659

[2018-01-02 01:59] #468 closed

[2018-01-02 02:00] aspnet-hello commented on #458
This issue was moved to aspnet/Home#2660

[2018-01-02 02:00] #458 closed

[2018-01-02 02:01] aspnet-hello commented on #457
This issue was moved to aspnet/Home#2661

[2018-01-02 02:01] #457 closed

[2018-01-02 02:01] aspnet-hello commented on #456
This issue was moved to aspnet/Home#2662

[2018-01-02 02:01] #456 closed

[2018-01-02 02:01] aspnet-hello commented on #454
This issue was moved to aspnet/Home#2663

[2018-01-02 02:01] #454 closed

[2018-01-02 02:01] aspnet-hello commented on #436
This issue was moved to aspnet/Home#2664

[2018-01-02 02:02] #436 closed

[2018-01-02 02:02] aspnet-hello commented on #435
This issue was moved to aspnet/Home#2665

[2018-01-02 02:02] aspnet-hello commented on #410
This issue was moved to aspnet/Home#2666

[2018-01-02 02:02] #410 closed

[2018-01-02 02:03] aspnet-hello commented on #380
This issue was moved to aspnet/Home#2667

[2018-01-02 02:04] aspnet-hello commented on #377
This issue was moved to aspnet/Home#2668

[2018-01-02 02:04] #377 closed